In [ ]:
import pandas as pd
import numpy as np

idx = pd.MultiIndex.from_arrays([
     ['warm', 'warm', 'cold', 'cold'],
     ['dog', 'falcon', 'fish', 'spider']],
     names=['blooded', 'animal'])
s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
s

In [2]:
s.var() # 默认level=None,ddof=1

11.666666666666666

In [3]:
s.std()

3.415650255319866

In [4]:
s.var(level=0) # 等价于s.var(level='blooded')

blooded
warm     2
cold    32
Name: legs, dtype: int64

In [5]:
s.std(level=0)

blooded
warm    1.414214
cold    5.656854
Name: legs, dtype: float64

In [6]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [8]:
print(df.var(), end='\n\n') # By default, NA values are ignored.
'''
skipna : bool, default True
    Exclude NA/null values when computing the result.
'''
print(df.var(skipna=False), end='\n\n')

one    12.205833
two     5.120000
dtype: float64

one   NaN
two   NaN
dtype: float64