In [ ]:
import  pandas as pd
import numpy as np

idx = pd.MultiIndex.from_arrays([
     ['warm', 'warm', 'cold', 'cold'],
     ['dog', 'falcon', 'fish', 'spider']],
     names=['blooded', 'animal'])
s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
s

In [13]:
s.sum()

14

In [14]:
s.sum(level='blooded') # 等价于:s.sum(level=0)

blooded
warm    6
cold    8
Name: legs, dtype: int64

In [15]:
df = pd.DataFrame([(np.nan, .3), (.0, .6), (.6, .0), (.2, .1)],
                   columns=['dogs', 'cats'])
df

   dogs  cats
0   NaN   0.3
1   0.0   0.6
2   0.6   0.0
3   0.2   0.1

In [16]:
df.sum()

dogs    0.8
cats    1.0
dtype: float64

In [ ]:
pd.Series([]).sum() # By default, the sum of an empty or all-NA Series is 0.

In [17]:
df.sum(axis=1) # 默认axis=0

0    0.3
1    0.6
2    0.6
3    0.3
dtype: float64

In [18]:
'''
skipna : bool, default True
    Exclude NA/null values when computing the result.
'''
df.sum(skipna=False)

dogs    NaN
cats    1.0
dtype: float64