In [ ]:
import pandas as pd

s = pd.Series([90, 91, 85])
s

In [3]:
s.pct_change()

0         NaN
1    0.011111
2   -0.065934
dtype: float64

In [4]:
'''
periods : int, default 1
    Periods to shift for forming percent change.
'''
s.pct_change(periods=2)

0         NaN
1         NaN
2   -0.055556
dtype: float64

In [8]:
df = pd.DataFrame({
     'FR': [4.0405, 4.0963, 4.3149],
     'GR': [1.7246, 1.7482, 1.8519],
     'IT': [804.74, 810.01, 860.13]},
     index=['1980-01-01', '1980-02-01', '1980-03-01'])
df

                FR      GR      IT
1980-01-01  4.0405  1.7246  804.74
1980-02-01  4.0963  1.7482  810.01
1980-03-01  4.3149  1.8519  860.13

In [9]:
df.pct_change()

                  FR        GR        IT
1980-01-01       NaN       NaN       NaN
1980-02-01  0.013810  0.013684  0.006549
1980-03-01  0.053365  0.059318  0.061876

In [10]:
frame = pd.DataFrame({
     '2016': [1769950, 30586265],
     '2015': [1500923, 40912316],
     '2014': [1371819, 41403351]},
     index=['GOOG', 'APPL'])
frame

          2016      2015      2014
GOOG   1769950   1500923   1371819
APPL  30586265  40912316  41403351

In [13]:
df.pct_change(axis=1) # 默认axis=0

            FR        GR          IT
1980-01-01 NaN -0.573172  465.624145
1980-02-01 NaN -0.573225  462.339435
1980-03-01 NaN -0.570813  463.458124