In [ ]:
import numpy as np
import pandas as pd

s = pd.Series([2, np.nan, 5, -1, 0])
s

In [3]:
s.cumprod() # By default, NA values are ignored.

0     2.0
1     NaN
2    10.0
3   -10.0
4    -0.0
dtype: float64

In [4]:
'''
skipna : boolean, default True
    Exclude NA/null values. If an entire row/column is NA, the result will be NA.
'''
s.cumprod(skipna=False)

0    2.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

In [5]:
df = pd.DataFrame([[2.0, 1.0],
                    [3.0, np.nan],
                    [1.0, 0.0]],
                    columns=list('AB'))
df

     A    B
0  2.0  1.0
1  3.0  NaN
2  1.0  0.0

In [6]:
df.cumprod()

     A    B
0  2.0  1.0
1  6.0  NaN
2  6.0  0.0

In [7]:
df.cumprod(axis=1) # 默认aixs=0

     A    B
0  2.0  2.0
1  3.0  NaN
2  1.0  0.0