In [30]:
from datasets import Dataset
import pandas as pd
import numpy as np

### from_dict

In [31]:
data = Dataset.from_dict(
    # Mapping of strings to Arrays or Python lists.
    mapping={"a": np.array([1, 2, 3]), "b": [3, 4, 5]}
)
print(data)
print(data[0])

Dataset({
    features: ['a', 'b'],
    num_rows: 3
})
{'a': 1, 'b': 3}

### from_list

In [32]:
data = Dataset.from_list(
    # A list of mappings of strings to row values.
    # Note that the keys of the first entry will be used to determine the dataset columns, regardless of what is passed to features.
    mapping=[{"a": 1, "b": 3}, {"a": 2, "b": 4}, {"a": 3, "b": 5}]
)
print(data)
print(data[0])

Dataset({
    features: ['a', 'b'],
    num_rows: 3
})
{'a': 1, 'b': 3}

### from_pandas

In [33]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': np.array([1.5, 1.7, 3.6, 2.4, 2.9, 3.2])}
frame1 = pd.DataFrame(data)
frame1

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [34]:
data = Dataset.from_pandas(frame1)  # 类型:datasets.arrow_dataset.Dataset;不含索引
print(data)
print(data[0])

Dataset({
    features: ['state', 'year', 'pop'],
    num_rows: 6
})
{'state': 'Ohio', 'year': 2000, 'pop': 1.5}

### from_json

In [35]:
text = Dataset.from_json(
    # Path(s) of the JSON or JSON Lines file(s).
    path_or_paths='../extra_dataset/from_xxx/output.jsonl'
)
text

Dataset({
    features: ['text'],
    num_rows: 16
})