In [ ]:
import  numpy as np
import  pandas as pd
'''
灵活算术方法
add,radd             加法(反向)
sub,rsub             减法(反向)
div,rdiv             除法(反向)
floordiv,rfloordiv   整除(反向)
mul,rmul             乘法(反向)
pow,rpow             幂次方(反向)
'''
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(a)
print(b)

In [6]:
print(a.add(b, fill_value=0)) # 不能对a,b均为NaN的元素进行填充(指定填充值为0)

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

In [7]:
print(a.rdiv(1, fill_value=0))

a    1.0
b    1.0
c    1.0
d    inf
dtype: float64

In [8]:
print(a.pow(3, fill_value=10))
print(a.rpow(3, fill_value=10)) # 反运算

a       1.0
b       1.0
c       1.0
d    1000.0
dtype: float64
a        3.0
b        3.0
c        3.0
d    59049.0
dtype: float64

In [9]:
df1 = pd.DataFrame(np.arange(18.).reshape((3, 6)),
                   columns=list('abcdef'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))
df1.loc[1, 'b'] = np.nan
df2.loc[1, 'b'] = np.nan
print(df1)
print(df2)

      a     b     c     d     e     f
0   0.0   1.0   2.0   3.0   4.0   5.0
1   6.0   NaN   8.0   9.0  10.0  11.0
2  12.0  13.0  14.0  15.0  16.0  17.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [10]:
df1 + df2

      a     b     c     d     e   f
0   0.0   2.0   4.0   6.0   8.0 NaN
1  11.0   NaN  15.0  17.0  19.0 NaN
2  22.0  24.0  26.0  28.0  30.0 NaN
3   NaN   NaN   NaN   NaN   NaN NaN

In [11]:
df1.add(df2, fill_value=0) # 不能对df1,df2均为NaN的元素进行填充

      a     b     c     d     e     f
0   0.0   2.0   4.0   6.0   8.0   5.0
1  11.0   NaN  15.0  17.0  19.0  11.0
2  22.0  24.0  26.0  28.0  30.0  17.0
3  15.0  16.0  17.0  18.0  19.0   NaN

In [12]:
1 / df1

          a         b         c         d       e         f
0       inf  1.000000  0.500000  0.333333  0.2500  0.200000
1  0.166667       NaN  0.125000  0.111111  0.1000  0.090909
2  0.083333  0.076923  0.071429  0.066667  0.0625  0.058824

In [13]:
df1.rdiv(1, fill_value=0)

          a         b         c         d       e         f
0       inf  1.000000  0.500000  0.333333  0.2500  0.200000
1  0.166667       inf  0.125000  0.111111  0.1000  0.090909
2  0.083333  0.076923  0.071429  0.066667  0.0625  0.058824

In [14]:
df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
                              'degrees': [360, 180, 360, 360, 540, 720]},
                             index=[['A', 'A', 'A', 'B', 'B', 'B'],
                                    ['circle', 'triangle', 'rectangle',
                                     'square', 'pentagon', 'hexagon']])
df = pd.DataFrame({'angles': [0, 3, 4],
                    'degrees': [360, 180, 360]},
                   index=['circle', 'triangle', 'rectangle'])
print(df_multindex)
print(df)

             angles  degrees
A circle          0      360
  triangle        3      180
  rectangle       4      360
B square          4      360
  pentagon        5      540
  hexagon         6      720
           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [15]:
df - pd.Series([1, 2], index=['angles', 'circle'] ) # 广播

           angles  circle  degrees
circle       -1.0     NaN      NaN
triangle      2.0     NaN      NaN
rectangle     3.0     NaN      NaN

In [16]:
df.sub(pd.Series([1, 2], index=['angles', 'circle']), axis=0) # 可指定axis=0(更加灵活)

           angles  degrees
angles        NaN      NaN
circle       -2.0    358.0
rectangle     NaN      NaN
triangle      NaN      NaN

In [17]:
print(df - [1, 2])

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [18]:
print(df.sub([1, 2], axis=1)) # 广播
print(df.sub([1, 2, 3], axis=0))

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358
           angles  degrees
circle         -1      359
triangle        1      178
rectangle       1      357

In [19]:
df.rdiv(df_multindex, level=1, fill_value=1) # 指定level=1

             angles  degrees
A circle        NaN      1.0
  triangle      1.0      1.0
  rectangle     1.0      1.0
B square        4.0    360.0
  pentagon      5.0    540.0
  hexagon       6.0    720.0