## 设置打印输出
1. display.max_columns
2. display.max_rows
3. display.precision
4. display.colheader_justify

In [12]:
import seaborn as sns
import pandas as pd
# set_options作用于整个.ipynb文件

In [13]:
# 显示的最大列数(参数设置为None代表显示所有列,也可以自行设置数字)
pd.set_option('display.max_columns', 3)

In [14]:
# 显示的最大行数(参数设置为None代表显示所有行，也可以自行设置数字)
pd.set_option('display.max_rows', 10)

In [15]:
# 小数位数设置输出显示精度
pd.set_option('display.precision', 3) # n是要显示的精度，应该是一个整数

In [16]:
# 控制列标题的对齐方式
pd.set_option('display.colheader_justify', 'right')  #right/left/center

In [17]:
titanic = sns.load_dataset("titanic")
titanic

     survived  ...  alone
0           0  ...  False
1           1  ...  False
2           1  ...   True
3           1  ...  False
4           0  ...   True
..        ...  ...    ...
886         0  ...   True
887         1  ...   True
888         0  ...  False
889         1  ...   True
890         0  ...   True

[891 rows x 15 columns]

In [18]:
tips = sns.load_dataset("tips")
tips

     total_bill  ...  size
0         16.99  ...     2
1         10.34  ...     3
2         21.01  ...     3
3         23.68  ...     2
4         24.59  ...     4
..          ...  ...   ...
239       29.03  ...     3
240       27.18  ...     2
241       22.67  ...     2
242       17.82  ...     2
243       18.78  ...     2

[244 rows x 7 columns]

In [19]:
pd.reset_option('display.precision') # 将一个或多个选项重置为其默认值

In [20]:
tips

     total_bill  ...  size
0         16.99  ...     2
1         10.34  ...     3
2         21.01  ...     3
3         23.68  ...     2
4         24.59  ...     4
..          ...  ...   ...
239       29.03  ...     3
240       27.18  ...     2
241       22.67  ...     2
242       17.82  ...     2
243       18.78  ...     2

[244 rows x 7 columns]

In [21]:
from contextlib import contextmanager
@contextmanager
def df_options(x, y):
    original_options = pd.get_option(x)
    pd.set_option(x, y)
    try:
        yield
    finally:
        pd.set_option(x, original_options)
        
with df_options('display.max_rows', None):
    print(tips)
    # 局部设置,用with做代码块区分

     total_bill  ...  size
0         16.99  ...     2
1         10.34  ...     3
2         21.01  ...     3
3         23.68  ...     2
4         24.59  ...     4
5         25.29  ...     4
6          8.77  ...     2
7         26.88  ...     4
8         15.04  ...     2
9         14.78  ...     2
10        10.27  ...     2
11        35.26  ...     4
12        15.42  ...     2
13        18.43  ...     4
14        14.83  ...     2
15        21.58  ...     2
16        10.33  ...     3
17        16.29  ...     3
18        16.97  ...     3
19        20.65  ...     3
20        17.92  ...     2
21        20.29  ...     2
22        15.77  ...     2
23        39.42  ...     4
24        19.82  ...     2
25        17.81  ...     4
26        13.37  ...     2
27        12.69  ...     2
28        21.70  ...     2
29        19.65  ...     2
30         9.55  ...     2
31        18.35  ...     4
32        15.06  ...     2
33        20.69  ...     4
34        17.78  ...     2
35        24.06  ...     3
36        16.31  ...     3
37        16.93  ...     3
38        18.69  ...     3
39        31.27  ...     3
40        16.04  ...     3
41        17.46  ...     2
42        13.94  ...     2
43         9.68  ...     2
44        30.40  ...     4
45        18.29  ...     2
46        22.23  ...     2
47        32.40  ...     4
48        28.55  ...     3
49        18.04  ...     2
50        12.54  ...     2
51        10.29  ...     2
52        34.81  ...     4
53         9.94  ...     2
54        25.56  ...     4
55        19.49  ...     2
56        38.01  ...     4
57        26.41  ...     2
58        11.24  ...     2
59        48.27  ...     4
60        20.29  ...     2
61        13.81  ...     2
62        11.02  ...     2
63        18.29  ...     4
64        17.59  ...     3
65        20.08  ...     3
66        16.45  ...     2
67         3.07  ...     1
68        20.23  ...     2
69        15.01  ...     2
70        12.02  ...     2
71        17.07  ...     3
72        26.86  ...     2
73        25.28  ...     2
74        14.73  ...     2
75        10.51  ...     2
76        17.92  ...     2
77        27.20  ...     4
78        22.76  ...     2
79        17.29  ...     2
80        19.44  ...     2
81        16.66  ...     2
82        10.07  ...     1
83        32.68  ...     2
84        15.98  ...     2
85        34.83  ...     4
86        13.03  ...     2
87        18.28  ...     2
88        24.71  ...     2
89        21.16  ...     2
90        28.97  ...     2
91        22.49  ...     2
92         5.75  ...     2
93        16.32  ...     2
94        22.75  ...     2
95        40.17  ...     4
96        27.28  ...     2
97        12.03  ...     2
98        21.01  ...     2
99        12.46  ...     2
100       11.35  ...     2
101       15.38  ...     2
102       44.30  ...     3
103       22.42  ...     2
104       20.92  ...     2
105       15.36  ...     2
106       20.49  ...     2
107       25.21  ...     2
108       18.24  ...     2
109       14.31  ...     2
110       14.00  ...     2
111        7.25  ...     1
112       38.07  ...     3
113       23.95  ...     2
114       25.71  ...     3
115       17.31  ...     2
116       29.93  ...     4
117       10.65  ...     2
118       12.43  ...     2
119       24.08  ...     4
120       11.69  ...     2
121       13.42  ...     2
122       14.26  ...     2
123       15.95  ...     2
124       12.48  ...     2
125       29.80  ...     6
126        8.52  ...     2
127       14.52  ...     2
128       11.38  ...     2
129       22.82  ...     3
130       19.08  ...     2
131       20.27  ...     2
132       11.17  ...     2
133       12.26  ...     2
134       18.26  ...     2
135        8.51  ...     2
136       10.33  ...     2
137       14.15  ...     2
138       16.00  ...     2
139       13.16  ...     2
140       17.47  ...     2
141       34.30  ...     6
142       41.19  ...     5
143       27.05  ...     6
144       16.43  ...     2
145        8.35  ...     2
146       18.64  ...     3
147       11.87  ...     2
148        9.78  ...     2
149        7.51  ...     2
150       14.07  ...     2
151       13.13  ...     2
152       17.26  ...     3
153       24.55  ...     4
154       19.77  ...     4
155       29.85  ...     5
156       48.17  ...     6
157       25.00  ...     4
158       13.39  ...     2
159       16.49  ...     4
160       21.50  ...     4
161       12.66  ...     2
162       16.21  ...     3
163       13.81  ...     2
164       17.51  ...     2
165       24.52  ...     3
166       20.76  ...     2
167       31.71  ...     4
168       10.59  ...     2
169       10.63  ...     2
170       50.81  ...     3
171       15.81  ...     2
172        7.25  ...     2
173       31.85  ...     2
174       16.82  ...     2
175       32.90  ...     2
176       17.89  ...     2
177       14.48  ...     2
178        9.60  ...     2
179       34.63  ...     2
180       34.65  ...     4
181       23.33  ...     2
182       45.35  ...     3
183       23.17  ...     4
184       40.55  ...     2
185       20.69  ...     5
186       20.90  ...     3
187       30.46  ...     5
188       18.15  ...     3
189       23.10  ...     3
190       15.69  ...     2
191       19.81  ...     2
192       28.44  ...     2
193       15.48  ...     2
194       16.58  ...     2
195        7.56  ...     2
196       10.34  ...     2
197       43.11  ...     4
198       13.00  ...     2
199       13.51  ...     2
200       18.71  ...     3
201       12.74  ...     2
202       13.00  ...     2
203       16.40  ...     2
204       20.53  ...     4
205       16.47  ...     3
206       26.59  ...     3
207       38.73  ...     4
208       24.27  ...     2
209       12.76  ...     2
210       30.06  ...     3
211       25.89  ...     4
212       48.33  ...     4
213       13.27  ...     2
214       28.17  ...     3
215       12.90  ...     2
216       28.15  ...     5
217       11.59  ...     2
218        7.74  ...     2
219       30.14  ...     4
220       12.16  ...     2
221       13.42  ...     2
222        8.58  ...     1
223       15.98  ...     3
224       13.42  ...     2
225       16.27  ...     2
226       10.09  ...     2
227       20.45  ...     4
228       13.28  ...     2
229       22.12  ...     2
230       24.01  ...     4
231       15.69  ...     3
232       11.61  ...     2
233       10.77  ...     2
234       15.53  ...     2
235       10.07  ...     2
236       12.60  ...     2
237       32.83  ...     2
238       35.83  ...     3
239       29.03  ...     3
240       27.18  ...     2
241       22.67  ...     2
242       17.82  ...     2
243       18.78  ...     2

[244 rows x 7 columns]

In [22]:
print(tips) # 退出with块时,将自动恢复选项值

     total_bill  ...  size
0         16.99  ...     2
1         10.34  ...     3
2         21.01  ...     3
3         23.68  ...     2
4         24.59  ...     4
..          ...  ...   ...
239       29.03  ...     3
240       27.18  ...     2
241       22.67  ...     2
242       17.82  ...     2
243       18.78  ...     2

[244 rows x 7 columns]