In [ ]:
import pandas as pd
import  numpy as np
from datetime import  datetime

In [3]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    2.082711
2011-01-05    0.273055
2011-01-07    0.493807
2011-01-08   -1.680267
2011-01-10    0.624699
2011-01-12    0.015528
dtype: float64

In [4]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [10]:
# 和其他Series类似,不同索引的时间序列之间的算术运算在日期上自动对齐
ts + ts[::2]

2011-01-02   -3.407680
2011-01-05         NaN
2011-01-07   -0.255478
2011-01-08         NaN
2011-01-10   -5.661454
2011-01-12         NaN
dtype: float64

In [5]:
# DatetimeIndex中的标量值是pandas的Timestamp对象
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [6]:
ts[stamp]

0.49380699757679286

In [8]:
# 还可以传递一个能解释为日期的字符串进行索引
print(ts['01/07/2011'], ts['20110107'])

0.49380699757679286 0.49380699757679286

In [9]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts.head(12)

2000-01-01   -0.839465
2000-01-02    0.357816
2000-01-03    0.042420
2000-01-04    1.019101
2000-01-05   -0.329475
2000-01-06   -0.725928
2000-01-07   -0.750796
2000-01-08   -0.529530
2000-01-09   -0.075686
2000-01-10    0.697471
2000-01-11   -1.067540
2000-01-12   -0.819926
Freq: D, dtype: float64

In [10]:
longer_ts['2001'].head() # 所有2001的数据

2001-01-01   -0.166166
2001-01-02   -0.453440
2001-01-03    0.950412
2001-01-04   -1.953119
2001-01-05    1.721664
Freq: D, dtype: float64

In [11]:
longer_ts['2001-05'] # 所有2001年5月的数据

2001-05-01   -2.021868
2001-05-02    0.895825
2001-05-03   -0.881286
2001-05-04    2.249709
2001-05-05   -2.388420
2001-05-06    1.483000
2001-05-07   -0.852537
2001-05-08   -0.079236
2001-05-09   -0.677477
2001-05-10   -1.067425
2001-05-11   -2.380751
2001-05-12   -0.177281
2001-05-13    0.550030
2001-05-14    0.576940
2001-05-15    1.152904
2001-05-16   -0.589660
2001-05-17   -0.689781
2001-05-18   -0.616909
2001-05-19    0.676030
2001-05-20    0.720253
2001-05-21   -1.328232
2001-05-22    0.623310
2001-05-23    0.858503
2001-05-24    0.899456
2001-05-25    0.846156
2001-05-26    0.819891
2001-05-27   -0.338424
2001-05-28   -0.482948
2001-05-29   -1.137443
2001-05-30    1.014508
2001-05-31    0.956493
Freq: D, dtype: float64

In [12]:
ts[datetime(2011, 1, 7):] # 切片操作

2011-01-07    0.493807
2011-01-08   -1.680267
2011-01-10    0.624699
2011-01-12    0.015528
dtype: float64

In [13]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

In [16]:
long_df.index

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [ ]:
long_df.head()

In [15]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.839336  0.539688 -0.171863 -0.272912
2001-05-09  0.845135 -0.156217 -2.654570  1.105390
2001-05-16  1.343657 -0.663454  1.100950  0.632751
2001-05-23  0.215444 -0.371557 -0.472664  1.211823
2001-05-30  1.012540  1.087239  0.724811 -0.385064