In [21]:
import pandas as pd
import os

In [22]:
os.getcwd()  # 返回当前工作目录

'C:\\Users\\duanm\\Music\\GitHubProjects\\MLNote\\C_Pandas\\4.文件读写\\csv文件读写'

In [23]:
pd.read_csv(r'C:\Users\duanm\Music\GitHubProjects\MLNote\C_Pandas\4.文件读写\csv文件读写\csv文件读写0.csv')

  Unnamed: 0 something  a   b     c   d message
0          A       one  1   2   3.0   4     NaN
1          B       two  5   6   NaN   8   world
2          C     three  9  10  11.0  12     foo

In [24]:
# 与上等价(因为当前工作目录为:'C:\\Users\\duanm\\Music\\GitHubProjects\\MLNote\\C_Pandas\\4.文件读写\\csv文件读写')
pd.read_csv('csv文件读写0.csv')

  Unnamed: 0 something  a   b     c   d message
0          A       one  1   2   3.0   4     NaN
1          B       two  5   6   NaN   8   world
2          C     three  9  10  11.0  12     foo

In [25]:
# 根据第一行自动推荐columns
pd.read_csv('csv文件读写0.csv', header=None)  # 默认header=None

     0          1  2   3     4   5        6
0  NaN  something  a   b     c   d  message
1    A        one  1   2   3.0   4      NaN
2    B        two  5   6   NaN   8    world
3    C      three  9  10  11.0  12      foo

In [26]:
pd.read_csv('csv文件读写0.csv', header=0)  # 指定第0行数据为columns

  Unnamed: 0 something  a   b     c   d message
0          A       one  1   2   3.0   4     NaN
1          B       two  5   6   NaN   8   world
2          C     three  9  10  11.0  12     foo

In [27]:
pd.read_csv('csv文件读写0.csv', header=[0, 1])  # 指定第0行,第1行数据构成多层columns

  Unnamed: 0_level_0 something  a   b     c   d            message
                   A       one  1   2   3.0   4 Unnamed: 6_level_1
0                  B       two  5   6   NaN   8              world
1                  C     three  9  10  11.0  12                foo

In [28]:
# 根据第一列自动推断index
pd.read_csv("csv文件读写0.csv", index_col=None)  # 默认index_col=None

  Unnamed: 0 something  a   b     c   d message
0          A       one  1   2   3.0   4     NaN
1          B       two  5   6   NaN   8   world
2          C     three  9  10  11.0  12     foo

In [29]:
pd.read_csv("csv文件读写0.csv", index_col=0)  # 指定第0列数据为index

  something  a   b     c   d message
A       one  1   2   3.0   4     NaN
B       two  5   6   NaN   8   world
C     three  9  10  11.0  12     foo

In [30]:
pd.read_csv('csv文件读写0.csv', index_col=[0, 1])  # 指定第0列,第1列数据构成多层index

             a   b     c   d message
  something
A one        1   2   3.0   4     NaN
B two        5   6   NaN   8   world
C three      9  10  11.0  12     foo

In [31]:
pd.read_csv('csv文件读写0.csv', encoding='gbk')  # 解码器,一般设置:encoding='UTF-8'或'gbk'或'gb18030'(正常读写中文)

  Unnamed: 0 something  a   b     c   d message
0          A       one  1   2   3.0   4     NaN
1          B       two  5   6   NaN   8   world
2          C     three  9  10  11.0  12     foo

In [32]:
'''
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files
'''
pd.read_csv('csv文件读写0.csv', nrows=2, header=None)

     0          1  2  3    4  5        6
0  NaN  something  a  b    c  d  message
1    A        one  1  2  3.0  4      NaN

In [33]:
frame = pd.read_csv('csv文件读写0.csv', header=0, index_col=0, sep=',')  # 界定符;默认seq=','(可使用正则表达式)
frame

  something  a   b     c   d message
A       one  1   2   3.0   4     NaN
B       two  5   6   NaN   8   world
C     three  9  10  11.0  12     foo

In [34]:
'''
path_or_buf : str or file handle, default None
    File path or object, if None is provided the result is returned as a string. If a file object is passed it should be opened with newline=’‘, disabling universal newlines.
'''
frame.to_csv(path_or_buf='csv文件读写1.csv')  # Write object to a comma-separated values (csv) file.

In [35]:
import sys

'''
sep : str, default ‘,’
    String of length 1. Field delimiter for the output file.
'''
frame.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
A|one|1|2|3.0|4|
B|two|5|6||8|world
C|three|9|10|11.0|12|foo

In [36]:
'''
na_rep : str, default ‘’
    Missing data representation.
'''
frame.to_csv(sys.stdout, na_rep='空')

,something,a,b,c,d,message
A,one,1,2,3.0,4,空
B,two,5,6,空,8,world
C,three,9,10,11.0,12,foo

In [37]:
'''
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is assumed to be aliases for the column names.
'''
frame.to_csv(sys.stdout, header=True, index=True)  # 保存格式包含columns

,something,a,b,c,d,message
A,one,1,2,3.0,4,
B,two,5,6,,8,world
C,three,9,10,11.0,12,foo

In [38]:
'''
index : bool, default True
    Write row names (index).
'''
frame.to_csv(sys.stdout, header=False, index=True)  # 保存格式包含index

A,one,1,2,3.0,4,
B,two,5,6,,8,world
C,three,9,10,11.0,12,foo

In [39]:
'''
mode : str
    Python write mode, default 'w'.
'''
frame.to_csv('csv文件读写1.csv', sep='|', mode='a')  # 默认mode='w'

In [40]:
with open('csv文件读写1.csv', mode='r') as q:
    print(q.read())

,something,a,b,c,d,message
A,one,1,2,3.0,4,
B,two,5,6,,8,world
C,three,9,10,11.0,12,foo
|something|a|b|c|d|message
A|one|1|2|3.0|4|
B|two|5|6||8|world
C|three|9|10|11.0|12|foo