In [33]:
import pandas as pd

In [34]:
df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
df

       0      1
0  1.000  2.120
1  3.356  4.567

In [35]:
# Apply a function to a Dataframe elementwise.
'''
func : callable
    Python function, returns a single value from a single value.
'''
df.applymap(func=lambda x: len(str(x)))

   0  1
0  3  4
1  5  5

In [36]:
df.applymap(lambda x: x ** 2)

           0          1
0   1.000000   4.494400
1  11.262736  20.857489

In [37]:
df.applymap(lambda x: [x, x + 1, x - 1])

                       0                      1
0        [1.0, 2.0, 0.0]     [2.12, 3.12, 1.12]
1  [3.356, 4.356, 2.356]  [4.567, 5.567, 3.567]

In [38]:
format_ap = lambda x: '%.2f' % x
df.applymap(format_ap)

      0     1
0  1.00  2.12
1  3.36  4.57

In [39]:
df.applymap('this values is : {}'.format)

                        0                       1
0    this values is : 1.0   this values is : 2.12
1  this values is : 3.356  this values is : 4.567