In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.DataFrame([[1, 2.12],
                   [3.356, 4.567]])
df

       0      1
0  1.000  2.120
1  3.356  4.567

In [45]:
# Apply a function to a Dataframe elementwise.
'''
func : callable
    Python function, returns a single value from a single value.
'''
df.applymap(func=lambda x: len(str(x)))

   0  1
0  3  4
1  5  5

In [46]:
df.applymap(lambda x: x ** 2)

           0          1
0   1.000000   4.494400
1  11.262736  20.857489

In [47]:
df.applymap(lambda x: [x, x + 1, x - 1])

                       0                      1
0        [1.0, 2.0, 0.0]     [2.12, 3.12, 1.12]
1  [3.356, 4.356, 2.356]  [4.567, 5.567, 3.567]

In [48]:
format_ap = lambda x: '%.2f' % x
df.applymap(format_ap)

      0     1
0  1.00  2.12
1  3.36  4.57

In [49]:
df.applymap('this values is : {}'.format)

                        0                       1
0    this values is : 1.0   this values is : 2.12
1  this values is : 3.356  this values is : 4.567

In [50]:
df1 = pd.DataFrame([[np.nan, 2.12],
                   [3.356, 4.567]])

def func(x):
    # 输出顺序:df1.iloc[0, 0],df1.iloc[1, 0],df1.iloc[0, 1], df1.iloc[1, 1]
    print(x)
    return x

df1.applymap(func)

nan
3.356
2.12
4.567

       0      1
0    NaN  2.120
1  3.356  4.567