In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [4]:
s.agg(func='min')

1

In [5]:
s.agg(peak_to_peak)

3

In [6]:
s.agg(lambda x: x.mean())  # lambdas function

2.5

In [7]:
# 如果传输的是函数或函数名的列表,则index为:
# * 内置的聚合函数为其字符串名
# * 自定义函数为函数名
# * 匿名函数为'<lambda>'
s.agg(['min', 'max', peak_to_peak, lambda x: x.sum(), lambda x: x.mean()])

min              1.0
max              4.0
peak_to_peak     3.0
<lambda>        10.0
<lambda>         2.5
dtype: float64

In [8]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'],
                  index=['a', 'b', 'c', 'd'])
df

     A    B    C
a  1.0  2.0  3.0
b  4.0  5.0  6.0
c  7.0  8.0  9.0
d  NaN  NaN  NaN

In [9]:
# 如果传输的是函数或函数名的列表,则index or columns为:
# * 内置的聚合函数为其字符串名
# * 自定义函数为函数名
# * 匿名函数为'<lambda>'
df.agg(['min', 'max', peak_to_peak, lambda x: x.sum(), lambda x: x.mean()])  # 默认axis=0(作用于列)

                 A     B     C
min            1.0   2.0   3.0
max            7.0   8.0   9.0
peak_to_peak   6.0   6.0   6.0
<lambda>      12.0  15.0  18.0
<lambda>       4.0   5.0   6.0

In [10]:
df.agg(['min', 'max', peak_to_peak], axis=1)

   min  max  peak_to_peak
a  1.0  3.0           2.0
b  4.0  6.0           2.0
c  7.0  9.0           2.0
d  NaN  NaN           NaN

In [11]:
# Different aggregations per column.
df.agg({'A': ['sum', 'min'], 'B': ['min', 'max']})

        A    B
sum  12.0  NaN
min   1.0  2.0
max   NaN  8.0