In [15]:
import pandas as pd
import numpy as np

In [16]:
tips = pd.read_csv('tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips

     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

In [17]:
for name, one_group in tips.groupby('smoker'):
    print('group:', name)
    print(one_group)

group: No
     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
235       10.07  1.25     No   Sat  Dinner     2  0.124131
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[151 rows x 7 columns]
group: Yes
     total_bill   tip smoker  day    time  size   tip_pct
56        38.01  3.00    Yes  Sat  Dinner     4  0.078927
58        11.24  1.76    Yes  Sat  Dinner     2  0.156584
60        20.29  3.21    Yes  Sat  Dinner     2  0.158206
61        13.81  2.00    Yes  Sat  Dinner     2  0.144823
62        11.02  1.98    Yes  Sat  Dinner     2  0.179673
..          ...   ...    ...  ...     ...   ...       ...
234       15.53  3.00    Yes  Sat  Dinner     2  0.193175
236       12.60  1.00    Yes  Sat  Dinner     2  0.079365
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
240       27.18  2.00    Yes  Sat  Dinner     2  0.073584
241       22.67  2.00    Yes  Sat  Dinner     2  0.088222

[93 rows x 7 columns]
group: No
     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
235       10.07  1.25     No   Sat  Dinner     2  0.124131
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[151 rows x 7 columns]
group: Yes
     total_bill   tip smoker  day    time  size   tip_pct
56        38.01  3.00    Yes  Sat  Dinner     4  0.078927
58        11.24  1.76    Yes  Sat  Dinner     2  0.156584
60        20.29  3.21    Yes  Sat  Dinner     2  0.158206
61        13.81  2.00    Yes  Sat  Dinner     2  0.144823
62        11.02  1.98    Yes  Sat  Dinner     2  0.179673
..          ...   ...    ...  ...     ...   ...       ...
234       15.53  3.00    Yes  Sat  Dinner     2  0.193175
236       12.60  1.00    Yes  Sat  Dinner     2  0.079365
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
240       27.18  2.00    Yes  Sat  Dinner     2  0.073584
241       22.67  2.00    Yes  Sat  Dinner     2  0.088222

[93 rows x 7 columns]

In [18]:
def top(df, n=5, columns='tip_pct'):
    print(df.sort_values(by=columns)[-n:])  # 包含分组列
    return df.sort_values(by=columns)[-n:]

In [19]:
# 1. top函数在每一个分组上被调用
# 2. 之后通过pandas.concat函数将返回结果拼接在一起,并使用分组名作为各组的index(group_keys=True时)
tips.groupby('smoker').apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [20]:
'''
group_keys: bool, default True
    When calling apply, add group keys to index to identify pieces.
'''
tips.groupby('smoker', group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [21]:
tips.groupby(['smoker', 'day']).apply(top, n=2, columns='total_bill')  # 向apply中的函数传递参数

    total_bill   tip smoker  day    time  size   tip_pct
91       22.49  3.50     No  Fri  Dinner     2  0.155625
94       22.75  3.25     No  Fri  Dinner     2  0.142857
     total_bill   tip smoker  day    time  size   tip_pct
59        48.27  6.73     No  Sat  Dinner     4  0.139424
212       48.33  9.00     No  Sat  Dinner     4  0.186220
     total_bill  tip smoker  day    time  size   tip_pct
112       38.07  4.0     No  Sun  Dinner     3  0.105070
156       48.17  5.0     No  Sun  Dinner     6  0.103799
     total_bill   tip smoker   day   time  size   tip_pct
85        34.83  5.17     No  Thur  Lunch     4  0.148435
142       41.19  5.00     No  Thur  Lunch     5  0.121389
    total_bill   tip smoker  day    time  size   tip_pct
90       28.97  3.00    Yes  Fri  Dinner     2  0.103555
95       40.17  4.73    Yes  Fri  Dinner     4  0.117750
     total_bill   tip smoker  day    time  size   tip_pct
102       44.30   2.5    Yes  Sat  Dinner     3  0.056433
170       50.81  10.0    Yes  Sat  Dinner     3  0.196812
     total_bill  tip smoker  day    time  size   tip_pct
184       40.55  3.0    Yes  Sun  Dinner     2  0.073983
182       45.35  3.5    Yes  Sun  Dinner     3  0.077178
     total_bill  tip smoker   day   time  size   tip_pct
83        32.68  5.0    Yes  Thur  Lunch     2  0.152999
197       43.11  5.0    Yes  Thur  Lunch     4  0.115982

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

    total_bill   tip smoker  day    time  size   tip_pct
91       22.49  3.50     No  Fri  Dinner     2  0.155625
94       22.75  3.25     No  Fri  Dinner     2  0.142857
     total_bill   tip smoker  day    time  size   tip_pct
59        48.27  6.73     No  Sat  Dinner     4  0.139424
212       48.33  9.00     No  Sat  Dinner     4  0.186220
     total_bill  tip smoker  day    time  size   tip_pct
112       38.07  4.0     No  Sun  Dinner     3  0.105070
156       48.17  5.0     No  Sun  Dinner     6  0.103799
     total_bill   tip smoker   day   time  size   tip_pct
85        34.83  5.17     No  Thur  Lunch     4  0.148435
142       41.19  5.00     No  Thur  Lunch     5  0.121389
    total_bill   tip smoker  day    time  size   tip_pct
90       28.97  3.00    Yes  Fri  Dinner     2  0.103555
95       40.17  4.73    Yes  Fri  Dinner     4  0.117750
     total_bill   tip smoker  day    time  size   tip_pct
102       44.30   2.5    Yes  Sat  Dinner     3  0.056433
170       50.81  10.0    Yes  Sat  Dinner     3  0.196812
     total_bill  tip smoker  day    time  size   tip_pct
184       40.55  3.0    Yes  Sun  Dinner     2  0.073983
182       45.35  3.5    Yes  Sun  Dinner     3  0.077178
     total_bill  tip smoker   day   time  size   tip_pct
83        32.68  5.0    Yes  Thur  Lunch     2  0.152999
197       43.11  5.0    Yes  Thur  Lunch     4  0.115982

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [22]:
# 以下操作三者等价
print(tips.groupby('smoker').apply(min), end='\n\n')  # 执行任何类型的操作
print(tips.groupby('smoker').agg(min), end='\n\n')  # 仅支持聚合操作
print(tips.groupby('smoker').min())

        total_bill  tip smoker  day    time  size   tip_pct
smoker
No            7.25  1.0     No  Fri  Dinner     1  0.056797
Yes           3.07  1.0    Yes  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638
        total_bill  tip smoker  day    time  size   tip_pct
smoker
No            7.25  1.0     No  Fri  Dinner     1  0.056797
Yes           3.07  1.0    Yes  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

In [23]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
frame

        data1     data2
0   -0.102334  0.803217
1    1.049205  0.004758
2   -0.711692  0.396908
3   -0.212800 -0.111389
4    0.116630 -0.255331
..        ...       ...
995  0.327674 -1.582010
996  0.083067 -0.450442
997 -0.063203 -2.135989
998 -0.674704  0.361415
999 -0.210102  0.561032

[1000 rows x 2 columns]

        data1     data2
0    0.970314  0.582264
1   -0.508388  0.547390
2   -0.040489 -1.068663
3    0.567299  1.006449
4   -0.184403  0.193716
..        ...       ...
995 -1.129105  2.751187
996  0.642637 -0.037429
997 -1.128912 -0.223172
998 -0.839084 -0.558862
999  0.278559 -0.994292

[1000 rows x 2 columns]

In [24]:
quartiles = pd.cut(frame.data2, 4)
quartiles  # type为Series,dtype为CategoricalDtype

0       (-0.0897, 1.464]
1       (-0.0897, 1.464]
2       (-0.0897, 1.464]
3      (-1.643, -0.0897]
4      (-1.643, -0.0897]
             ...
995    (-1.643, -0.0897]
996    (-1.643, -0.0897]
997     (-3.203, -1.643]
998     (-0.0897, 1.464]
999     (-0.0897, 1.464]
Name: data2, Length: 1000, dtype: category
Categories (4, interval[float64, right]): [(-3.203, -1.643] < (-1.643, -0.0897] < (-0.0897, 1.464] < (1.464, 3.017]]

0       (-0.0881, 1.479]
1       (-0.0881, 1.479]
2      (-1.655, -0.0881]
3       (-0.0881, 1.479]
4       (-0.0881, 1.479]
             ...
995       (1.479, 3.045]
996     (-0.0881, 1.479]
997    (-1.655, -0.0881]
998    (-1.655, -0.0881]
999    (-1.655, -0.0881]
Name: data2, Length: 1000, dtype: category
Categories (4, interval[float64, right]): [(-3.228, -1.655] < (-1.655, -0.0881] < (-0.0881, 1.479] < (1.479, 3.045]]

In [25]:
grouped = frame.data2.groupby(quartiles)

for i, j in grouped:
    print("group:", i)
    print(j)  # 属于分箱i内的样本

group: (-3.203, -1.643]
20    -2.318538
39    -1.962528
59    -1.812735
60    -3.196644
75    -1.806432
         ...
931   -2.272357
976   -2.644097
987   -2.660135
989   -2.683089
997   -2.135989
Name: data2, Length: 70, dtype: float64
group: (-1.643, -0.0897]
3     -0.111389
4     -0.255331
5     -0.572094
9     -0.279428
11    -0.307752
         ...
991   -0.300339
992   -0.579395
994   -0.600156
995   -1.582010
996   -0.450442
Name: data2, Length: 385, dtype: float64
group: (-0.0897, 1.464]
0      0.803217
1      0.004758
2      0.396908
6      1.334908
7      0.335373
         ...
985    0.366039
986    0.659851
993    0.568134
998    0.361415
999    0.561032
Name: data2, Length: 486, dtype: float64
group: (1.464, 3.017]
13     1.866837
33     1.738389
45     1.638488
48     1.757392
54     1.868153
57     1.523337
67     1.729556
118    2.389234
122    2.242974
130    1.583207
161    1.930939
177    1.769767
182    1.750345
185    1.701684
191    1.668452
206    1.700438
261    1.549821
277    2.355814
309    2.074929
315    1.716499
343    2.152257
351    1.499032
357    1.618899
361    1.645417
384    1.496805
401    1.801671
430    1.742751
433    2.568644
436    2.359549
442    1.469593
452    1.465644
491    2.113830
499    2.288437
527    1.808618
543    1.967759
566    2.164825
591    3.017307
597    1.954627
601    1.961942
625    2.156075
630    1.916989
639    1.629317
662    1.635278
691    2.721460
693    1.551104
712    1.757400
737    1.861192
742    1.592217
770    2.275161
786    1.520891
813    2.236071
822    2.860498
831    1.721003
835    1.858000
862    1.582655
867    1.560163
868    2.282302
893    2.460288
967    1.632512
Name: data2, dtype: float64
group: (-3.228, -1.655]
28    -2.012100
44    -1.753620
46    -1.863838
73    -1.905415
80    -1.755561
94    -1.974831
102   -2.493564
122   -1.706767
146   -2.905178
158   -1.876856
160   -1.810651
201   -2.038327
204   -3.221515
208   -2.502925
242   -2.344241
243   -2.034829
252   -2.646361
300   -2.571286
301   -2.072422
330   -2.481084
334   -1.789578
335   -1.737520
343   -1.994099
392   -2.088302
402   -2.132062
421   -1.825444
423   -2.051651
450   -2.138029
484   -2.334924
495   -2.450066
496   -1.769917
499   -2.351309
558   -1.705024
586   -1.661184
589   -2.568546
658   -1.695891
705   -2.121492
730   -1.764340
743   -1.656599
772   -1.741059
825   -1.755559
857   -1.919374
860   -2.149340
874   -2.292222
915   -1.808779
937   -1.986756
Name: data2, dtype: float64
group: (-1.655, -0.0881]
2     -1.068663
6     -0.641865
10    -1.118583
12    -1.565933
13    -1.088243
         ...
989   -0.597561
992   -0.809369
997   -0.223172
998   -0.558862
999   -0.994292
Name: data2, Length: 421, dtype: float64
group: (-0.0881, 1.479]
0      0.582264
1      0.547390
3      1.006449
4      0.193716
5      1.154651
         ...
990    0.210230
991    0.576501
993    1.244927
994    0.247775
996   -0.037429
Name: data2, Length: 462, dtype: float64
group: (1.479, 3.045]
8      1.727167
15     2.805160
19     1.835446
21     2.226699
92     2.713401
         ...
932    1.754938
970    2.922952
971    1.877059
975    1.777984
995    2.751187
Name: data2, Length: 71, dtype: float64

In [26]:
grouped.mean()

data2
(-3.203, -1.643]    -2.071372
(-1.643, -0.0897]   -0.685960
(-0.0897, 1.464]     0.562982
(1.464, 3.017]       1.906177
Name: data2, dtype: float64

data2
(-3.228, -1.655]    -2.075227
(-1.655, -0.0881]   -0.710336
(-0.0881, 1.479]     0.552152
(1.479, 3.045]       1.885575
Name: data2, dtype: float64

In [27]:
def get_stats(group):
    return pd.Series({'min': group.min(),
                      'max': group.max(),
                      'count': group.count(),
                      'mean': group.mean(),
                      'sum': np.sum(group)})  # 应用多个函数

In [28]:
grouped.apply(get_stats)

data2
(-3.203, -1.643]   min       -3.196644
                   max       -1.661833
                   count     70.000000
                   mean      -2.071372
                   sum     -144.996069
(-1.643, -0.0897]  min       -1.637701
                   max       -0.092168
                   count    385.000000
                   mean      -0.685960
                   sum     -264.094788
(-0.0897, 1.464]   min       -0.087878
                   max        1.443974
                   count    486.000000
                   mean       0.562982
                   sum      273.609208
(1.464, 3.017]     min        1.465644
                   max        3.017307
                   count     59.000000
                   mean       1.906177
                   sum      112.464437
Name: data2, dtype: float64

data2
(-3.228, -1.655]   min       -3.221515
                   max       -1.656599
                   count     46.000000
                   mean      -2.075227
                   sum      -95.460435
(-1.655, -0.0881]  min       -1.628415
                   max       -0.090551
                   count    421.000000
                   mean      -0.710336
                   sum     -299.051400
(-0.0881, 1.479]   min       -0.087568
                   max        1.476250
                   count    462.000000
                   mean       0.552152
                   sum      255.094307
(1.479, 3.045]     min        1.488092
                   max        3.045324
                   count     71.000000
                   mean       1.885575
                   sum      133.875851
Name: data2, dtype: float64