## 交叉表(是数据透视表的一个特殊情况)

In [ ]:
import  pandas as pd
import  numpy as np

In [25]:
tips = pd.read_csv('tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [26]:
pd.crosstab(tips.time, tips.day) # 默认情况下,计算因素的频率表,除非传递值数组和聚合函数

day     Fri  Sat  Sun  Thur
time
Dinner   12   87   76     1
Lunch     7    0    0    61

In [27]:
pd.crosstab([tips.time, tips.day], tips.smoker)

smoker       No  Yes
time   day
Dinner Fri    3    9
       Sat   45   42
       Sun   57   19
       Thur   1    0
Lunch  Fri    1    6
       Thur  44   17

In [31]:
pd.crosstab(tips.day, [tips.smoker, tips.time])

smoker     No          Yes
time   Dinner Lunch Dinner Lunch
day
Fri         3     1      9     6
Sat        45     0     42     0
Sun        57     0     19     0
Thur        1    44      0    17

In [32]:
pd.crosstab(tips.day, [tips.smoker, tips.time], margins=True, margins_name='总计')

smoker     No          Yes         总计
time   Dinner Lunch Dinner Lunch
day
Fri         3     1      9     6   19
Sat        45     0     42     0   87
Sun        57     0     19     0   76
Thur        1    44      0    17   62
总计        106    45     70    23  244

In [51]:
pd.crosstab(index=tips.day, rownames=['星期'], 
            colnames=['是否吸烟', '时间'], columns=[tips.smoker, tips.time],
            values=tips.tip, aggfunc=np.size, # 计算因素的频率表(与默认情况等价)
            margins=True, margins_name='总计')

是否吸烟     No          Yes           总计
时间   Dinner Lunch Dinner Lunch
星期
Fri     3.0   1.0    9.0   6.0   19.0
Sat    45.0   NaN   42.0   NaN   87.0
Sun    57.0   NaN   19.0   NaN   76.0
Thur    1.0  44.0    NaN  17.0   62.0
总计    106.0  45.0   70.0  23.0  244.0

In [53]:
pd.crosstab(index=tips.day, rownames=['星期'], 
            colnames=['是否吸烟', '时间'], columns=[tips.smoker, tips.time],
            values=tips.tip, aggfunc=np.mean, # 计算均值
            margins=True, margins_name='总计')

是否吸烟        No                 Yes                  总计
时间      Dinner     Lunch    Dinner     Lunch
星期
Fri   2.750000  3.000000  3.003333  2.280000  2.734737
Sat   3.102889       NaN  2.875476       NaN  2.993103
Sun   3.167895       NaN  3.516842       NaN  3.255132
Thur  3.000000  2.666364       NaN  3.030000  2.771452
总计    3.126887  2.673778  3.066000  2.834348  2.998279

In [ ]:
'''
values : array-like, optional
    Array of values to aggregate according to the factors. Requires aggfunc be specified.

aggfunc : function, optional
    If specified, requires values be specified as well
'''