In [76]:
import pandas as pd
import numpy as np

In [77]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df1, end='\n\n')
print(df2)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [78]:
print(df1 + df2, end='\n\n')  # index和columns的并集,未匹配的结果为NaN
print(df1 * df2)

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

             b   c     d   e
Colorado   NaN NaN   NaN NaN
Ohio       0.0 NaN   8.0 NaN
Oregon     NaN NaN   NaN NaN
Texas     18.0 NaN  35.0 NaN
Utah       NaN NaN   NaN NaN

In [79]:
print(df1 * 3)  # 所有元素都乘3(广播)

             b     c     d
Ohio       0.0   3.0   6.0
Texas      9.0  12.0  15.0
Colorado  18.0  21.0  24.0

In [80]:
print(df1 + 2)

            b    c     d
Ohio      2.0  3.0   4.0
Texas     5.0  6.0   7.0
Colorado  8.0  9.0  10.0

In [81]:
print(df1 - [1, 2, 3], end='\n\n')  # 长度与len(columns)必须一致,使其可以广播到各行
print(df1 - np.array([1, 2, 3]))

            b    c    d
Ohio     -1.0 -1.0 -1.0
Texas     2.0  2.0  2.0
Colorado  5.0  5.0  5.0

            b    c    d
Ohio     -1.0 -1.0 -1.0
Texas     2.0  2.0  2.0
Colorado  5.0  5.0  5.0

In [82]:
print(df1 - np.random.rand(3, 3))  # 此时要求大小必须与DataFrame一致(使其正好与DataFrame每个元素一一对应)

                 b         c         d
Ohio     -0.051455  0.423158  1.836548
Texas     2.165807  3.033576  4.035948
Colorado  5.669481  6.635621  7.759107

In [83]:
df_str = pd.DataFrame([["duan", "chao", 25],
                       ["duan", "mengmeng", 1]], columns=["a", "b", "c"])
df_str

      a         b   c
0  duan      chao  25
1  duan  mengmeng   1

In [84]:
df_str['d'] = df_str['a'] + '|' + df_str['b']  # 字符串的拼接(数据类型要求必须为字符串)
df_str

      a         b   c              d
0  duan      chao  25      duan|chao
1  duan  mengmeng   1  duan|mengmeng

In [85]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series1 = frame.iloc[0]
series2 = pd.Series(range(4), index=['b', 'e', 'f', 'g'])
series3 = frame['d']
print(frame, end='\n\n')
print(series1, end='\n\n')
print(series2, end='\n\n')
print(series3)

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

b    0
e    1
f    2
g    3
dtype: int64

Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64

In [86]:
print(frame - series1)  # 将Series的index和DataFrame的columns进行匹配,并广播到各行(长度可以不一致,未匹配的结果为NaN)

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [87]:
print(frame - series2)

          b   d     e   f   g
Utah    0.0 NaN   1.0 NaN NaN
Ohio    3.0 NaN   4.0 NaN NaN
Texas   6.0 NaN   7.0 NaN NaN
Oregon  9.0 NaN  10.0 NaN NaN

In [88]:
print(frame - series3)

        Ohio  Oregon  Texas  Utah   b   d   e
Utah     NaN     NaN    NaN   NaN NaN NaN NaN
Ohio     NaN     NaN    NaN   NaN NaN NaN NaN
Texas    NaN     NaN    NaN   NaN NaN NaN NaN
Oregon   NaN     NaN    NaN   NaN NaN NaN NaN

In [89]:
print(frame.sub(series3, axis=0))  # 灵活算术方法比简单运算更灵活更强大

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [90]:
frame == 2.0  # 返回值为DataFrame

            b      d      e
Utah    False  False   True
Ohio    False  False  False
Texas   False  False  False
Oregon  False  False  False

In [91]:
frame1 = pd.DataFrame(np.arange(1, 13.).reshape((4, 3)), index=frame.index, columns=frame.columns)
frame > frame1  # frame与frame1进行比较(frame和frame1的shape,index,columns都必须相同)

            b      d      e
Utah    False  False  False
Ohio    False  False  False
Texas   False  False  False
Oregon  False  False  False