## 时间跨度(Time spans)
### 标量类(Period)
### 数组类(PeriodIndex)

In [76]:
import  pandas as pd
import  numpy as np

In [77]:
p = pd.Period(2007, freq='A-DEC') # 标量类(Period)
'''
 Parameters
----------
value : Period or compat.string_types, default None
    The time period represented (e.g., '4Q2005')
    
freq : str, default None
    One of pandas period strings or corresponding objects
    
year : int, default None
month : int, default 1
quarter : int, default None
day : int, default 1
hour : int, default 0
minute : int, default 0
second : int, default 0
'''
p

Period('2007', 'A-DEC')

In [78]:
print(p.start_time) # 获取时间跨度开始的时间戳
print(p.end_time)  # 获取时间跨度结束的时间戳

2007-01-01 00:00:00
2007-12-31 23:59:59.999999999

In [79]:
p + 5

Period('2012', 'A-DEC')

In [80]:
p - 2 # 在时间跨度上增加或减去整数可以方便地根据它们的频率进行移位

Period('2005', 'A-DEC')

In [117]:
# 如果两个时间跨度拥有相同的频率,则它们的差是它们之间的单位数
pd.Period('2014', freq='A-DEC') - p

In [118]:
pd.Period('4Q2005', freq='Q-DEC')

Period('2005Q4', 'Q-DEC')

In [119]:
pd.Period(year=2005, quarter=4, freq='Q-DEC') # 与上等价

Period('2005Q4', 'Q-DEC')

In [ ]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M') # 数组类(PeriodIndex)
rng

In [84]:
print(rng.start_time)
print(rng.end_time)

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01'],
              dtype='datetime64[ns]', freq='MS')
DatetimeIndex(['2000-01-31 23:59:59.999999999',
               '2000-02-29 23:59:59.999999999',
               '2000-03-31 23:59:59.999999999',
               '2000-04-30 23:59:59.999999999',
               '2000-05-31 23:59:59.999999999',
               '2000-06-30 23:59:59.999999999'],
              dtype='datetime64[ns]', freq='M')

In [85]:
pd.Series(np.random.randn(6), index=rng)

2000-01    1.625978
2000-02   -2.105674
2000-03   -0.408193
2000-04    1.001723
2000-05    1.851240
2000-06   -1.773354
Freq: M, dtype: float64

In [94]:
values = ['2001Q4', '2001Q2', '2001Q1']  # Q4表示第4个季度
index = pd.PeriodIndex(data=values, freq='Q-DEC') # 数组类(PeriodIndex)
'''
Parameters
----------
data : array-like (1-dimensional), optional
    Optional period-like data to construct index with
    
freq : string or period object, optional
    One of pandas period strings or corresponding objects
      
year : int, array, or Series, default None
month : int, array, or Series, default None
quarter : int, array, or Series, default None
day : int, array, or Series, default None
hour : int, array, or Series, default None
minute : int, array, or Series, default None
second : int, array, or Series, default None
tz : object, default None
    Timezone for converting datetime64 data to Periods

'''
index

PeriodIndex(['2001Q4', '2001Q2', '2001Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [97]:
print(index.end_time)
print(index.start_time)
print(type(index[2]))
print(index[2].start_time)
print(index[2].end_time)

DatetimeIndex(['2001-12-31 23:59:59.999999999',
               '2001-06-30 23:59:59.999999999',
               '2001-03-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2001-10-01', '2001-04-01', '2001-01-01'], dtype='datetime64[ns]', freq=None)
<class 'pandas._libs.tslibs.period.Period'>
2001-01-01 00:00:00
2001-03-31 23:59:59.999999999

In [88]:
data = pd.read_csv('macrodata.csv')
data.head(5).head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [89]:
data.quarter.head()

0    1.0
1    2.0
2    3.0
3    4.0
4    1.0
Name: quarter, dtype: float64

In [90]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter,
                       freq='Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [91]:
data.index = index

In [92]:
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959Q1,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1959Q2,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
1959Q3,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
1959Q4,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
1960Q1,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [93]:
data.infl.head()

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
Freq: Q-DEC, Name: infl, dtype: float64