In [244]:
import numpy as np
import pandas as pd

In [245]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1    0.424139
   2   -0.795247
   3    1.591463
b  1    0.704176
   3    0.259368
c  1   -1.286906
   2   -0.653798
d  2    0.091150
   3   -0.826656
dtype: float64

In [246]:
data['b']  # 类型是Series

1    0.704176
3    0.259368
dtype: float64

In [247]:
data[['b', 'd']]

b  1    0.704176
   3    0.259368
d  2    0.091150
   3   -0.826656
dtype: float64

In [248]:
data.loc[['b', 'd']]  # 与上等价

b  1    0.704176
   3    0.259368
d  2    0.091150
   3   -0.826656
dtype: float64

In [249]:
data.loc['b':'d']

b  1    0.704176
   3    0.259368
c  1   -1.286906
   2   -0.653798
d  2    0.091150
   3   -0.826656
dtype: float64

In [250]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [251]:
# 分层的层级可以有名称(可以是字符串或python对象)
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']

In [252]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [253]:
frame.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           names=['key1', 'key2'])

In [254]:
frame.columns

MultiIndex([(    'Ohio', 'Green'),
            (    'Ohio',   'Red'),
            ('Colorado', 'Green')],
           names=['state', 'color'])

In [255]:
# Make a MultiIndex from the cartesian product of multiple iterables.
df = pd.DataFrame(np.random.randint(2, 20, [30, 5]), columns=[*"ABCDE"],
                  index=pd.MultiIndex.from_product([['a1', 'a2', 'a3', 'a4', 'a5'],
                                                    ['b1', 'b2'], ['c1', 'c2', 'c3']], names=[*'abc']))  # 5*2*3
df

           A   B   C   D   E
a  b  c
a1 b1 c1  11  10   4  10  16
      c2   2   4   5  13   8
      c3   6  11  11  15   5
   b2 c1   4  11  14  17   3
      c2  15  12   9   5   8
      c3  18   8  12  14  15
a2 b1 c1   5  10   2   5   8
      c2   6   7  17  19   8
      c3  11  13  19   7   2
   b2 c1   2  17   6  13   3
      c2   8   5   5  10  16
      c3   6  14  18  17   7
a3 b1 c1  12  19  17  18   4
      c2  14  11  11  16   3
      c3  14  18  17   8  12
   b2 c1  18   9   8   6  15
      c2  10  13  12   8   3
      c3   6   5   2   6  17
a4 b1 c1  10   7  16  19  12
      c2   2  14   4   3  19
      c3   2  12  17   7  10
   b2 c1   4   4  15   2  17
      c2   7   9  12   9  13
      c3  12  13   8   7  15
a5 b1 c1   5  14   9   2  11
      c2   5  19   7   7   9
      c3  18  11  17   5   4
   b2 c1   9   5  17   8   9
      c2   8  18  14  12   6
      c3   4   4   8  18  12

In [256]:
idx = pd.IndexSlice  # 多索引切片
df.loc[idx[['a1', 'a3'], 'b1':'b2', ['c1', 'c3']], 'A':'D']
# 与上等价:df.loc[idx[['a1', 'a3'], 'b1':'b2', ['c1', 'c3']], idx['A':'D']]

           A   B   C   D
a  b  c
a1 b1 c1  11  10   4  10
      c3   6  11  11  15
   b2 c1   4  11  14  17
      c3  18   8  12  14
a3 b1 c1  12  19  17  18
      c3  14  18  17   8
   b2 c1  18   9   8   6
      c3   6   5   2   6

In [257]:
# Convert arrays to MultiIndex.
new_columns = pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'],
                                         ['Green', 'Red', 'Green']],
                                        names=['state', 'color'])
new_index = pd.MultiIndex.from_arrays([['a', 'a', 'a', 'b', 'b'],
                                       [1, 2, 3, 4, 5]],
                                      names=['key1', 'key2'])
print(new_index)

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 4),
            ('b', 5)],
           names=['key1', 'key2'])

In [258]:
data1 = pd.DataFrame(np.arange(15).reshape((5, 3)),
                     columns=new_columns, index=new_index)

In [259]:
data1

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
     3        6   7        8
b    4        9  10       11
     5       12  13       14

In [260]:
data1.loc['a', :]

state  Ohio     Colorado
color Green Red    Green
key2
1         0   1        2
2         3   4        5
3         6   7        8

In [261]:
data1.loc[:, 'Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
     3         6    7
b    4         9   10
     5        12   13

In [262]:
data1.loc[:, 'Ohio'].loc[:, 'Red'].loc['a'].loc[1]  # 分层索引的依次索引

1

In [263]:
# DataFrame和Series中很多描述性/汇总性统计有一个level选项
data1.sum(level='key2', axis=0)

<ipython-input-263-e03eb174ed04>:2: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data1.sum(level='key2', axis=0)

state  Ohio     Colorado
color Green Red    Green
key2
1         0   1        2
2         3   4        5
3         6   7        8
4         9  10       11
5        12  13       14

In [264]:
data1.sum(level='key1', axis=0)

<ipython-input-264-260ec3dbd5fc>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data1.sum(level='key1', axis=0)

state  Ohio     Colorado
color Green Red    Green
key1
a         9  12       15
b        21  23       25

In [265]:
data1.sum(level='color', axis=1)

<ipython-input-265-18102992ed86>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data1.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
     3        14    7
b    4        20   10
     5        26   13

In [266]:
data1.sum(level='state', axis=1)

<ipython-input-266-76496ca166bb>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data1.sum(level='state', axis=1)

state      Ohio  Colorado
key1 key2
a    1        1         2
     2        7         5
     3       13         8
b    4       19        11
     5       25        14

In [267]:
"""
i, jint or str
    Levels of the indices to be swapped. Can pass level name as string.
"""
data1.swaplevel('key1', 'key2', axis=0)  # 在特定轴上的MultiIndex中交换i和j级别

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
3    a        6   7        8
4    b        9  10       11
5    b       12  13       14

In [268]:
data1.swaplevel('state', 'color', axis=1)

color     Green  Red    Green
state      Ohio Ohio Colorado
key1 key2
a    1        0    1        2
     2        3    4        5
     3        6    7        8
b    4        9   10       11
     5       12   13       14

In [269]:
data1.swaplevel(0, 1, axis=1).sort_index(level=0)  # 对外层进行排序

color     Green  Red    Green
state      Ohio Ohio Colorado
key1 key2
a    1        0    1        2
     2        3    4        5
     3        6    7        8
b    4        9   10       11
     5       12   13       14