In [59]:
import numpy as np
import pandas as pd

In [60]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1   -0.165445
   2    2.177839
   3   -0.730823
b  1    0.706969
   3   -0.647966
c  1   -0.241338
   2    0.326342
d  2   -0.365760
   3    0.957029
dtype: float64

In [61]:
data['b']  # 类型是Series

1    0.706969
3   -0.647966
dtype: float64

In [62]:
data[['b', 'd']]

b  1    0.706969
   3   -0.647966
d  2   -0.365760
   3    0.957029
dtype: float64

In [63]:
data.loc[['b', 'd']]  # 与上等价

b  1    0.706969
   3   -0.647966
d  2   -0.365760
   3    0.957029
dtype: float64

In [64]:
data.loc['b':'d']

b  1    0.706969
   3   -0.647966
c  1   -0.241338
   2    0.326342
d  2   -0.365760
   3    0.957029
dtype: float64

In [65]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [66]:
# 分层的层级可以有名称(可以是字符串或python对象)
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']

In [67]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [68]:
frame.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           names=['key1', 'key2'])

In [69]:
frame.columns

MultiIndex([(    'Ohio', 'Green'),
            (    'Ohio',   'Red'),
            ('Colorado', 'Green')],
           names=['state', 'color'])

In [70]:
for i in frame.columns:
    print(i, type(i))

('Ohio', 'Green') <class 'tuple'>
('Ohio', 'Red') <class 'tuple'>
('Colorado', 'Green') <class 'tuple'>

In [71]:
# Make a MultiIndex from the cartesian product of multiple iterables.
df = pd.DataFrame(np.random.randint(2, 20, [30, 5]), columns=[*"ABCDE"],
                  index=pd.MultiIndex.from_product([['a1', 'a2', 'a3', 'a4', 'a5'],
                                                    ['b1', 'b2'], ['c1', 'c2', 'c3']], names=[*'abc']))  # 5*2*3
df

           A   B   C   D   E
a  b  c
a1 b1 c1  16  11  11  18  17
      c2   8   5  11   8   2
      c3   9  10   5   5  12
   b2 c1   6  11  11  11  15
      c2   8  14   9   8  11
      c3  10   5  11  12   4
a2 b1 c1  12   6  18  19  11
      c2  10   9  18   9   5
      c3   7   8   7  11  13
   b2 c1  18   3  16  17   3
      c2  10   8   4   6  10
      c3   9  19  10   2   7
a3 b1 c1  15   6  18  13  12
      c2   3   4  15  14   5
      c3  15   6   2   4  14
   b2 c1  10   6   3  14  11
      c2   6  11   4  17   9
      c3   7  15  17   9  19
a4 b1 c1   7   2  14  14  15
      c2   4  11   8   7  16
      c3   4   7   6  16   4
   b2 c1  15  12   4   2   6
      c2  11   8  16   4  18
      c3  14   2  13  13  11
a5 b1 c1   5   7  12   6  19
      c2  17  15  19  19  19
      c3   7  16  10  13   7
   b2 c1   6   8   2  11   7
      c2  17   8   7   9  19
      c3   4  14  14   7  12

In [72]:
idx = pd.IndexSlice  # 多索引切片
df.loc[idx[['a1', 'a3'], 'b1':'b2', ['c1', 'c3']], 'A':'D']
# 与上等价:df.loc[idx[['a1', 'a3'], 'b1':'b2', ['c1', 'c3']], idx['A':'D']]

           A   B   C   D
a  b  c
a1 b1 c1  16  11  11  18
      c3   9  10   5   5
   b2 c1   6  11  11  11
      c3  10   5  11  12
a3 b1 c1  15   6  18  13
      c3  15   6   2   4
   b2 c1  10   6   3  14
      c3   7  15  17   9

In [73]:
# Convert arrays to MultiIndex.
new_columns = pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'],
                                         ['Green', 'Red', 'Green']],
                                        names=['state', 'color'])
new_index = pd.MultiIndex.from_arrays([['a', 'a', 'a', 'b', 'b'],
                                       [1, 2, 3, 4, 5]],
                                      names=['key1', 'key2'])
print(new_index)

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 4),
            ('b', 5)],
           names=['key1', 'key2'])

In [74]:
data1 = pd.DataFrame(np.arange(15).reshape((5, 3)),
                     columns=new_columns, index=new_index)

In [75]:
data1

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
     3        6   7        8
b    4        9  10       11
     5       12  13       14

In [76]:
data1.loc['a', :]

state  Ohio     Colorado
color Green Red    Green
key2
1         0   1        2
2         3   4        5
3         6   7        8

In [77]:
data1.loc[:, 'Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
     3         6    7
b    4         9   10
     5        12   13

In [78]:
data1.loc[:, 'Ohio'].loc[:, 'Red'].loc['a'].loc[1]  # 分层索引的依次索引

1

In [79]:
# DataFrame和Series中很多描述性/汇总性统计有一个level选项
data1.sum(level='key2', axis=0)

C:\Users\dcdmm\AppData\Local\Temp\ipykernel_7676\91643756.py:2: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data1.sum(level='key2', axis=0)

state  Ohio     Colorado
color Green Red    Green
key2
1         0   1        2
2         3   4        5
3         6   7        8
4         9  10       11
5        12  13       14

In [80]:
data1.sum(level='key1', axis=0)

C:\Users\dcdmm\AppData\Local\Temp\ipykernel_7676\2567637331.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data1.sum(level='key1', axis=0)

state  Ohio     Colorado
color Green Red    Green
key1
a         9  12       15
b        21  23       25

In [81]:
data1.sum(level='color', axis=1)

C:\Users\dcdmm\AppData\Local\Temp\ipykernel_7676\1611022150.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data1.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
     3        14    7
b    4        20   10
     5        26   13

In [82]:
data1.sum(level='state', axis=1)

C:\Users\dcdmm\AppData\Local\Temp\ipykernel_7676\2767065491.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data1.sum(level='state', axis=1)

state      Ohio  Colorado
key1 key2
a    1        1         2
     2        7         5
     3       13         8
b    4       19        11
     5       25        14

In [83]:
"""
i, jint or str
    Levels of the indices to be swapped. Can pass level name as string.
"""
data1.swaplevel('key1', 'key2', axis=0)  # 在特定轴上的MultiIndex中交换i和j级别

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
3    a        6   7        8
4    b        9  10       11
5    b       12  13       14

In [84]:
data1.swaplevel('state', 'color', axis=1)

color     Green  Red    Green
state      Ohio Ohio Colorado
key1 key2
a    1        0    1        2
     2        3    4        5
     3        6    7        8
b    4        9   10       11
     5       12   13       14

In [85]:
data1.swaplevel(0, 1, axis=1).sort_index(level=0)  # 对外层进行排序

color     Green  Red    Green
state      Ohio Ohio Colorado
key1 key2
a    1        0    1        2
     2        3    4        5
     3        6    7        8
b    4        9   10       11
     5       12   13       14

In [86]:
data1.columns.__class__.__name__   # MultiIndex

'MultiIndex'

In [87]:
temp = pd.DataFrame([[1, 2], [3, 4]], columns=list("AB"))
temp.columns.__class__.__name__  # Index

'Index'