In [134]:
import pandas as pd

In [135]:
df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8]},
                  index=['falcon', 'dog', 'spider', 'fish'])
df

        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8

In [136]:
'''
n: int, optional
    Number of items from axis to return. Cannot be used with frac. Default = 1 if frac = None.

frac: float, optional
    Fraction of axis items to return. Cannot be used with n.
replace: bool, default False
    Allow or disallow sampling of the same row more than once.
'''
df['num_legs'].sample(n=3, random_state=1)

fish      0
spider    8
falcon    2
Name: num_legs, dtype: int64

In [137]:
df.sample(frac=0.5, replace=True, random_state=1)

      num_legs  num_wings  num_specimen_seen
dog          4          0                  2
fish         0          0                  8

In [138]:
df.sample(frac=0.5, replace=True, random_state=1, axis=1)

        num_wings  num_legs
falcon          2         2
dog             0         4
spider          0         8
fish            0         0

In [139]:
df.sample(frac=1, replace=True, random_state=1)

        num_legs  num_wings  num_specimen_seen
dog            4          0                  2
fish           0          0                  8
falcon         2          2                 10
falcon         2          2                 10

In [140]:
# 样本不重复
df.sample(frac=1, replace=False, random_state=1)

        num_legs  num_wings  num_specimen_seen
fish           0          0                  8
spider         8          0                  1
falcon         2          2                 10
dog            4          0                  2

In [141]:
# An upsample sample of the DataFrame with replacement: Note that replace parameter has to be True for frac parameter > 1.
df.sample(frac=2, replace=True, random_state=1)

        num_legs  num_wings  num_specimen_seen
dog            4          0                  2
fish           0          0                  8
falcon         2          2                 10
falcon         2          2                 10
fish           0          0                  8
dog            4          0                  2
fish           0          0                  8
dog            4          0                  2