## 设置打印输出
1. max_colwidth
2. display.float_format

In [16]:
import  numpy as np
import pandas as pd

df = pd.DataFrame(np.array([['foo', 'bar', 'bim', 'uncomfortably long string'],
                            ['horse', 'cow', 'banana', 'apple']]))

In [17]:
pd.set_option('max_colwidth', 6) # 设置列的最大宽度
df

       0    1      2      3
0    foo  bar    bim  un...
1  horse  cow  ba...  apple

In [18]:
pd.set_option('max_colwidth', 40)
df

       0    1       2                          3
0    foo  bar     bim  uncomfortably long string
1  horse  cow  banana                      apple

In [19]:
df1 = pd.DataFrame([[103413411234.0, 2345123242.3],
                   [342341234123.43, 32421341234]])
df1

                 0               1
0 103413411234.000  2345123242.300
1 342341234123.430 32421341234.000

In [22]:
pd.set_option('display.float_format',
              lambda x: "{:.3f}".format(x)) # 灵活的格式化操作(DataFrame中的每个元素)
df1

                 0               1
0 103413411234.000  2345123242.300
1 342341234123.430 32421341234.000