In [100]:
import pandas as pd
import numpy as np

In [101]:
frame = pd.DataFrame(np.arange(20).reshape(5, 4),
                     columns=['a', 'b', 'c', 'd'],
                     index=list('ABCDE'))
frame

    a   b   c   d
A   0   1   2   3
B   4   5   6   7
C   8   9  10  11
D  12  13  14  15
E  16  17  18  19

### 方式一:

In [102]:
# 新的列
change_col = frame.columns.tolist()
change_col[0], change_col[1] = change_col[1], change_col[0]
change_col

['b', 'a', 'c', 'd']

In [103]:
# 新的行
change_index = frame.index.tolist()
change_index[0], change_index[1] = change_index[1], change_index[0]
change_index

['B', 'A', 'C', 'D', 'E']

In [104]:
new_frame = frame.reindex(columns=change_col, index=change_index)
new_frame

    b   a   c   d
B   5   4   6   7
A   1   0   2   3
C   9   8  10  11
D  13  12  14  15
E  17  16  18  19

### 方式二:

In [105]:
frame

    a   b   c   d
A   0   1   2   3
B   4   5   6   7
C   8   9  10  11
D  12  13  14  15
E  16  17  18  19

In [106]:
temp_a = frame.loc[:, 'a'].copy()  # 必须进行copy
frame.loc[:, 'a'] = new_frame.loc[:, 'b']
frame.loc[:, 'b'] = temp_a

temp_1 = frame.loc["A", :].copy()
frame.loc["A", :] = frame.loc["B", :]
frame.loc["B", :] = temp_1

frame.rename(columns={'a': 'b', 'b': 'a'}, index={"A": "B", "B": "A"}, inplace=True)
frame

    b   a   c   d
B   5   4   6   7
A   1   0   2   3
C   9   8  10  11
D  13  12  14  15
E  17  16  18  19