In [14]:
import pandas as pd

In [15]:
tips = pd.read_csv('tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.drop('time', axis=1, inplace=True)
tips[:6]

   total_bill   tip smoker  day  size   tip_pct
0       16.99  1.01     No  Sun     2  0.059447
1       10.34  1.66     No  Sun     3  0.160542
2       21.01  3.50     No  Sun     3  0.166587
3       23.68  3.31     No  Sun     2  0.139780
4       24.59  3.61     No  Sun     4  0.146808
5       25.29  4.71     No  Sun     4  0.186240

In [16]:
group_df = tips.groupby([tips['day'], tips['smoker']])
group_ser = group_df['tip_pct']
print(group_df)  # DataFrameGroupBy object
print(group_ser)  # SeriesGroupBy object

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EE371423A0>
<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001EE375F5640>

In [17]:
group_df.quantile()

             total_bill    tip  size   tip_pct
day  smoker
Fri  No          19.235  3.125   2.0  0.149241
     Yes         13.420  2.500   2.0  0.173913
Sat  No          17.820  2.750   2.0  0.150152
     Yes         20.390  2.690   2.0  0.153624
Sun  No          18.430  3.020   3.0  0.161665
     Yes         23.100  3.500   2.0  0.138122
Thur No          15.950  2.180   2.0  0.153492
     Yes         16.470  2.560   2.0  0.153846

In [18]:
# 常见内置groupby函数
# 官网链接:https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html
"""
聚合函数
any       Return True if any value in the group is truthful, else False
all       Return True if all values in the group are truthful, else False.
count     Compute count of group, excluding missing values.
sum       Compute sum of group values.
prod 	  Compute prod of group values.
first     Compute first of group values.
last      Compute last of group values.
mean      Compute mean of groups, excluding missing values.
median    Compute median of groups, excluding missing values.
min       Compute min of group values.
max       Compute max of group values.
size      Compute group sizes.
var 	  Compute variance of groups, excluding missing values.
std       Compute standard deviation of groups, excluding missing values.
quntile   Return group values at the given quantile, a la numpy.percentile.
describe  Generate descriptive statistics.

# 非聚合函数
head      Return first n rows of each group.
cumsum    Cumulative sum for each group.
cumprod   Cumulative product for each group
pctchange Calculate pct_change of each value to previous entry in group.
"""

agg_func_list = ['any', 'all', 'count', 'sum', 'prod', 'first', 'last', 'mean', 'median',
                 'min', 'max', 'size', 'var', 'std', 'quantile', 'describe']

In [19]:
for agg_func in agg_func_list:
    # SeriesGroupBy object 测试
    print(agg_func + ":")
    print(group_ser.agg(agg_func), end='\n\n')

any:
day   smoker
Fri   No        True
      Yes       True
Sat   No        True
      Yes       True
Sun   No        True
      Yes       True
Thur  No        True
      Yes       True
Name: tip_pct, dtype: bool

all:
day   smoker
Fri   No        True
      Yes       True
Sat   No        True
      Yes       True
Sun   No        True
      Yes       True
Thur  No        True
      Yes       True
Name: tip_pct, dtype: bool

count:
day   smoker
Fri   No         4
      Yes       15
Sat   No        45
      Yes       42
Sun   No        57
      Yes       19
Thur  No        45
      Yes       17
Name: tip_pct, dtype: int64

sum:
day   smoker
Fri   No        0.606602
      Yes       2.621746
Sat   No        7.112145
      Yes       6.212055
Sun   No        9.126438
      Yes       3.557756
Thur  No        7.213414
      Yes       2.785676
Name: tip_pct, dtype: float64

prod:
day   smoker
Fri   No        5.024562e-04
      Yes       2.359303e-12
Sat   No        2.060591e-37
      Yes       2.582433e-37
Sun   No        4.802404e-47
      Yes       2.605449e-16
Thur  No        4.198484e-37
      Yes       2.731852e-14
Name: tip_pct, dtype: float64

first:
day   smoker
Fri   No        0.155625
      Yes       0.103555
Sat   No        0.162228
      Yes       0.078927
Sun   No        0.059447
      Yes       0.171331
Thur  No        0.147059
      Yes       0.154321
Name: tip_pct, dtype: float64

last:
day   smoker
Fri   No        0.187735
      Yes       0.198216
Sat   No        0.098204
      Yes       0.088222
Sun   No        0.241663
      Yes       0.095602
Thur  No        0.159744
      Yes       0.196114
Name: tip_pct, dtype: float64

mean:
day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

median:
day   smoker
Fri   No        0.149241
      Yes       0.173913
Sat   No        0.150152
      Yes       0.153624
Sun   No        0.161665
      Yes       0.138122
Thur  No        0.153492
      Yes       0.153846
Name: tip_pct, dtype: float64

min:
day   smoker
Fri   No        0.120385
      Yes       0.103555
Sat   No        0.056797
      Yes       0.035638
Sun   No        0.059447
      Yes       0.065660
Thur  No        0.072961
      Yes       0.090014
Name: tip_pct, dtype: float64

max:
day   smoker
Fri   No        0.187735
      Yes       0.263480
Sat   No        0.291990
      Yes       0.325733
Sun   No        0.252672
      Yes       0.710345
Thur  No        0.266312
      Yes       0.241255
Name: tip_pct, dtype: float64

size:
day   smoker
Fri   No         4
      Yes       15
Sat   No        45
      Yes       42
Sun   No        57
      Yes       19
Thur  No        45
      Yes       17
Name: tip_pct, dtype: int64

var:
day   smoker
Fri   No        0.000791
      Yes       0.002631
Sat   No        0.001581
      Yes       0.003767
Sun   No        0.001793
      Yes       0.023757
Thur  No        0.001503
      Yes       0.001551
Name: tip_pct, dtype: float64

std:
day   smoker
Fri   No        0.028123
      Yes       0.051293
Sat   No        0.039767
      Yes       0.061375
Sun   No        0.042347
      Yes       0.154134
Thur  No        0.038774
      Yes       0.039389
Name: tip_pct, dtype: float64

quantile:
day   smoker
Fri   No        0.149241
      Yes       0.173913
Sat   No        0.150152
      Yes       0.153624
Sun   No        0.161665
      Yes       0.138122
Thur  No        0.153492
      Yes       0.153846
Name: tip_pct, dtype: float64

describe:
             count      mean       std       min       25%       50%  \
day  smoker
Fri  No        4.0  0.151650  0.028123  0.120385  0.137239  0.149241
     Yes      15.0  0.174783  0.051293  0.103555  0.133739  0.173913
Sat  No       45.0  0.158048  0.039767  0.056797  0.136240  0.150152
     Yes      42.0  0.147906  0.061375  0.035638  0.091797  0.153624
Sun  No       57.0  0.160113  0.042347  0.059447  0.139780  0.161665
     Yes      19.0  0.187250  0.154134  0.065660  0.097723  0.138122
Thur No       45.0  0.160298  0.038774  0.072961  0.137741  0.153492
     Yes      17.0  0.163863  0.039389  0.090014  0.148038  0.153846

                  75%       max
day  smoker
Fri  No      0.163652  0.187735
     Yes     0.209240  0.263480
Sat  No      0.183915  0.291990
     Yes     0.190502  0.325733
Sun  No      0.185185  0.252672
     Yes     0.215325  0.710345
Thur No      0.184843  0.266312
     Yes     0.194837  0.241255

In [20]:
for agg_func in agg_func_list:
    # DataFrameGroupBy object 测试
    print(agg_func)
    print(group_df.agg(agg_func), end='\n\n')

any
             total_bill   tip  size  tip_pct
day  smoker
Fri  No            True  True  True     True
     Yes           True  True  True     True
Sat  No            True  True  True     True
     Yes           True  True  True     True
Sun  No            True  True  True     True
     Yes           True  True  True     True
Thur No            True  True  True     True
     Yes           True  True  True     True

all
             total_bill   tip  size  tip_pct
day  smoker
Fri  No            True  True  True     True
     Yes           True  True  True     True
Sat  No            True  True  True     True
     Yes           True  True  True     True
Sun  No            True  True  True     True
     Yes           True  True  True     True
Thur No            True  True  True     True
     Yes           True  True  True     True

count
             total_bill  tip  size  tip_pct
day  smoker
Fri  No               4    4     4        4
     Yes             15   15    15       15
Sat  No              45   45    45       45
     Yes             42   42    42       42
Sun  No              57   57    57       57
     Yes             19   19    19       19
Thur No              45   45    45       45
     Yes             17   17    17       17

sum
             total_bill     tip  size   tip_pct
day  smoker
Fri  No           73.68   11.25     9  0.606602
     Yes         252.20   40.71    31  2.621746
Sat  No          884.78  139.63   115  7.112145
     Yes         893.62  120.77   104  6.212055
Sun  No         1168.88  180.57   167  9.126438
     Yes         458.28   66.82    49  3.557756
Thur No          770.09  120.32   112  7.213414
     Yes         326.24   51.51    40  2.785676

prod
               total_bill           tip          size       tip_pct
day  smoker
Fri  No      1.018745e+05  5.118750e+01  2.400000e+01  5.024562e-04
     Yes     4.054443e+17  9.565658e+05  3.276800e+04  2.359303e-12
Sat  No      4.070017e+56  8.386640e+19  2.921628e+17  2.060591e-37
     Yes     4.145582e+53  1.070569e+17  4.007720e+15  2.582433e-37
Sun  No      8.789798e+72  4.221216e+26  1.531774e+25  4.802404e-47
     Yes     2.779444e+25  7.241701e+09  2.654208e+07  2.605449e-16
Thur No      5.659538e+53  2.376148e+17  2.137451e+16  4.198484e-37
     Yes     1.977325e+21  5.401758e+07  1.179648e+06  2.731852e-14

first
             total_bill   tip  size   tip_pct
day  smoker
Fri  No           22.49  3.50     2  0.155625
     Yes          28.97  3.00     2  0.103555
Sat  No           20.65  3.35     3  0.162228
     Yes          38.01  3.00     4  0.078927
Sun  No           16.99  1.01     2  0.059447
     Yes          17.51  3.00     2  0.171331
Thur No           27.20  4.00     4  0.147059
     Yes          19.44  3.00     2  0.154321

last
             total_bill   tip  size   tip_pct
day  smoker
Fri  No           15.98  3.00     3  0.187735
     Yes          10.09  2.00     2  0.198216
Sat  No           17.82  1.75     2  0.098204
     Yes          22.67  2.00     2  0.088222
Sun  No           20.69  5.00     5  0.241663
     Yes          15.69  1.50     2  0.095602
Thur No           18.78  3.00     2  0.159744
     Yes          16.47  3.23     3  0.196114

mean
             total_bill       tip      size   tip_pct
day  smoker
Fri  No       18.420000  2.812500  2.250000  0.151650
     Yes      16.813333  2.714000  2.066667  0.174783
Sat  No       19.661778  3.102889  2.555556  0.158048
     Yes      21.276667  2.875476  2.476190  0.147906
Sun  No       20.506667  3.167895  2.929825  0.160113
     Yes      24.120000  3.516842  2.578947  0.187250
Thur No       17.113111  2.673778  2.488889  0.160298
     Yes      19.190588  3.030000  2.352941  0.163863

median
             total_bill    tip  size   tip_pct
day  smoker
Fri  No          19.235  3.125   2.0  0.149241
     Yes         13.420  2.500   2.0  0.173913
Sat  No          17.820  2.750   2.0  0.150152
     Yes         20.390  2.690   2.0  0.153624
Sun  No          18.430  3.020   3.0  0.161665
     Yes         23.100  3.500   2.0  0.138122
Thur No          15.950  2.180   2.0  0.153492
     Yes         16.470  2.560   2.0  0.153846

min
             total_bill   tip  size   tip_pct
day  smoker
Fri  No           12.46  1.50     2  0.120385
     Yes           5.75  1.00     1  0.103555
Sat  No            7.25  1.00     1  0.056797
     Yes           3.07  1.00     1  0.035638
Sun  No            8.77  1.01     2  0.059447
     Yes           7.25  1.50     2  0.065660
Thur No            7.51  1.25     1  0.072961
     Yes          10.34  2.00     2  0.090014

max
             total_bill    tip  size   tip_pct
day  smoker
Fri  No           22.75   3.50     3  0.187735
     Yes          40.17   4.73     4  0.263480
Sat  No           48.33   9.00     4  0.291990
     Yes          50.81  10.00     5  0.325733
Sun  No           48.17   6.00     6  0.252672
     Yes          45.35   6.50     5  0.710345
Thur No           41.19   6.70     6  0.266312
     Yes          43.11   5.00     4  0.241255

size
day   smoker
Fri   No         4
      Yes       15
Sat   No        45
      Yes       42
Sun   No        57
      Yes       19
Thur  No        45
      Yes       17
dtype: int64

var
             total_bill       tip      size   tip_pct
day  smoker
Fri  No       25.596333  0.807292  0.250000  0.000791
     Yes      82.562438  1.161369  0.352381  0.002631
Sat  No       79.908965  2.696453  0.616162  0.001581
     Yes     101.387535  2.658791  0.743322  0.003767
Sun  No       66.099980  1.500099  1.066416  0.001793
     Yes     109.046044  1.590501  0.812865  0.023757
Thur No       59.625081  1.645997  1.391919  0.001503
     Yes      69.808518  1.239863  0.492647  0.001551

std
             total_bill       tip      size   tip_pct
day  smoker
Fri  No        5.059282  0.898494  0.500000  0.028123
     Yes       9.086388  1.077668  0.593617  0.051293
Sat  No        8.939181  1.642088  0.784960  0.039767
     Yes      10.069138  1.630580  0.862161  0.061375
Sun  No        8.130189  1.224785  1.032674  0.042347
     Yes      10.442511  1.261151  0.901591  0.154134
Thur No        7.721728  1.282964  1.179796  0.038774
     Yes       8.355149  1.113491  0.701888  0.039389

quantile
             total_bill    tip  size   tip_pct
day  smoker
Fri  No          19.235  3.125   2.0  0.149241
     Yes         13.420  2.500   2.0  0.173913
Sat  No          17.820  2.750   2.0  0.150152
     Yes         20.390  2.690   2.0  0.153624
Sun  No          18.430  3.020   3.0  0.161665
     Yes         23.100  3.500   2.0  0.138122
Thur No          15.950  2.180   2.0  0.153492
     Yes         16.470  2.560   2.0  0.153846

describe
            total_bill                                                        \
                 count       mean        std    min     25%     50%      75%
day  smoker
Fri  No            4.0  18.420000   5.059282  12.46  15.100  19.235  22.5550
     Yes          15.0  16.813333   9.086388   5.75  11.690  13.420  18.6650
Sat  No           45.0  19.661778   8.939181   7.25  14.730  17.820  20.6500
     Yes          42.0  21.276667  10.069138   3.07  13.405  20.390  26.7925
Sun  No           57.0  20.506667   8.130189   8.77  14.780  18.430  25.0000
     Yes          19.0  24.120000  10.442511   7.25  17.165  23.100  32.3750
Thur No           45.0  17.113111   7.721728   7.51  11.690  15.950  20.2700
     Yes          17.0  19.190588   8.355149  10.34  13.510  16.470  19.8100

                     tip            ...  size      tip_pct            \
               max count      mean  ...   75%  max   count      mean
day  smoker                         ...
Fri  No      22.75   4.0  2.812500  ...  2.25  3.0     4.0  0.151650
     Yes     40.17  15.0  2.714000  ...  2.00  4.0    15.0  0.174783
Sat  No      48.33  45.0  3.102889  ...  3.00  4.0    45.0  0.158048
     Yes     50.81  42.0  2.875476  ...  3.00  5.0    42.0  0.147906
Sun  No      48.17  57.0  3.167895  ...  4.00  6.0    57.0  0.160113
     Yes     45.35  19.0  3.516842  ...  3.00  5.0    19.0  0.187250
Thur No      41.19  45.0  2.673778  ...  2.00  6.0    45.0  0.160298
     Yes     43.11  17.0  3.030000  ...  2.00  4.0    17.0  0.163863


                  std       min       25%       50%       75%       max
day  smoker
Fri  No      0.028123  0.120385  0.137239  0.149241  0.163652  0.187735
     Yes     0.051293  0.103555  0.133739  0.173913  0.209240  0.263480
Sat  No      0.039767  0.056797  0.136240  0.150152  0.183915  0.291990
     Yes     0.061375  0.035638  0.091797  0.153624  0.190502  0.325733
Sun  No      0.042347  0.059447  0.139780  0.161665  0.185185  0.252672
     Yes     0.154134  0.065660  0.097723  0.138122  0.215325  0.710345
Thur No      0.038774  0.072961  0.137741  0.153492  0.184843  0.266312
     Yes     0.039389  0.090014  0.148038  0.153846  0.194837  0.241255

[8 rows x 32 columns]

## 直接调用

In [21]:
group_df.mean()

             total_bill       tip      size   tip_pct
day  smoker
Fri  No       18.420000  2.812500  2.250000  0.151650
     Yes      16.813333  2.714000  2.066667  0.174783
Sat  No       19.661778  3.102889  2.555556  0.158048
     Yes      21.276667  2.875476  2.476190  0.147906
Sun  No       20.506667  3.167895  2.929825  0.160113
     Yes      24.120000  3.516842  2.578947  0.187250
Thur No       17.113111  2.673778  2.488889  0.160298
     Yes      19.190588  3.030000  2.352941  0.163863

In [22]:
group_ser.mean()

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

### 几个特殊内置groupby函数的说明
* head,pct_chage,cumsum,cumprod不是聚合函数

In [23]:
group_df.head()  # 包含用于确定groupby的组

     total_bill   tip smoker   day  size   tip_pct
0         16.99  1.01     No   Sun     2  0.059447
1         10.34  1.66     No   Sun     3  0.160542
2         21.01  3.50     No   Sun     3  0.166587
3         23.68  3.31     No   Sun     2  0.139780
4         24.59  3.61     No   Sun     4  0.146808
19        20.65  3.35     No   Sat     3  0.162228
20        17.92  4.08     No   Sat     2  0.227679
21        20.29  2.75     No   Sat     2  0.135535
22        15.77  2.23     No   Sat     2  0.141408
23        39.42  7.58     No   Sat     4  0.192288
56        38.01  3.00    Yes   Sat     4  0.078927
58        11.24  1.76    Yes   Sat     2  0.156584
60        20.29  3.21    Yes   Sat     2  0.158206
61        13.81  2.00    Yes   Sat     2  0.144823
62        11.02  1.98    Yes   Sat     2  0.179673
77        27.20  4.00     No  Thur     4  0.147059
78        22.76  3.00     No  Thur     2  0.131810
79        17.29  2.71     No  Thur     2  0.156738
80        19.44  3.00    Yes  Thur     2  0.154321
81        16.66  3.40     No  Thur     2  0.204082
82        10.07  1.83     No  Thur     1  0.181728
83        32.68  5.00    Yes  Thur     2  0.152999
90        28.97  3.00    Yes   Fri     2  0.103555
91        22.49  3.50     No   Fri     2  0.155625
92         5.75  1.00    Yes   Fri     2  0.173913
93        16.32  4.30    Yes   Fri     2  0.263480
94        22.75  3.25     No   Fri     2  0.142857
95        40.17  4.73    Yes   Fri     4  0.117750
96        27.28  4.00    Yes   Fri     2  0.146628
99        12.46  1.50     No   Fri     2  0.120385
138       16.00  2.00    Yes  Thur     2  0.125000
164       17.51  3.00    Yes   Sun     2  0.171331
172        7.25  5.15    Yes   Sun     2  0.710345
173       31.85  3.18    Yes   Sun     2  0.099843
174       16.82  4.00    Yes   Sun     2  0.237812
175       32.90  3.11    Yes   Sun     2  0.094529
191       19.81  4.19    Yes  Thur     2  0.211509
192       28.44  2.56    Yes  Thur     2  0.090014
223       15.98  3.00     No   Fri     3  0.187735

In [24]:
group_df.pct_change()

     total_bill       tip      size   tip_pct
0           NaN       NaN       NaN       NaN
1     -0.391407  0.643564  0.500000  1.700596
2      1.031915  1.108434  0.000000  0.037658
3      0.127082 -0.054286 -0.333333 -0.160918
4      0.038429  0.090634  1.000000  0.050273
..          ...       ...       ...       ...
239   -0.189785  0.267666  0.000000  0.564605
240   -0.172099  0.709402  0.000000  1.064741
241   -0.165931  0.000000  0.000000  0.198941
242   -0.386152 -0.704392 -0.333333 -0.518434
243    1.484127  1.083333  0.000000 -0.161342

[244 rows x 4 columns]

In [25]:
group_df.quantile(q=[0.25, 0.5, 0.75])  # 默认q=0.5

                  total_bill     tip  size   tip_pct
day  smoker
Fri  No     0.25     15.1000  2.6250  2.00  0.137239
            0.50     19.2350  3.1250  2.00  0.149241
            0.75     22.5550  3.3125  2.25  0.163652
     Yes    0.25     11.6900  1.9600  2.00  0.133739
            0.50     13.4200  2.5000  2.00  0.173913
            0.75     18.6650  3.2400  2.00  0.209240
Sat  No     0.25     14.7300  2.0100  2.00  0.136240
            0.50     17.8200  2.7500  2.00  0.150152
            0.75     20.6500  3.3900  3.00  0.183915
     Yes    0.25     13.4050  2.0000  2.00  0.091797
            0.50     20.3900  2.6900  2.00  0.153624
            0.75     26.7925  3.1975  3.00  0.190502
Sun  No     0.25     14.7800  2.0000  2.00  0.139780
            0.50     18.4300  3.0200  3.00  0.161665
            0.75     25.0000  3.9200  4.00  0.185185
     Yes    0.25     17.1650  3.0000  2.00  0.097723
            0.50     23.1000  3.5000  2.00  0.138122
            0.75     32.3750  4.0000  3.00  0.215325
Thur No     0.25     11.6900  1.8000  2.00  0.137741
            0.50     15.9500  2.1800  2.00  0.153492
            0.75     20.2700  3.0000  2.00  0.184843
     Yes    0.25     13.5100  2.0000  2.00  0.148038
            0.50     16.4700  2.5600  2.00  0.153846
            0.75     19.8100  4.0000  2.00  0.194837

In [26]:
group_df.cumsum()

     total_bill     tip  size   tip_pct
0         16.99    1.01     2  0.059447
1         27.33    2.67     5  0.219988
2         48.34    6.17     8  0.386576
3         72.02    9.48    10  0.526356
4         96.61   13.09    14  0.673164
..          ...     ...   ...       ...
239      866.96  137.88   113  7.013940
240      870.95  118.77   102  6.123832
241      893.62  120.77   104  6.212055
242      884.78  139.63   115  7.112145
243      770.09  120.32   112  7.213414

[244 rows x 4 columns]

In [27]:
group_df.agg('head')  # head,pct_chage,cumsum,cumprod不合适使用agg函数进行数据聚合

     total_bill   tip smoker   day  size   tip_pct
0         16.99  1.01     No   Sun     2  0.059447
1         10.34  1.66     No   Sun     3  0.160542
2         21.01  3.50     No   Sun     3  0.166587
3         23.68  3.31     No   Sun     2  0.139780
4         24.59  3.61     No   Sun     4  0.146808
19        20.65  3.35     No   Sat     3  0.162228
20        17.92  4.08     No   Sat     2  0.227679
21        20.29  2.75     No   Sat     2  0.135535
22        15.77  2.23     No   Sat     2  0.141408
23        39.42  7.58     No   Sat     4  0.192288
56        38.01  3.00    Yes   Sat     4  0.078927
58        11.24  1.76    Yes   Sat     2  0.156584
60        20.29  3.21    Yes   Sat     2  0.158206
61        13.81  2.00    Yes   Sat     2  0.144823
62        11.02  1.98    Yes   Sat     2  0.179673
77        27.20  4.00     No  Thur     4  0.147059
78        22.76  3.00     No  Thur     2  0.131810
79        17.29  2.71     No  Thur     2  0.156738
80        19.44  3.00    Yes  Thur     2  0.154321
81        16.66  3.40     No  Thur     2  0.204082
82        10.07  1.83     No  Thur     1  0.181728
83        32.68  5.00    Yes  Thur     2  0.152999
90        28.97  3.00    Yes   Fri     2  0.103555
91        22.49  3.50     No   Fri     2  0.155625
92         5.75  1.00    Yes   Fri     2  0.173913
93        16.32  4.30    Yes   Fri     2  0.263480
94        22.75  3.25     No   Fri     2  0.142857
95        40.17  4.73    Yes   Fri     4  0.117750
96        27.28  4.00    Yes   Fri     2  0.146628
99        12.46  1.50     No   Fri     2  0.120385
138       16.00  2.00    Yes  Thur     2  0.125000
164       17.51  3.00    Yes   Sun     2  0.171331
172        7.25  5.15    Yes   Sun     2  0.710345
173       31.85  3.18    Yes   Sun     2  0.099843
174       16.82  4.00    Yes   Sun     2  0.237812
175       32.90  3.11    Yes   Sun     2  0.094529
191       19.81  4.19    Yes  Thur     2  0.211509
192       28.44  2.56    Yes  Thur     2  0.090014
223       15.98  3.00     No   Fri     3  0.187735

In [28]:
def data_head(group):
    return group.head()


group_df.apply(data_head)  # 效果更好

                 total_bill   tip smoker   day  size   tip_pct
day  smoker
Fri  No     91        22.49  3.50     No   Fri     2  0.155625
            94        22.75  3.25     No   Fri     2  0.142857
            99        12.46  1.50     No   Fri     2  0.120385
            223       15.98  3.00     No   Fri     3  0.187735
     Yes    90        28.97  3.00    Yes   Fri     2  0.103555
            92         5.75  1.00    Yes   Fri     2  0.173913
            93        16.32  4.30    Yes   Fri     2  0.263480
            95        40.17  4.73    Yes   Fri     4  0.117750
            96        27.28  4.00    Yes   Fri     2  0.146628
Sat  No     19        20.65  3.35     No   Sat     3  0.162228
            20        17.92  4.08     No   Sat     2  0.227679
            21        20.29  2.75     No   Sat     2  0.135535
            22        15.77  2.23     No   Sat     2  0.141408
            23        39.42  7.58     No   Sat     4  0.192288
     Yes    56        38.01  3.00    Yes   Sat     4  0.078927
            58        11.24  1.76    Yes   Sat     2  0.156584
            60        20.29  3.21    Yes   Sat     2  0.158206
            61        13.81  2.00    Yes   Sat     2  0.144823
            62        11.02  1.98    Yes   Sat     2  0.179673
Sun  No     0         16.99  1.01     No   Sun     2  0.059447
            1         10.34  1.66     No   Sun     3  0.160542
            2         21.01  3.50     No   Sun     3  0.166587
            3         23.68  3.31     No   Sun     2  0.139780
            4         24.59  3.61     No   Sun     4  0.146808
     Yes    164       17.51  3.00    Yes   Sun     2  0.171331
            172        7.25  5.15    Yes   Sun     2  0.710345
            173       31.85  3.18    Yes   Sun     2  0.099843
            174       16.82  4.00    Yes   Sun     2  0.237812
            175       32.90  3.11    Yes   Sun     2  0.094529
Thur No     77        27.20  4.00     No  Thur     4  0.147059
            78        22.76  3.00     No  Thur     2  0.131810
            79        17.29  2.71     No  Thur     2  0.156738
            81        16.66  3.40     No  Thur     2  0.204082
            82        10.07  1.83     No  Thur     1  0.181728
     Yes    80        19.44  3.00    Yes  Thur     2  0.154321
            83        32.68  5.00    Yes  Thur     2  0.152999
            138       16.00  2.00    Yes  Thur     2  0.125000
            191       19.81  4.19    Yes  Thur     2  0.211509
            192       28.44  2.56    Yes  Thur     2  0.090014