In [290]:
import pandas as pd
import numpy as np

In [291]:
tips = pd.read_csv('tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips

     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

In [292]:
for name, one_group in tips.groupby('smoker'):
    print('group:', name)
    print(one_group)

group: No
     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
235       10.07  1.25     No   Sat  Dinner     2  0.124131
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[151 rows x 7 columns]
group: Yes
     total_bill   tip smoker  day    time  size   tip_pct
56        38.01  3.00    Yes  Sat  Dinner     4  0.078927
58        11.24  1.76    Yes  Sat  Dinner     2  0.156584
60        20.29  3.21    Yes  Sat  Dinner     2  0.158206
61        13.81  2.00    Yes  Sat  Dinner     2  0.144823
62        11.02  1.98    Yes  Sat  Dinner     2  0.179673
..          ...   ...    ...  ...     ...   ...       ...
234       15.53  3.00    Yes  Sat  Dinner     2  0.193175
236       12.60  1.00    Yes  Sat  Dinner     2  0.079365
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
240       27.18  2.00    Yes  Sat  Dinner     2  0.073584
241       22.67  2.00    Yes  Sat  Dinner     2  0.088222

[93 rows x 7 columns]

In [293]:
def top(df, n=5, columns='tip_pct'):
    print(df.sort_values(by=columns)[-n:])  # 包含分组列
    return df.sort_values(by=columns)[-n:]

In [294]:
# 1. top函数在每一个分组上被调用
# 2. 之后通过pandas.concat函数将返回结果拼接在一起,并使用分组名作为各组的index(group_keys=True时)
tips.groupby('smoker').apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [295]:
'''
group_keys: bool, default True
    When calling apply, add group keys to index to identify pieces.
'''
tips.groupby('smoker', group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [296]:
tips.groupby(['smoker', 'day']).apply(top, n=2, columns='total_bill')  # 向apply中的函数传递参数

    total_bill   tip smoker  day    time  size   tip_pct
91       22.49  3.50     No  Fri  Dinner     2  0.155625
94       22.75  3.25     No  Fri  Dinner     2  0.142857
     total_bill   tip smoker  day    time  size   tip_pct
59        48.27  6.73     No  Sat  Dinner     4  0.139424
212       48.33  9.00     No  Sat  Dinner     4  0.186220
     total_bill  tip smoker  day    time  size   tip_pct
112       38.07  4.0     No  Sun  Dinner     3  0.105070
156       48.17  5.0     No  Sun  Dinner     6  0.103799
     total_bill   tip smoker   day   time  size   tip_pct
85        34.83  5.17     No  Thur  Lunch     4  0.148435
142       41.19  5.00     No  Thur  Lunch     5  0.121389
    total_bill   tip smoker  day    time  size   tip_pct
90       28.97  3.00    Yes  Fri  Dinner     2  0.103555
95       40.17  4.73    Yes  Fri  Dinner     4  0.117750
     total_bill   tip smoker  day    time  size   tip_pct
102       44.30   2.5    Yes  Sat  Dinner     3  0.056433
170       50.81  10.0    Yes  Sat  Dinner     3  0.196812
     total_bill  tip smoker  day    time  size   tip_pct
184       40.55  3.0    Yes  Sun  Dinner     2  0.073983
182       45.35  3.5    Yes  Sun  Dinner     3  0.077178
     total_bill  tip smoker   day   time  size   tip_pct
83        32.68  5.0    Yes  Thur  Lunch     2  0.152999
197       43.11  5.0    Yes  Thur  Lunch     4  0.115982

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [297]:
# 以下操作三者等价
print(tips.groupby('smoker').apply(min), end='\n\n')  # 执行任何类型的操作
print(tips.groupby('smoker').agg(min), end='\n\n')  # 仅支持聚合操作
print(tips.groupby('smoker').min())

        total_bill  tip smoker  day    time  size   tip_pct
smoker
No            7.25  1.0     No  Fri  Dinner     1  0.056797
Yes           3.07  1.0    Yes  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

In [298]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
frame

        data1     data2
0    0.371566 -1.230744
1    0.117749 -0.332161
2   -0.645494 -0.354926
3   -0.021419 -0.193736
4   -1.193037 -0.549624
..        ...       ...
995 -0.643040  0.254125
996 -0.420312  0.256372
997 -0.882337 -1.200287
998  0.576261  0.238172
999  0.557167 -0.671966

[1000 rows x 2 columns]

In [299]:
quartiles = pd.cut(frame.data2, 4)
quartiles  # type为Series,dtype为CategoricalDtype

0      (-1.771, -0.256]
1      (-1.771, -0.256]
2      (-1.771, -0.256]
3       (-0.256, 1.259]
4      (-1.771, -0.256]
             ...
995     (-0.256, 1.259]
996     (-0.256, 1.259]
997    (-1.771, -0.256]
998     (-0.256, 1.259]
999    (-1.771, -0.256]
Name: data2, Length: 1000, dtype: category
Categories (4, interval[float64, right]): [(-3.292, -1.771] < (-1.771, -0.256] < (-0.256, 1.259] < (1.259, 2.774]]

In [300]:
grouped = frame.data2.groupby(quartiles)

for i, j in grouped:
    print("group:", i)
    print(j)  # 属于分箱i内的样本

group: (-3.292, -1.771]
76    -1.836842
97    -2.330570
106   -1.944852
107   -2.395963
111   -1.970307
121   -2.424607
178   -2.032135
185   -2.220818
217   -2.810118
220   -2.226077
233   -2.315964
278   -1.897252
333   -1.790002
343   -2.616845
358   -2.484301
407   -2.331619
435   -1.968947
450   -2.744643
457   -2.278794
478   -1.870858
519   -1.889678
525   -1.932621
562   -2.230649
595   -1.800562
716   -1.975537
731   -1.784087
771   -2.540584
774   -1.954813
800   -3.136049
811   -2.070624
826   -2.104062
838   -2.313400
843   -1.967527
905   -1.807429
911   -1.870660
917   -2.112221
931   -1.894325
933   -3.286045
965   -2.373589
Name: data2, dtype: float64
group: (-1.771, -0.256]
0     -1.230744
1     -0.332161
2     -0.354926
4     -0.549624
5     -0.318600
         ...
979   -0.809685
981   -0.434541
983   -0.746164
997   -1.200287
999   -0.671966
Name: data2, Length: 356, dtype: float64
group: (-0.256, 1.259]
3     -0.193736
9      1.138079
10     0.405095
11     0.373586
14    -0.052176
         ...
992    0.254746
994    0.128671
995    0.254125
996    0.256372
998    0.238172
Name: data2, Length: 486, dtype: float64
group: (1.259, 2.774]
15     2.105550
20     2.044456
22     1.445557
23     2.572762
26     1.300881
         ...
982    1.454735
984    1.351986
989    2.599960
991    1.287058
993    1.641663
Name: data2, Length: 119, dtype: float64

In [301]:
grouped.mean()

data2
(-3.292, -1.771]   -2.193230
(-1.771, -0.256]   -0.850414
(-0.256, 1.259]     0.423713
(1.259, 2.774]      1.689472
Name: data2, dtype: float64

In [302]:
def get_stats(group):
    return pd.Series({'min': group.min(), 'max': group.max(),
                      'count': group.count(), 'mean': group.mean(), 'sum': np.sum(group)})

In [303]:
grouped.apply(get_stats)

data2
(-3.292, -1.771]  min       -3.286045
                  max       -1.784087
                  count     39.000000
                  mean      -2.193230
                  sum      -85.535976
(-1.771, -0.256]  min       -1.756230
                  max       -0.256113
                  count    356.000000
                  mean      -0.850414
                  sum     -302.747438
(-0.256, 1.259]   min       -0.254312
                  max        1.253997
                  count    486.000000
                  mean       0.423713
                  sum      205.924526
(1.259, 2.774]    min        1.265152
                  max        2.773893
                  count    119.000000
                  mean       1.689472
                  sum      201.047189
Name: data2, dtype: float64