In [68]:
import pandas as pd
import numpy as np

tips = pd.read_csv('tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips

     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

In [69]:
def top(df, n=5, columns='tip_pct'):
    print('进入top函数\n', df)
    return df.sort_values(by=columns)[-n:]


def all(df):
    return df[:]

In [70]:
for name, one_group in tips.groupby('smoker'):
    print('group:', name)
    print(one_group)

group: No
     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
235       10.07  1.25     No   Sat  Dinner     2  0.124131
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[151 rows x 7 columns]
group: Yes
     total_bill   tip smoker  day    time  size   tip_pct
56        38.01  3.00    Yes  Sat  Dinner     4  0.078927
58        11.24  1.76    Yes  Sat  Dinner     2  0.156584
60        20.29  3.21    Yes  Sat  Dinner     2  0.158206
61        13.81  2.00    Yes  Sat  Dinner     2  0.144823
62        11.02  1.98    Yes  Sat  Dinner     2  0.179673
..          ...   ...    ...  ...     ...   ...       ...
234       15.53  3.00    Yes  Sat  Dinner     2  0.193175
236       12.60  1.00    Yes  Sat  Dinner     2  0.079365
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
240       27.18  2.00    Yes  Sat  Dinner     2  0.073584
241       22.67  2.00    Yes  Sat  Dinner     2  0.088222

[93 rows x 7 columns]

In [71]:
# 1. top函数在每一个分组上被调用
# 2. 之后通过pandas.concat函数将返回结果粘贴在一起,并使用分组名作为各组的index(group_keys=True时)
tips.groupby('smoker').apply(top)

进入top函数
      total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
235       10.07  1.25     No   Sat  Dinner     2  0.124131
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[151 rows x 7 columns]
进入top函数
      total_bill   tip smoker  day    time  size   tip_pct
56        38.01  3.00    Yes  Sat  Dinner     4  0.078927
58        11.24  1.76    Yes  Sat  Dinner     2  0.156584
60        20.29  3.21    Yes  Sat  Dinner     2  0.158206
61        13.81  2.00    Yes  Sat  Dinner     2  0.144823
62        11.02  1.98    Yes  Sat  Dinner     2  0.179673
..          ...   ...    ...  ...     ...   ...       ...
234       15.53  3.00    Yes  Sat  Dinner     2  0.193175
236       12.60  1.00    Yes  Sat  Dinner     2  0.079365
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
240       27.18  2.00    Yes  Sat  Dinner     2  0.073584
241       22.67  2.00    Yes  Sat  Dinner     2  0.088222

[93 rows x 7 columns]

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [72]:
tips.groupby('smoker').apply(all)

            total_bill   tip smoker  day    time  size   tip_pct
smoker
No     0         16.99  1.01     No  Sun  Dinner     2  0.059447
       1         10.34  1.66     No  Sun  Dinner     3  0.160542
       2         21.01  3.50     No  Sun  Dinner     3  0.166587
       3         23.68  3.31     No  Sun  Dinner     2  0.139780
       4         24.59  3.61     No  Sun  Dinner     4  0.146808
...                ...   ...    ...  ...     ...   ...       ...
Yes    234       15.53  3.00    Yes  Sat  Dinner     2  0.193175
       236       12.60  1.00    Yes  Sat  Dinner     2  0.079365
       237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
       240       27.18  2.00    Yes  Sat  Dinner     2  0.073584
       241       22.67  2.00    Yes  Sat  Dinner     2  0.088222

[244 rows x 7 columns]

In [73]:
'''
group_keysbool, default True
    When calling apply, add group keys to index to identify pieces.
'''
tips.groupby('smoker', group_keys=False).apply(top)

进入top函数
      total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
235       10.07  1.25     No   Sat  Dinner     2  0.124131
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[151 rows x 7 columns]
进入top函数
      total_bill   tip smoker  day    time  size   tip_pct
56        38.01  3.00    Yes  Sat  Dinner     4  0.078927
58        11.24  1.76    Yes  Sat  Dinner     2  0.156584
60        20.29  3.21    Yes  Sat  Dinner     2  0.158206
61        13.81  2.00    Yes  Sat  Dinner     2  0.144823
62        11.02  1.98    Yes  Sat  Dinner     2  0.179673
..          ...   ...    ...  ...     ...   ...       ...
234       15.53  3.00    Yes  Sat  Dinner     2  0.193175
236       12.60  1.00    Yes  Sat  Dinner     2  0.079365
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
240       27.18  2.00    Yes  Sat  Dinner     2  0.073584
241       22.67  2.00    Yes  Sat  Dinner     2  0.088222

[93 rows x 7 columns]

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [74]:
tips.groupby(['smoker', 'day']).apply(top, n=2, columns='total_bill')  # 向apply中的函数传递参数

进入top函数
      total_bill   tip smoker  day    time  size   tip_pct
91        22.49  3.50     No  Fri  Dinner     2  0.155625
94        22.75  3.25     No  Fri  Dinner     2  0.142857
99        12.46  1.50     No  Fri  Dinner     2  0.120385
223       15.98  3.00     No  Fri   Lunch     3  0.187735
进入top函数
      total_bill   tip smoker  day    time  size   tip_pct
19        20.65  3.35     No  Sat  Dinner     3  0.162228
20        17.92  4.08     No  Sat  Dinner     2  0.227679
21        20.29  2.75     No  Sat  Dinner     2  0.135535
22        15.77  2.23     No  Sat  Dinner     2  0.141408
23        39.42  7.58     No  Sat  Dinner     4  0.192288
24        19.82  3.18     No  Sat  Dinner     2  0.160444
25        17.81  2.34     No  Sat  Dinner     4  0.131387
26        13.37  2.00     No  Sat  Dinner     2  0.149589
27        12.69  2.00     No  Sat  Dinner     2  0.157604
28        21.70  4.30     No  Sat  Dinner     2  0.198157
29        19.65  3.00     No  Sat  Dinner     2  0.152672
30         9.55  1.45     No  Sat  Dinner     2  0.151832
31        18.35  2.50     No  Sat  Dinner     4  0.136240
32        15.06  3.00     No  Sat  Dinner     2  0.199203
33        20.69  2.45     No  Sat  Dinner     4  0.118415
34        17.78  3.27     No  Sat  Dinner     2  0.183915
35        24.06  3.60     No  Sat  Dinner     3  0.149626
36        16.31  2.00     No  Sat  Dinner     3  0.122624
37        16.93  3.07     No  Sat  Dinner     3  0.181335
38        18.69  2.31     No  Sat  Dinner     3  0.123596
39        31.27  5.00     No  Sat  Dinner     3  0.159898
40        16.04  2.24     No  Sat  Dinner     3  0.139651
57        26.41  1.50     No  Sat  Dinner     2  0.056797
59        48.27  6.73     No  Sat  Dinner     4  0.139424
64        17.59  2.64     No  Sat  Dinner     3  0.150085
65        20.08  3.15     No  Sat  Dinner     3  0.156873
66        16.45  2.47     No  Sat  Dinner     2  0.150152
68        20.23  2.01     No  Sat  Dinner     2  0.099357
70        12.02  1.97     No  Sat  Dinner     2  0.163894
71        17.07  3.00     No  Sat  Dinner     3  0.175747
74        14.73  2.20     No  Sat  Dinner     2  0.149355
75        10.51  1.25     No  Sat  Dinner     2  0.118934
104       20.92  4.08     No  Sat  Dinner     2  0.195029
108       18.24  3.76     No  Sat  Dinner     2  0.206140
110       14.00  3.00     No  Sat  Dinner     2  0.214286
111        7.25  1.00     No  Sat  Dinner     1  0.137931
212       48.33  9.00     No  Sat  Dinner     4  0.186220
227       20.45  3.00     No  Sat  Dinner     4  0.146699
228       13.28  2.72     No  Sat  Dinner     2  0.204819
232       11.61  3.39     No  Sat  Dinner     2  0.291990
233       10.77  1.47     No  Sat  Dinner     2  0.136490
235       10.07  1.25     No  Sat  Dinner     2  0.124131
238       35.83  4.67     No  Sat  Dinner     3  0.130338
239       29.03  5.92     No  Sat  Dinner     3  0.203927
242       17.82  1.75     No  Sat  Dinner     2  0.098204
进入top函数
      total_bill   tip smoker  day    time  size   tip_pct
0         16.99  1.01     No  Sun  Dinner     2  0.059447
1         10.34  1.66     No  Sun  Dinner     3  0.160542
2         21.01  3.50     No  Sun  Dinner     3  0.166587
3         23.68  3.31     No  Sun  Dinner     2  0.139780
4         24.59  3.61     No  Sun  Dinner     4  0.146808
5         25.29  4.71     No  Sun  Dinner     4  0.186240
6          8.77  2.00     No  Sun  Dinner     2  0.228050
7         26.88  3.12     No  Sun  Dinner     4  0.116071
8         15.04  1.96     No  Sun  Dinner     2  0.130319
9         14.78  3.23     No  Sun  Dinner     2  0.218539
10        10.27  1.71     No  Sun  Dinner     2  0.166504
11        35.26  5.00     No  Sun  Dinner     4  0.141804
12        15.42  1.57     No  Sun  Dinner     2  0.101816
13        18.43  3.00     No  Sun  Dinner     4  0.162778
14        14.83  3.02     No  Sun  Dinner     2  0.203641
15        21.58  3.92     No  Sun  Dinner     2  0.181650
16        10.33  1.67     No  Sun  Dinner     3  0.161665
17        16.29  3.71     No  Sun  Dinner     3  0.227747
18        16.97  3.50     No  Sun  Dinner     3  0.206246
41        17.46  2.54     No  Sun  Dinner     2  0.145475
42        13.94  3.06     No  Sun  Dinner     2  0.219512
43         9.68  1.32     No  Sun  Dinner     2  0.136364
44        30.40  5.60     No  Sun  Dinner     4  0.184211
45        18.29  3.00     No  Sun  Dinner     2  0.164024
46        22.23  5.00     No  Sun  Dinner     2  0.224921
47        32.40  6.00     No  Sun  Dinner     4  0.185185
48        28.55  2.05     No  Sun  Dinner     3  0.071804
49        18.04  3.00     No  Sun  Dinner     2  0.166297
50        12.54  2.50     No  Sun  Dinner     2  0.199362
51        10.29  2.60     No  Sun  Dinner     2  0.252672
52        34.81  5.20     No  Sun  Dinner     4  0.149382
53         9.94  1.56     No  Sun  Dinner     2  0.156942
54        25.56  4.34     No  Sun  Dinner     4  0.169797
55        19.49  3.51     No  Sun  Dinner     2  0.180092
112       38.07  4.00     No  Sun  Dinner     3  0.105070
113       23.95  2.55     No  Sun  Dinner     2  0.106472
114       25.71  4.00     No  Sun  Dinner     3  0.155581
115       17.31  3.50     No  Sun  Dinner     2  0.202195
116       29.93  5.07     No  Sun  Dinner     4  0.169395
150       14.07  2.50     No  Sun  Dinner     2  0.177683
151       13.13  2.00     No  Sun  Dinner     2  0.152323
152       17.26  2.74     No  Sun  Dinner     3  0.158749
153       24.55  2.00     No  Sun  Dinner     4  0.081466
154       19.77  2.00     No  Sun  Dinner     4  0.101163
155       29.85  5.14     No  Sun  Dinner     5  0.172194
156       48.17  5.00     No  Sun  Dinner     6  0.103799
157       25.00  3.75     No  Sun  Dinner     4  0.150000
158       13.39  2.61     No  Sun  Dinner     2  0.194922
159       16.49  2.00     No  Sun  Dinner     4  0.121286
160       21.50  3.50     No  Sun  Dinner     4  0.162791
161       12.66  2.50     No  Sun  Dinner     2  0.197472
162       16.21  2.00     No  Sun  Dinner     3  0.123381
163       13.81  2.00     No  Sun  Dinner     2  0.144823
165       24.52  3.48     No  Sun  Dinner     3  0.141925
166       20.76  2.24     No  Sun  Dinner     2  0.107900
167       31.71  4.50     No  Sun  Dinner     4  0.141911
185       20.69  5.00     No  Sun  Dinner     5  0.241663
进入top函数
      total_bill   tip smoker   day    time  size   tip_pct
77        27.20  4.00     No  Thur   Lunch     4  0.147059
78        22.76  3.00     No  Thur   Lunch     2  0.131810
79        17.29  2.71     No  Thur   Lunch     2  0.156738
81        16.66  3.40     No  Thur   Lunch     2  0.204082
82        10.07  1.83     No  Thur   Lunch     1  0.181728
84        15.98  2.03     No  Thur   Lunch     2  0.127034
85        34.83  5.17     No  Thur   Lunch     4  0.148435
86        13.03  2.00     No  Thur   Lunch     2  0.153492
87        18.28  4.00     No  Thur   Lunch     2  0.218818
88        24.71  5.85     No  Thur   Lunch     2  0.236746
89        21.16  3.00     No  Thur   Lunch     2  0.141777
117       10.65  1.50     No  Thur   Lunch     2  0.140845
118       12.43  1.80     No  Thur   Lunch     2  0.144811
119       24.08  2.92     No  Thur   Lunch     4  0.121262
120       11.69  2.31     No  Thur   Lunch     2  0.197605
121       13.42  1.68     No  Thur   Lunch     2  0.125186
122       14.26  2.50     No  Thur   Lunch     2  0.175316
123       15.95  2.00     No  Thur   Lunch     2  0.125392
124       12.48  2.52     No  Thur   Lunch     2  0.201923
125       29.80  4.20     No  Thur   Lunch     6  0.140940
126        8.52  1.48     No  Thur   Lunch     2  0.173709
127       14.52  2.00     No  Thur   Lunch     2  0.137741
128       11.38  2.00     No  Thur   Lunch     2  0.175747
129       22.82  2.18     No  Thur   Lunch     3  0.095530
130       19.08  1.50     No  Thur   Lunch     2  0.078616
131       20.27  2.83     No  Thur   Lunch     2  0.139615
132       11.17  1.50     No  Thur   Lunch     2  0.134288
133       12.26  2.00     No  Thur   Lunch     2  0.163132
134       18.26  3.25     No  Thur   Lunch     2  0.177985
135        8.51  1.25     No  Thur   Lunch     2  0.146886
136       10.33  2.00     No  Thur   Lunch     2  0.193611
137       14.15  2.00     No  Thur   Lunch     2  0.141343
139       13.16  2.75     No  Thur   Lunch     2  0.208967
140       17.47  3.50     No  Thur   Lunch     2  0.200343
141       34.30  6.70     No  Thur   Lunch     6  0.195335
142       41.19  5.00     No  Thur   Lunch     5  0.121389
143       27.05  5.00     No  Thur   Lunch     6  0.184843
144       16.43  2.30     No  Thur   Lunch     2  0.139988
145        8.35  1.50     No  Thur   Lunch     2  0.179641
146       18.64  1.36     No  Thur   Lunch     3  0.072961
147       11.87  1.63     No  Thur   Lunch     2  0.137321
148        9.78  1.73     No  Thur   Lunch     2  0.176892
149        7.51  2.00     No  Thur   Lunch     2  0.266312
195        7.56  1.44     No  Thur   Lunch     2  0.190476
243       18.78  3.00     No  Thur  Dinner     2  0.159744
进入top函数
      total_bill   tip smoker  day    time  size   tip_pct
90        28.97  3.00    Yes  Fri  Dinner     2  0.103555
92         5.75  1.00    Yes  Fri  Dinner     2  0.173913
93        16.32  4.30    Yes  Fri  Dinner     2  0.263480
95        40.17  4.73    Yes  Fri  Dinner     4  0.117750
96        27.28  4.00    Yes  Fri  Dinner     2  0.146628
97        12.03  1.50    Yes  Fri  Dinner     2  0.124688
98        21.01  3.00    Yes  Fri  Dinner     2  0.142789
100       11.35  2.50    Yes  Fri  Dinner     2  0.220264
101       15.38  3.00    Yes  Fri  Dinner     2  0.195059
220       12.16  2.20    Yes  Fri   Lunch     2  0.180921
221       13.42  3.48    Yes  Fri   Lunch     2  0.259314
222        8.58  1.92    Yes  Fri   Lunch     1  0.223776
224       13.42  1.58    Yes  Fri   Lunch     2  0.117735
225       16.27  2.50    Yes  Fri   Lunch     2  0.153657
226       10.09  2.00    Yes  Fri   Lunch     2  0.198216
进入top函数
      total_bill    tip smoker  day    time  size   tip_pct
56        38.01   3.00    Yes  Sat  Dinner     4  0.078927
58        11.24   1.76    Yes  Sat  Dinner     2  0.156584
60        20.29   3.21    Yes  Sat  Dinner     2  0.158206
61        13.81   2.00    Yes  Sat  Dinner     2  0.144823
62        11.02   1.98    Yes  Sat  Dinner     2  0.179673
63        18.29   3.76    Yes  Sat  Dinner     4  0.205577
67         3.07   1.00    Yes  Sat  Dinner     1  0.325733
69        15.01   2.09    Yes  Sat  Dinner     2  0.139241
72        26.86   3.14    Yes  Sat  Dinner     2  0.116902
73        25.28   5.00    Yes  Sat  Dinner     2  0.197785
76        17.92   3.08    Yes  Sat  Dinner     2  0.171875
102       44.30   2.50    Yes  Sat  Dinner     3  0.056433
103       22.42   3.48    Yes  Sat  Dinner     2  0.155219
105       15.36   1.64    Yes  Sat  Dinner     2  0.106771
106       20.49   4.06    Yes  Sat  Dinner     2  0.198145
107       25.21   4.29    Yes  Sat  Dinner     2  0.170171
109       14.31   4.00    Yes  Sat  Dinner     2  0.279525
168       10.59   1.61    Yes  Sat  Dinner     2  0.152030
169       10.63   2.00    Yes  Sat  Dinner     2  0.188147
170       50.81  10.00    Yes  Sat  Dinner     3  0.196812
171       15.81   3.16    Yes  Sat  Dinner     2  0.199873
206       26.59   3.41    Yes  Sat  Dinner     3  0.128244
207       38.73   3.00    Yes  Sat  Dinner     4  0.077459
208       24.27   2.03    Yes  Sat  Dinner     2  0.083642
209       12.76   2.23    Yes  Sat  Dinner     2  0.174765
210       30.06   2.00    Yes  Sat  Dinner     3  0.066534
211       25.89   5.16    Yes  Sat  Dinner     4  0.199305
213       13.27   2.50    Yes  Sat  Dinner     2  0.188395
214       28.17   6.50    Yes  Sat  Dinner     3  0.230742
215       12.90   1.10    Yes  Sat  Dinner     2  0.085271
216       28.15   3.00    Yes  Sat  Dinner     5  0.106572
217       11.59   1.50    Yes  Sat  Dinner     2  0.129422
218        7.74   1.44    Yes  Sat  Dinner     2  0.186047
219       30.14   3.09    Yes  Sat  Dinner     4  0.102522
229       22.12   2.88    Yes  Sat  Dinner     2  0.130199
230       24.01   2.00    Yes  Sat  Dinner     4  0.083299
231       15.69   3.00    Yes  Sat  Dinner     3  0.191205
234       15.53   3.00    Yes  Sat  Dinner     2  0.193175
236       12.60   1.00    Yes  Sat  Dinner     2  0.079365
237       32.83   1.17    Yes  Sat  Dinner     2  0.035638
240       27.18   2.00    Yes  Sat  Dinner     2  0.073584
241       22.67   2.00    Yes  Sat  Dinner     2  0.088222
进入top函数
      total_bill   tip smoker  day    time  size   tip_pct
164       17.51  3.00    Yes  Sun  Dinner     2  0.171331
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345
173       31.85  3.18    Yes  Sun  Dinner     2  0.099843
174       16.82  4.00    Yes  Sun  Dinner     2  0.237812
175       32.90  3.11    Yes  Sun  Dinner     2  0.094529
176       17.89  2.00    Yes  Sun  Dinner     2  0.111794
177       14.48  2.00    Yes  Sun  Dinner     2  0.138122
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
179       34.63  3.55    Yes  Sun  Dinner     2  0.102512
180       34.65  3.68    Yes  Sun  Dinner     4  0.106205
181       23.33  5.65    Yes  Sun  Dinner     2  0.242177
182       45.35  3.50    Yes  Sun  Dinner     3  0.077178
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
184       40.55  3.00    Yes  Sun  Dinner     2  0.073983
186       20.90  3.50    Yes  Sun  Dinner     3  0.167464
187       30.46  2.00    Yes  Sun  Dinner     5  0.065660
188       18.15  3.50    Yes  Sun  Dinner     3  0.192837
189       23.10  4.00    Yes  Sun  Dinner     3  0.173160
190       15.69  1.50    Yes  Sun  Dinner     2  0.095602
进入top函数
      total_bill   tip smoker   day   time  size   tip_pct
80        19.44  3.00    Yes  Thur  Lunch     2  0.154321
83        32.68  5.00    Yes  Thur  Lunch     2  0.152999
138       16.00  2.00    Yes  Thur  Lunch     2  0.125000
191       19.81  4.19    Yes  Thur  Lunch     2  0.211509
192       28.44  2.56    Yes  Thur  Lunch     2  0.090014
193       15.48  2.02    Yes  Thur  Lunch     2  0.130491
194       16.58  4.00    Yes  Thur  Lunch     2  0.241255
196       10.34  2.00    Yes  Thur  Lunch     2  0.193424
197       43.11  5.00    Yes  Thur  Lunch     4  0.115982
198       13.00  2.00    Yes  Thur  Lunch     2  0.153846
199       13.51  2.00    Yes  Thur  Lunch     2  0.148038
200       18.71  4.00    Yes  Thur  Lunch     3  0.213789
201       12.74  2.01    Yes  Thur  Lunch     2  0.157771
202       13.00  2.00    Yes  Thur  Lunch     2  0.153846
203       16.40  2.50    Yes  Thur  Lunch     2  0.152439
204       20.53  4.00    Yes  Thur  Lunch     4  0.194837
205       16.47  3.23    Yes  Thur  Lunch     3  0.196114

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [75]:
# 以下操作三者等价
print(tips.groupby('smoker').apply(min), end='\n\n')  # 执行任何类型的操作
print(tips.groupby('smoker').agg(min), end='\n\n')  # 仅支持聚合操作
print(tips.groupby('smoker').min())

        total_bill  tip smoker  day    time  size   tip_pct
smoker
No            7.25  1.0     No  Fri  Dinner     1  0.056797
Yes           3.07  1.0    Yes  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

In [76]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
frame

        data1     data2
0   -2.157468 -0.704912
1    1.069667  0.661405
2   -1.126523 -0.767423
3    0.123734 -0.154698
4    3.274713  1.150124
..        ...       ...
995 -0.913001 -1.785711
996 -0.249882  0.730409
997  1.932937  1.006627
998 -1.577074  1.877524
999 -0.982304 -0.433382

[1000 rows x 2 columns]

In [77]:
quartiles = pd.cut(frame.data2, 4)
quartiles  # type为Series,dtype为CategoricalDtype

0      (-1.755, -0.192]
1       (-0.192, 1.371]
2      (-1.755, -0.192]
3       (-0.192, 1.371]
4       (-0.192, 1.371]
             ...
995    (-3.325, -1.755]
996     (-0.192, 1.371]
997     (-0.192, 1.371]
998      (1.371, 2.935]
999    (-1.755, -0.192]
Name: data2, Length: 1000, dtype: category
Categories (4, interval[float64]): [(-3.325, -1.755] < (-1.755, -0.192] < (-0.192, 1.371] < (1.371, 2.935]]

In [78]:
grouped = frame.data2.groupby(quartiles)

for i, j in grouped:
    print("group:", i)
    print(j)  # 属于分箱i内的样本

group: (-3.325, -1.755]
40    -2.133764
56    -1.890415
62    -1.923920
68    -3.318249
81    -1.774097
100   -1.999314
141   -2.012679
178   -2.217033
211   -2.215852
214   -1.911701
220   -2.084584
280   -1.894938
299   -1.889618
375   -2.519406
404   -2.215310
411   -1.835571
418   -2.207127
451   -1.983290
474   -2.134787
530   -1.904530
553   -1.830285
572   -1.833499
586   -1.769397
602   -2.219591
615   -1.946827
627   -1.963840
687   -2.213256
704   -1.895553
713   -2.064381
770   -2.766340
779   -2.718295
797   -2.645538
799   -1.785607
808   -2.146632
818   -1.957637
855   -1.993323
865   -2.297382
886   -1.775366
890   -1.761016
906   -1.846445
937   -2.096788
962   -2.111586
975   -2.418506
981   -1.806559
985   -2.777270
994   -2.138071
995   -1.785711
Name: data2, dtype: float64
group: (-1.755, -0.192]
0     -0.704912
2     -0.767423
5     -0.911764
12    -1.015851
13    -0.468884
         ...
984   -0.450587
986   -0.584489
992   -0.886814
993   -0.815149
999   -0.433382
Name: data2, Length: 412, dtype: float64
group: (-0.192, 1.371]
1      0.661405
3     -0.154698
4      1.150124
6      0.354822
7      0.144517
         ...
988    0.163528
989    0.235717
991    0.106557
996    0.730409
997    1.006627
Name: data2, Length: 467, dtype: float64
group: (1.371, 2.935]
9      2.089976
10     2.231014
32     2.512059
33     1.553337
37     2.289657
         ...
955    2.148891
971    1.889086
979    1.458932
990    1.973626
998    1.877524
Name: data2, Length: 74, dtype: float64

In [79]:
grouped.mean()

data2
(-3.325, -1.755]   -2.098530
(-1.755, -0.192]   -0.804760
(-0.192, 1.371]     0.473684
(1.371, 2.935]      1.833126
Name: data2, dtype: float64

In [80]:
def get_stats(group):
    return pd.Series({'min': group.min(), 'max': group.max(),
                      'count': group.count(), 'mean': group.mean(), 'sum': np.sum(group)})

In [81]:
grouped.apply(get_stats)

data2
(-3.325, -1.755]  min       -3.318249
                  max       -1.761016
                  count     47.000000
                  mean      -2.098530
                  sum      -98.630887
(-1.755, -0.192]  min       -1.752196
                  max       -0.201530
                  count    412.000000
                  mean      -0.804760
                  sum     -331.560990
(-0.192, 1.371]   min       -0.191619
                  max        1.369752
                  count    467.000000
                  mean       0.473684
                  sum      221.210231
(1.371, 2.935]    min        1.373182
                  max        2.934609
                  count     74.000000
                  mean       1.833126
                  sum      135.651352
Name: data2, dtype: float64