In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_excel('excel文件读写0.xlsx')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [3]:
'''
header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.

sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed sheet positions.
    Lists of strings/integers are used to request multiple sheets. Specify None to get all sheets.

    Available cases:
    Defaults to 0: 1st sheet as a DataFrame
    1: 2nd sheet as a DataFrame
    "Sheet1": Load sheet with name “Sheet1”
    [0, 1, "Sheet5"]: Load first, second and sheet named “Sheet5” as a dict of DataFrame
    None: All sheets.
'''
pd.read_excel('excel文件读写0.xlsx', header=None,  # 所有数据都不为列名
              sheet_name='第一个excel表')

     0  1   2   3   4        5
0  NaN  a   b   c   d  message
1  0.0  1   2   3   4    hello
2  1.0  5   6   7   8    world
3  2.0  9  10  11  12      foo

In [4]:
pd.read_excel('excel文件读写0.xlsx', header=None, sheet_name='第二个excel表')

              0    1
0           NaN  NaN
1           NaN  NaN
2           NaN  NaN
3           NaN  NaN
4          name  age
5  duanmengmeng    0
6      duanchao   23
7        mother    ?
8        father    ?

In [5]:
'''
skiprows : list-like
    Rows to skip at the beginning (0-indexed).
'''
pd.read_excel('excel文件读写0.xlsx', header=None, sheet_name='第二个excel表',
              skiprows=3)

              0    1
0           NaN  NaN
1          name  age
2  duanmengmeng    0
3      duanchao   23
4        mother    ?
5        father    ?

In [6]:
'''
nrows : int, default None
    Number of rows to parse.
'''
pd.read_excel('excel文件读写0.xlsx', header=None, sheet_name='第二个excel表',
              skiprows=3, nrows=4)

              0    1
0           NaN  NaN
1          name  age
2  duanmengmeng    0
3      duanchao   23

In [7]:
data = pd.DataFrame(np.linspace(0, 1, 18).reshape(9, 2),
                    index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                           [1, 2, 3, 1, 3, 1, 2, 0, 0]])
data.name = 'number one'
data.columns = ['min', 'max']
data

          min       max
a 1  0.000000  0.058824
  2  0.117647  0.176471
  3  0.235294  0.294118
b 1  0.352941  0.411765
  3  0.470588  0.529412
c 1  0.588235  0.647059
  2  0.705882  0.764706
d 0  0.823529  0.882353
  0  0.941176  1.000000

### 同一个excel文件写入多张表

In [8]:
'''
mode : {'w', 'a'}, default 'w'
    File mode to use (write or append).
    Append does not work with fsspec URLs.
'''
# 第一张excel表:one
with pd.ExcelWriter('excel文件读写1.xlsx', engine='xlsxwriter', mode='w') as writer:  # 此模式下engine必须为xlsxwriter
    # 同一个表中写入多条数据(会删除原有excel文件所有表的数据)
    # 列名为读入DataFrame的列名
    # 通过设置index=None不写入索引
    # 通过设置head=None不写入列名(Series则为不写入name,若name属性存在)
    '''
    startrow : int, default 0
        Upper left cell row to dump data frame.

    startcol : int, default 0
        Upper left cell column to dump data frame.
    '''
    data.to_excel(writer, sheet_name='one', index=None)
    data.to_excel(writer, sheet_name='one', startrow=4, header=None)  # 数据之间可以重叠

In [9]:
# 第二张excel表:two
with pd.ExcelWriter('excel文件读写1.xlsx', engine='openpyxl', mode='a') as writer:  # 此模式下engine必须为openpyxl
    # 在excel文件中重新创建一个新表,并写入数据(不会删除原有excel其他表数据)
    # 此模式下同一个表只能写入一条数据
    data.to_excel(writer, sheet_name='two', startcol=10)