In [79]:
import numpy as np
import  pandas as pd

# rolling函数也接受表示固定大小的时间偏置字符串
# 这对于非常规时间频率索引特别有用
dft = pd.DataFrame({'B': [1, 1, 2, np.nan, 4]},
                    index=pd.date_range('20130101 09:00:00',
                                        periods=5,
                                        freq='s'))
dft

                       B
2013-01-01 09:00:00  1.0
2013-01-01 09:00:01  1.0
2013-01-01 09:00:02  2.0
2013-01-01 09:00:03  NaN
2013-01-01 09:00:04  4.0

In [80]:
dft.rolling(2).sum()

                       B
2013-01-01 09:00:00  NaN
2013-01-01 09:00:01  2.0
2013-01-01 09:00:02  3.0
2013-01-01 09:00:03  NaN
2013-01-01 09:00:04  NaN

In [81]:
dft.rolling(2, min_periods=1).sum()

                       B
2013-01-01 09:00:00  1.0
2013-01-01 09:00:01  2.0
2013-01-01 09:00:02  3.0
2013-01-01 09:00:03  2.0
2013-01-01 09:00:04  4.0

In [82]:
dft.rolling('2s').sum() # offset情况下,默认min_periods=1

                       B
2013-01-01 09:00:00  1.0
2013-01-01 09:00:01  2.0
2013-01-01 09:00:02  3.0
2013-01-01 09:00:03  2.0
2013-01-01 09:00:04  4.0

In [88]:
dft1 = pd.DataFrame({'B': [1, 1, 2, np.nan, 4]},
                    index=pd.Index([pd.Timestamp('20130101 09:00:00'),
                                    pd.Timestamp('20130101 09:00:02'),
                                    pd.Timestamp('20130101 09:00:03'),
                                    pd.Timestamp('20130101 09:00:05'),
                                    pd.Timestamp('20130101 09:00:06')],
                                   name='foo'))
dft1

                       B
foo
2013-01-01 09:00:00  1.0
2013-01-01 09:00:02  1.0
2013-01-01 09:00:03  2.0
2013-01-01 09:00:05  NaN
2013-01-01 09:00:06  4.0

In [89]:
dft1.rolling(2).sum()

                       B
foo
2013-01-01 09:00:00  NaN
2013-01-01 09:00:02  2.0
2013-01-01 09:00:03  3.0
2013-01-01 09:00:05  NaN
2013-01-01 09:00:06  NaN

In [90]:
dft1.rolling('2s').sum()

                       B
foo
2013-01-01 09:00:00  1.0
2013-01-01 09:00:02  1.0
2013-01-01 09:00:03  3.0
2013-01-01 09:00:05  NaN
2013-01-01 09:00:06  4.0

In [91]:
dft1 = dft1.reset_index()
dft1

                  foo    B
0 2013-01-01 09:00:00  1.0
1 2013-01-01 09:00:02  1.0
2 2013-01-01 09:00:03  2.0
3 2013-01-01 09:00:05  NaN
4 2013-01-01 09:00:06  4.0

In [93]:
'''
on : str, optional
    For a DataFrame, a datetime-like column on which to calculate the rolling window,
    rather than the DataFrame’s index.
'''
dft1.rolling('2s', on='foo').sum()

                  foo    B
0 2013-01-01 09:00:00  1.0
1 2013-01-01 09:00:02  1.0
2 2013-01-01 09:00:03  3.0
3 2013-01-01 09:00:05  NaN
4 2013-01-01 09:00:06  4.0