In [29]:
import pandas as pd
import numpy as np

In [30]:
tips = pd.read_csv('tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips

     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

In [31]:
for name, one_group in tips.groupby('smoker'):
    print('group name:', name)
    print(one_group)

group name: No
     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
235       10.07  1.25     No   Sat  Dinner     2  0.124131
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[151 rows x 7 columns]
group name: Yes
     total_bill   tip smoker  day    time  size   tip_pct
56        38.01  3.00    Yes  Sat  Dinner     4  0.078927
58        11.24  1.76    Yes  Sat  Dinner     2  0.156584
60        20.29  3.21    Yes  Sat  Dinner     2  0.158206
61        13.81  2.00    Yes  Sat  Dinner     2  0.144823
62        11.02  1.98    Yes  Sat  Dinner     2  0.179673
..          ...   ...    ...  ...     ...   ...       ...
234       15.53  3.00    Yes  Sat  Dinner     2  0.193175
236       12.60  1.00    Yes  Sat  Dinner     2  0.079365
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
240       27.18  2.00    Yes  Sat  Dinner     2  0.073584
241       22.67  2.00    Yes  Sat  Dinner     2  0.088222

[93 rows x 7 columns]

In [32]:
def top(df, n=5, columns='tip_pct'):
    print('group name:', df.name)
    print(df.sort_values(by=columns)[-n:])  # 包含分组列
    return df.sort_values(by=columns)[-n:]

In [33]:
# 1. top函数在每一个分组上被调用
# 2. 之后通过pandas.concat函数将返回结果拼接在一起,并使用分组名作为各组的index(group_keys=True时)
tips.groupby('smoker').apply(top)

group name: No
     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
group name: Yes
     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [34]:
'''
group_keys: bool, default True
    When calling apply, add group keys to index to identify pieces.
'''
tips.groupby('smoker', group_keys=False).apply(top)

group name: No
     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
group name: Yes
     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [35]:
tips.groupby(['smoker', 'day']).apply(top, n=2, columns='total_bill')  # 向apply中的函数传递参数

group name: ('No', 'Fri')
    total_bill   tip smoker  day    time  size   tip_pct
91       22.49  3.50     No  Fri  Dinner     2  0.155625
94       22.75  3.25     No  Fri  Dinner     2  0.142857
group name: ('No', 'Sat')
     total_bill   tip smoker  day    time  size   tip_pct
59        48.27  6.73     No  Sat  Dinner     4  0.139424
212       48.33  9.00     No  Sat  Dinner     4  0.186220
group name: ('No', 'Sun')
     total_bill  tip smoker  day    time  size   tip_pct
112       38.07  4.0     No  Sun  Dinner     3  0.105070
156       48.17  5.0     No  Sun  Dinner     6  0.103799
group name: ('No', 'Thur')
     total_bill   tip smoker   day   time  size   tip_pct
85        34.83  5.17     No  Thur  Lunch     4  0.148435
142       41.19  5.00     No  Thur  Lunch     5  0.121389
group name: ('Yes', 'Fri')
    total_bill   tip smoker  day    time  size   tip_pct
90       28.97  3.00    Yes  Fri  Dinner     2  0.103555
95       40.17  4.73    Yes  Fri  Dinner     4  0.117750
group name: ('Yes', 'Sat')
     total_bill   tip smoker  day    time  size   tip_pct
102       44.30   2.5    Yes  Sat  Dinner     3  0.056433
170       50.81  10.0    Yes  Sat  Dinner     3  0.196812
group name: ('Yes', 'Sun')
     total_bill  tip smoker  day    time  size   tip_pct
184       40.55  3.0    Yes  Sun  Dinner     2  0.073983
182       45.35  3.5    Yes  Sun  Dinner     3  0.077178
group name: ('Yes', 'Thur')
     total_bill  tip smoker   day   time  size   tip_pct
83        32.68  5.0    Yes  Thur  Lunch     2  0.152999
197       43.11  5.0    Yes  Thur  Lunch     4  0.115982

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [36]:
# 以下操作三者等价
print(tips.groupby('smoker').apply(min), end='\n\n')  # 执行任何类型的操作
print(tips.groupby('smoker').agg(min), end='\n\n')  # 仅支持聚合操作
print(tips.groupby('smoker').min())

        total_bill  tip smoker  day    time  size   tip_pct
smoker
No            7.25  1.0     No  Fri  Dinner     1  0.056797
Yes           3.07  1.0    Yes  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638

In [37]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
frame

        data1     data2
0    0.238424 -1.938303
1    1.328775  1.042610
2    0.095036 -0.045552
3   -2.465265 -1.013719
4   -0.317593  0.967245
..        ...       ...
995 -1.368075  0.699385
996  0.606637 -1.926481
997 -0.795488  0.701168
998 -0.793601  0.238169
999  0.701902 -0.905173

[1000 rows x 2 columns]

In [38]:
quartiles = pd.cut(frame.data2, 4)
quartiles  # type为Series,dtype为CategoricalDtype

0      (-2.779, -1.309]
1         (0.156, 1.62]
2       (-1.309, 0.156]
3       (-1.309, 0.156]
4         (0.156, 1.62]
             ...
995       (0.156, 1.62]
996    (-2.779, -1.309]
997       (0.156, 1.62]
998       (0.156, 1.62]
999     (-1.309, 0.156]
Name: data2, Length: 1000, dtype: category
Categories (4, interval[float64, right]): [(-2.779, -1.309] < (-1.309, 0.156] < (0.156, 1.62] < (1.62, 3.085]]

In [39]:
grouped = frame.data2.groupby(quartiles)

for i, j in grouped:
    print("group:", i)
    print(j)  # 属于分箱i内的样本

group: (-2.779, -1.309]
0     -1.938303
30    -1.733274
36    -1.814221
38    -1.859902
44    -1.645965
         ...
938   -1.355983
947   -1.562360
951   -1.729043
964   -1.974445
996   -1.926481
Name: data2, Length: 98, dtype: float64
group: (-1.309, 0.156]
2     -0.045552
3     -1.013719
5     -0.561878
6     -0.438378
7      0.013811
         ...
986   -0.559765
987   -0.389295
988    0.041947
989    0.114650
999   -0.905173
Name: data2, Length: 465, dtype: float64
group: (0.156, 1.62]
1      1.042610
4      0.967245
9      0.347680
14     1.081662
17     0.560699
         ...
993    0.352196
994    0.694582
995    0.699385
997    0.701168
998    0.238169
Name: data2, Length: 382, dtype: float64
group: (1.62, 3.085]
15     1.769075
24     1.919197
26     2.408297
33     1.945485
129    1.861765
137    1.635487
142    2.660053
156    1.827857
205    1.766299
236    1.826957
246    2.110868
253    1.823065
263    2.304238
275    1.631067
370    1.746325
387    1.652711
409    1.987891
417    1.839120
431    1.770698
442    1.687299
457    3.084780
471    1.886878
489    2.004179
510    1.876601
520    2.049044
523    1.741852
560    1.669466
567    1.909356
573    1.643219
601    1.857778
607    1.956468
609    2.213471
617    1.728726
628    2.372648
638    2.614219
641    1.649175
654    1.849405
697    2.210946
712    1.881678
717    1.672923
736    2.090048
744    2.364165
771    1.992701
775    1.753441
788    1.801073
797    2.037035
803    1.995327
839    1.933155
850    1.806999
869    1.964423
870    1.647652
900    2.132567
929    1.689588
944    1.785686
948    2.635619
Name: data2, dtype: float64

In [40]:
grouped.mean()

data2
(-2.779, -1.309]   -1.741242
(-1.309, 0.156]    -0.466090
(0.156, 1.62]       0.733204
(1.62, 3.085]       1.957746
Name: data2, dtype: float64

In [41]:
def get_stats(group):
    return pd.Series({'min': group.min(),
                      'max': group.max(),
                      'count': group.count(),
                      'mean': group.mean(),
                      'sum': np.sum(group)})  # 应用多个函数

In [42]:
grouped.apply(get_stats)

data2
(-2.779, -1.309]  min       -2.773413
                  max       -1.314145
                  count     98.000000
                  mean      -1.741242
                  sum     -170.641727
(-1.309, 0.156]   min       -1.303917
                  max        0.150176
                  count    465.000000
                  mean      -0.466090
                  sum     -216.732024
(0.156, 1.62]     min        0.159036
                  max        1.612067
                  count    382.000000
                  mean       0.733204
                  sum      280.083941
(1.62, 3.085]     min        1.631067
                  max        3.084780
                  count     55.000000
                  mean       1.957746
                  sum      107.676046
Name: data2, dtype: float64