In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two'],
                   'C': [0, 1, 2, 3, 4, 5],
                   'D': [-1, 0, 1, 2, 3, 4]}, index=['a', 'b', 'd', 'd', 'e', 'f'])
df

     A      B  C  D
a  foo    one  0 -1
b  bar    one  1  0
d  foo    two  2  1
d  bar  three  3  2
e  foo    two  4  3
f  bar    two  5  4

In [3]:
grouped = df[['C', 'D']].groupby(df['A'])

In [4]:
grouped.apply(lambda x: (x - x.mean()) / x.std())

     C    D
a -1.0 -1.0
b -1.0 -1.0
d  0.0  0.0
d  0.0  0.0
e  1.0  1.0
f  1.0  1.0

In [5]:
grouped.transform(lambda x: (x - x.mean()) / x.std())  # 与上等价

     C    D
a -1.0 -1.0
b -1.0 -1.0
d  0.0  0.0
d  0.0  0.0
e  1.0  1.0
f  1.0  1.0

In [6]:
grouped.apply(lambda x: x.mean())

       C    D
A
bar  3.0  2.0
foo  2.0  1.0

In [7]:
g_t = grouped.transform(lambda x: x.mean())  # 与df[['C', 'D']]的index,columns相同
g_t

     C    D
a  2.0  1.0
b  3.0  2.0
d  2.0  1.0
d  3.0  2.0
e  2.0  1.0
f  3.0  2.0

In [8]:
df['C_mean_A'] = g_t['C']
df['D_mean_A'] = g_t['D']
df

     A      B  C  D  C_mean_A  D_mean_A
a  foo    one  0 -1       2.0       1.0
b  bar    one  1  0       3.0       2.0
d  foo    two  2  1       2.0       1.0
d  bar  three  3  2       3.0       2.0
e  foo    two  4  3       2.0       1.0
f  bar    two  5  4       3.0       2.0