In [100]:
import numpy as np
import pandas as pd

In [101]:
tips = pd.read_csv('tips.csv')
tips.drop(['smoker'], axis=1, inplace=True)
tips

     total_bill   tip   day    time  size
0         16.99  1.01   Sun  Dinner     2
1         10.34  1.66   Sun  Dinner     3
2         21.01  3.50   Sun  Dinner     3
3         23.68  3.31   Sun  Dinner     2
4         24.59  3.61   Sun  Dinner     4
..          ...   ...   ...     ...   ...
239       29.03  5.92   Sat  Dinner     3
240       27.18  2.00   Sat  Dinner     2
241       22.67  2.00   Sat  Dinner     2
242       17.82  1.75   Sat  Dinner     2
243       18.78  3.00  Thur  Dinner     2

[244 rows x 5 columns]

In [102]:
group_df = tips.groupby('day')

In [103]:
def app_f1(group):
    print(group, end='\n\n')  # group每次为每个分组下的所有数据
    return [1, 2, 3, 4]


# 每个分组下返回值的拼接
group_df.apply(app_f1)

     total_bill   tip  day    time  size
90        28.97  3.00  Fri  Dinner     2
91        22.49  3.50  Fri  Dinner     2
92         5.75  1.00  Fri  Dinner     2
93        16.32  4.30  Fri  Dinner     2
94        22.75  3.25  Fri  Dinner     2
95        40.17  4.73  Fri  Dinner     4
96        27.28  4.00  Fri  Dinner     2
97        12.03  1.50  Fri  Dinner     2
98        21.01  3.00  Fri  Dinner     2
99        12.46  1.50  Fri  Dinner     2
100       11.35  2.50  Fri  Dinner     2
101       15.38  3.00  Fri  Dinner     2
220       12.16  2.20  Fri   Lunch     2
221       13.42  3.48  Fri   Lunch     2
222        8.58  1.92  Fri   Lunch     1
223       15.98  3.00  Fri   Lunch     3
224       13.42  1.58  Fri   Lunch     2
225       16.27  2.50  Fri   Lunch     2
226       10.09  2.00  Fri   Lunch     2

     total_bill   tip  day    time  size
19        20.65  3.35  Sat  Dinner     3
20        17.92  4.08  Sat  Dinner     2
21        20.29  2.75  Sat  Dinner     2
22        15.77  2.23  Sat  Dinner     2
23        39.42  7.58  Sat  Dinner     4
..          ...   ...  ...     ...   ...
238       35.83  4.67  Sat  Dinner     3
239       29.03  5.92  Sat  Dinner     3
240       27.18  2.00  Sat  Dinner     2
241       22.67  2.00  Sat  Dinner     2
242       17.82  1.75  Sat  Dinner     2

[87 rows x 5 columns]

     total_bill   tip  day    time  size
0         16.99  1.01  Sun  Dinner     2
1         10.34  1.66  Sun  Dinner     3
2         21.01  3.50  Sun  Dinner     3
3         23.68  3.31  Sun  Dinner     2
4         24.59  3.61  Sun  Dinner     4
..          ...   ...  ...     ...   ...
186       20.90  3.50  Sun  Dinner     3
187       30.46  2.00  Sun  Dinner     5
188       18.15  3.50  Sun  Dinner     3
189       23.10  4.00  Sun  Dinner     3
190       15.69  1.50  Sun  Dinner     2

[76 rows x 5 columns]

     total_bill   tip   day    time  size
77        27.20  4.00  Thur   Lunch     4
78        22.76  3.00  Thur   Lunch     2
79        17.29  2.71  Thur   Lunch     2
80        19.44  3.00  Thur   Lunch     2
81        16.66  3.40  Thur   Lunch     2
..          ...   ...   ...     ...   ...
202       13.00  2.00  Thur   Lunch     2
203       16.40  2.50  Thur   Lunch     2
204       20.53  4.00  Thur   Lunch     4
205       16.47  3.23  Thur   Lunch     3
243       18.78  3.00  Thur  Dinner     2

[62 rows x 5 columns]

day
Fri     [1, 2, 3, 4]
Sat     [1, 2, 3, 4]
Sun     [1, 2, 3, 4]
Thur    [1, 2, 3, 4]
dtype: object

In [104]:
def app_f2(group):
    ser = pd.Series([2, 3, 4], index=[['a', 'a', 'b'], ['one', 'two', 'three']])
    print(ser)  # 每个分组下Series等长
    return ser


group_df.apply(app_f2)  # 返回值为DataFrame

a  one      2
   two      3
b  three    4
dtype: int64
a  one      2
   two      3
b  three    4
dtype: int64
a  one      2
   two      3
b  three    4
dtype: int64
a  one      2
   two      3
b  three    4
dtype: int64

       a         b
     one two three
day
Fri    2   3     4
Sat    2   3     4
Sun    2   3     4
Thur   2   3     4

In [105]:
def diff_ser(df):
    result = df['tip'].diff()
    print(result)
    print(len(result))  # 每个分组下Series不等长
    return result


def diff_df(df):
    result = df[['tip', 'tip_pct']].diff()
    result = result.stack().unstack(level=0).stack()
    print(result)
    print(len(result))  # 每个分组下Series不等长
    return result

In [106]:
tips1 = pd.read_csv('tips.csv')
tips1['tip_pct'] = tips1['tip'] / tips1['total_bill']
tips1.groupby('smoker').apply(diff_ser)  # 返回值为Series

0       NaN
1      0.65
2      1.84
3     -0.19
4      0.30
       ...
235   -0.22
238    3.42
239    1.25
242   -4.17
243    1.25
Name: tip, Length: 151, dtype: float64
151
56      NaN
58    -1.24
60     1.45
61    -1.21
62    -0.02
       ...
234    0.00
236   -2.00
237    0.17
240    0.83
241    0.00
Name: tip, Length: 93, dtype: float64
93

smoker
No      0       NaN
        1      0.65
        2      1.84
        3     -0.19
        4      0.30
               ...
Yes     234    0.00
        236   -2.00
        237    0.17
        240    0.83
        241    0.00
Name: tip, Length: 244, dtype: float64

In [107]:
tips1.groupby('smoker').apply(diff_df)  # 返回值为Series

tip      1      0.650000
         2      1.840000
         3     -0.190000
         4      0.300000
         5      1.100000
                  ...
tip_pct  235   -0.012359
         238    0.006207
         239    0.073589
         242   -0.105723
         243    0.061540
Length: 300, dtype: float64
300
tip      58    -1.240000
         60     1.450000
         61    -1.210000
         62    -0.020000
         63     1.780000
                  ...
tip_pct  234    0.001970
         236   -0.113809
         237   -0.043727
         240    0.037945
         241    0.014639
Length: 184, dtype: float64
184

smoker
No      tip      1      0.650000
                 2      1.840000
                 3     -0.190000
                 4      0.300000
                 5      1.100000
                          ...
Yes     tip_pct  234    0.001970
                 236   -0.113809
                 237   -0.043727
                 240    0.037945
                 241    0.014639
Length: 484, dtype: float64

In [108]:
def app_f3(group):
    print(group.head(3), end='\n\n')
    # return group  # 无分组索引
    # return group[:]  # 无分组索引
    # return group[:-1]  # 有分组索引(仅使用到部分行数据)
    # return group.head(300)  # 无分组索引
    # return group.head(3)  # 有分组索引(部分行数据)
    # return group[['day', 'tip']]  # 无分组索引
    # return group[['day', 'tip']][:-1]  # 有分组索引(仅使用到部分行数据)
    return group[['total_bill', 'tip']].diff()  # 无分组索引
    # return group[['total_bill', 'tip']].diff()[:-1]  # 有分组索引(仅使用到部分行数据)


group_df.apply(app_f3)

    total_bill  tip  day    time  size
90       28.97  3.0  Fri  Dinner     2
91       22.49  3.5  Fri  Dinner     2
92        5.75  1.0  Fri  Dinner     2

    total_bill   tip  day    time  size
19       20.65  3.35  Sat  Dinner     3
20       17.92  4.08  Sat  Dinner     2
21       20.29  2.75  Sat  Dinner     2

   total_bill   tip  day    time  size
0       16.99  1.01  Sun  Dinner     2
1       10.34  1.66  Sun  Dinner     3
2       21.01  3.50  Sun  Dinner     3

    total_bill   tip   day   time  size
77       27.20  4.00  Thur  Lunch     4
78       22.76  3.00  Thur  Lunch     2
79       17.29  2.71  Thur  Lunch     2

     total_bill   tip
0           NaN   NaN
1         -6.65  0.65
2         10.67  1.84
3          2.67 -0.19
4          0.91  0.30
..          ...   ...
239       -6.80  1.25
240       -1.85 -3.92
241       -4.51  0.00
242       -4.85 -0.25
243        2.31 -0.23

[244 rows x 2 columns]

In [109]:
def app_f4(group):
    mx = group.max()
    mi = group.min()

    # 多层索引
    index_out = np.repeat(mi.index.values, 2)
    index_inner = np.array(['max', 'min'] * 5)
    all_index = np.stack((index_out, index_inner), axis=0)
    new_columns = pd.MultiIndex.from_arrays(all_index)

    values = np.stack((mx.values, mi.values), axis=0).T.flatten()
    print(values)

    result = pd.Series(values, index=new_columns)
    print(result, end='\n\n')
    return result


group_df.apply(app_f4)

[40.17 5.75 4.73 1.0 'Fri' 'Fri' 'Lunch' 'Dinner' 4 1]
total_bill  max     40.17
            min      5.75
tip         max      4.73
            min       1.0
day         max       Fri
            min       Fri
time        max     Lunch
            min    Dinner
size        max         4
            min         1
dtype: object

[50.81 3.07 10.0 1.0 'Sat' 'Sat' 'Dinner' 'Dinner' 5 1]
total_bill  max     50.81
            min      3.07
tip         max      10.0
            min       1.0
day         max       Sat
            min       Sat
time        max    Dinner
            min    Dinner
size        max         5
            min         1
dtype: object

[48.17 7.25 6.5 1.01 'Sun' 'Sun' 'Dinner' 'Dinner' 6 2]
total_bill  max     48.17
            min      7.25
tip         max       6.5
            min      1.01
day         max       Sun
            min       Sun
time        max    Dinner
            min    Dinner
size        max         6
            min         2
dtype: object

[43.11 7.51 6.7 1.25 'Thur' 'Thur' 'Lunch' 'Dinner' 6 1]
total_bill  max     43.11
            min      7.51
tip         max       6.7
            min      1.25
day         max      Thur
            min      Thur
time        max     Lunch
            min    Dinner
size        max         6
            min         1
dtype: object

     total_bill          tip         day          time         size
            max   min    max   min   max   min     max     min  max min
day
Fri       40.17  5.75   4.73  1.00   Fri   Fri   Lunch  Dinner    4   1
Sat       50.81  3.07  10.00  1.00   Sat   Sat  Dinner  Dinner    5   1
Sun       48.17  7.25   6.50  1.01   Sun   Sun  Dinner  Dinner    6   2
Thur      43.11  7.51   6.70  1.25  Thur  Thur   Lunch  Dinner    6   1