In [ ]:
import pandas as pd
df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
                   columns=['dogs', 'cats'])

In [8]:
df.iloc[:, 0].corr(df.iloc[:, 1]) # Series的相关系数计算(返回值为一个数)

-0.85106449634699

In [9]:
df.corr() #  DataFrame的相关系数计算(返回值为DataFrame)

          dogs      cats
dogs  1.000000 -0.851064
cats -0.851064  1.000000

In [10]:
'''
method : {'pearson', 'kendall', 'spearman'} or callable
    * pearson : standard correlation coefficient
    * kendall : Kendall Tau correlation coefficient
    * spearman : Spearman rank correlation
    * callable: callable with input two 1d ndarrays
        and returning a float
'''
df.corr(method='kendall') # method='pearson'

          dogs      cats
dogs  1.000000 -0.912871
cats -0.912871  1.000000

In [14]:
df.corr(method='spearman')

          dogs      cats
dogs  1.000000 -0.948683
cats -0.948683  1.000000