In [20]:
import pandas as pd

In [21]:
s = pd.Series([1, 1, 2, 3, 5, 8])
s

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int64

In [22]:
s.diff()

0    NaN
1    0.0
2    1.0
3    1.0
4    2.0
5    3.0
dtype: float64

In [23]:
# 2.0 - 1.0 = 1.0
# 3.0 - 1.0 = 2.0
# 5.0 - 2.0 = 3.0
# 8.0 - 3.0 = 5.0
s.diff(periods=2)

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    5.0
dtype: float64

In [24]:
# 5.0 - 8.0 = -3.0
# 3.0 - 5.0 = -2.0
# 2.0 - 3.0 = -1.0
# 1.0 - 2.0 = -1.0
# 1.0 - 1.0 = 0.0
s.diff(periods=-1)

0    0.0
1   -1.0
2   -1.0
3   -2.0
4   -3.0
5    NaN
dtype: float64

In [25]:
df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
                   'b': [1, 1, 2, 3, 5, 8],
                   'c': [1, 4, 9, 16, 25, 36]})
df

   a  b   c
0  1  1   1
1  2  1   4
2  3  2   9
3  4  3  16
4  5  5  25
5  6  8  36

In [26]:
# 默认axis=0, periods=1
df.diff(axis=1, periods=2)

    a   b   c
0 NaN NaN   0
1 NaN NaN   2
2 NaN NaN   6
3 NaN NaN  12
4 NaN NaN  20
5 NaN NaN  30