In [ ]:
import pandas as pd
import numpy as np

s = pd.Series([2, np.nan, 5, -1, 0])
s

In [2]:
s.cumsum()

0    2.0
1    NaN
2    7.0
3    6.0
4    6.0
dtype: float64

In [3]:
'''
skipna : boolean, default True
    Exclude NA/null values. If an entire row/column is NA, the result will be NA
'''
s.cumsum(skipna=False)

0    2.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

In [13]:
df = pd.DataFrame([[2.0, 1.0],
                    [3.0, np.nan],
                    [1.0, 0.0]],
                    columns=list('AB'))
df

     A    B
0  2.0  1.0
1  3.0  NaN
2  1.0  0.0

In [14]:
df.cumsum()

     A    B
0  2.0  1.0
1  5.0  NaN
2  6.0  1.0

In [16]:
df.cumsum(axis=1) # 默认axis=0

     A    B
0  2.0  3.0
1  3.0  NaN
2  1.0  1.0

In [17]:
df.cumsum(axis=1, skipna=False)

     A    B
0  2.0  3.0
1  3.0  NaN
2  1.0  1.0