In [18]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [19]:
df.rename(index=str, columns=str.lower) # 通过函数

   a  b
0  1  4
1  2  5
2  3  6

In [20]:
df.rename(index=str, columns=lambda x: x+'S')

   AS  BS
0   1   4
1   2   5
2   3   6

In [21]:
df.rename(index=str, columns={"A": "a", "B": "c"}) # 通过字典

   a  c
0  1  4
1  2  5
2  3  6

In [22]:
df.rename(index=str, columns={"A": "a"})

   a  B
0  1  4
1  2  5
2  3  6

In [23]:
df.rename(str.lower, axis='columns') # 等价于df.columns.str.lower()

   a  b
0  1  4
1  2  5
2  3  6

In [24]:
df.rename({1: 2, 2: 4}, axis='index')

   A  B
0  1  4
2  2  5
4  3  6

In [25]:
df.rename(index={1: 12, 2: 14}, columns={"A": "a", "B": "c"})

    a  c
0   1  4
12  2  5
14  3  6

In [26]:
df.rename(index=str, columns={"A": "a"}, inplace=True)
print(df)
print(df.index) # index数据类型为字符串

   a  B
0  1  4
1  2  5
2  3  6
Index(['0', '1', '2'], dtype='object')