In [1]:
import pandas as pd
'''
drop : bool, default True
    Delete columns to be used as the new index.

append : bool, default False
    Whether to append columns to existing index.

inplace : bool, default False
    Modify the DataFrame in place (do not create a new object).
'''
df = pd.DataFrame({'month': [1, 4, 7, 10],
                    'year': [2012, 2014, 2013, 2014],
                    'sale': [55, 40, 84, 31]})
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [2]:
df.set_index('month')

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

In [3]:
df.set_index(['year', 'month'])

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [4]:
df.set_index([pd.Index([1, 1, 1, 2]), 'year']) # 分层索引

        month  sale
  year
1 2012      1    55
  2014      4    40
  2013      7    84
2 2014     10    31

In [5]:
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [6]:
s = pd.Series([1, 2, 3, 4])
df.set_index([s, s**2], append=True, inplace=True)
df

        month  year  sale
0 1 1       1  2012    55
1 2 4       4  2014    40
2 3 9       7  2013    84
3 4 16     10  2014    31

In [7]:
df.index # 分层索引

MultiIndex([(0, 1,  1),
            (1, 2,  4),
            (2, 3,  9),
            (3, 4, 16)],
           )