In [1]:
import numpy as np
import  pandas as pd

In [2]:
df = pd.DataFrame([('bird', 389.0),
                    ('bird', 24.0),
                    ('mammal', 80.5),
                    ('mammal', np.nan)],
                   index=['falcon', 'parrot', 'lion', 'monkey'],
                   columns=('class', 'max_speed'))
df

         class  max_speed
falcon    bird      389.0
parrot    bird       24.0
lion    mammal       80.5
monkey  mammal        NaN

In [3]:
df.reset_index()

    index   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN

In [4]:
'''
drop : bool, default False
    Do not try to insert index into dataframe columns. This resets
    the index to the default integer index.
'''
df.reset_index(drop=True)

    class  max_speed
0    bird      389.0
1    bird       24.0
2  mammal       80.5
3  mammal        NaN

In [5]:
index = pd.MultiIndex.from_arrays([['bird', 'bird', 'mammal', 'mammal'],
                                   ['falcon', 'parrot', 'lion', 'monkey']],
                                   names=['class', 'name'])
columns = pd.MultiIndex.from_arrays([['speed', 'max'],
                                      ['species', 'type']])
df1 = pd.DataFrame([(389.0, 'fly'),
                    ( 24.0, 'fly'),
                    ( 80.5, 'run'),
                    (np.nan, 'jump')],
                   index=index,
                   columns=columns)
df1

                speed   max
              species  type
class  name
bird   falcon   389.0   fly
       parrot    24.0   fly
mammal lion      80.5   run
       monkey     NaN  jump

In [6]:
df1.reset_index().columns

MultiIndex([('class',        ''),
            ( 'name',        ''),
            ('speed', 'species'),
            (  'max',    'type')],
           )

In [7]:
df1.reset_index()

    class    name   speed   max
                  species  type
0    bird  falcon   389.0   fly
1    bird  parrot    24.0   fly
2  mammal    lion    80.5   run
3  mammal  monkey     NaN  jump

In [8]:
'''
level : int, str, tuple, or list, default None
    Only remove the given levels from the index. Removes all levels by
    default.
'''
df1.reset_index(level='class')

         class   speed   max
               species  type
name
falcon    bird   389.0   fly
parrot    bird    24.0   fly
lion    mammal    80.5   run
monkey  mammal     NaN  jump

In [9]:
df1.reset_index(level='name')

          name   speed   max
               species  type
class
bird    falcon   389.0   fly
bird    parrot    24.0   fly
mammal    lion    80.5   run
mammal  monkey     NaN  jump

In [10]:
'''
inplace : bool, default False
    Modify the DataFrame in place (do not create a new object).

col_level : int or str, default 0
    If the columns have multiple levels, determines which level the
    labels are inserted into. By default it is inserted into the first
    level.

col_fill : object, default ''
    If the columns have multiple levels, determines how the other
    levels are named. If None then the index name is repeated.
'''
df2 = df1.reset_index(level='class', col_level=0)
print(df2, end='\n\n')
print(df2.columns, end='\n\n')
print(df1.reset_index(level='class', col_level=0, col_fill='species'))

         class   speed   max
               species  type
name
falcon    bird   389.0   fly
parrot    bird    24.0   fly
lion    mammal    80.5   run
monkey  mammal     NaN  jump

MultiIndex([('class',        ''),
            ('speed', 'species'),
            (  'max',    'type')],
           )

         class   speed   max
       species species  type
name
falcon    bird   389.0   fly
parrot    bird    24.0   fly
lion    mammal    80.5   run
monkey  mammal     NaN  jump