In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame({'A': range(1, 6),
                   'B': range(10, 0, -2),
                   'C C': range(10, 5, -1)})
df

   A   B  C C
0  1  10   10
1  2   8    9
2  3   6    8
3  4   4    7
4  5   2    6

In [12]:
df[df.loc[:, "A"] > df.loc[:, "B"]]

   A  B  C C
4  5  2    6

In [13]:
# 与上等价
df.query('A > B')

   A  B  C C
4  5  2    6

In [14]:
# For columns with spaces in their name, you can use backtick quoting.
df.query('B == `C C`')

   A   B  C C
0  1  10   10