In [6]:
import pandas as pd

In [7]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
s.add_prefix('item_')

item_0    1
item_1    2
item_2    3
item_3    4
dtype: int64

In [9]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [3, 4, 5, 6]})
df

   A  B
0  1  3
1  2  4
2  3  5
3  4  6

In [10]:
df.add_prefix('col_')

   col_A  col_B
0      1      3
1      2      4
2      3      5
3      4      6