In [35]:
import pandas as pd
import numpy as np

pd.read_excel('excel文件读写0.xlsx')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [36]:
pd.read_excel('excel文件读写0.xlsx', header=None, sheet_name='第一个excel表')

     0  1   2   3   4        5
0  NaN  a   b   c   d  message
1  0.0  1   2   3   4    hello
2  1.0  5   6   7   8    world
3  2.0  9  10  11  12      foo

In [37]:
'''
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed sheet positions. 
    Lists of strings/integers are used to request multiple sheets. Specify None to get all sheets.

    Available cases:
    Defaults to 0: 1st sheet as a DataFrame
    1: 2nd sheet as a DataFrame
    "Sheet1": Load sheet with name “Sheet1”
    [0, 1, "Sheet5"]: Load first, second and sheet named “Sheet5” as a dict of DataFrame
    None: All sheets.
'''
pd.read_excel('excel文件读写0.xlsx', header=None, sheet_name='第二个excel表')

              0    1
0           NaN  NaN
1           NaN  NaN
2           NaN  NaN
3           NaN  NaN
4          name  age
5  duanmengmeng    0
6      duanchao   23
7        mother    ?
8        father    ?

In [38]:
'''
skiprows : list-like
    Rows to skip at the beginning (0-indexed).
'''
pd.read_excel('excel文件读写0.xlsx', header=None, sheet_name='第二个excel表', 
              skiprows=3)

              0    1
0           NaN  NaN
1          name  age
2  duanmengmeng    0
3      duanchao   23
4        mother    ?
5        father    ?

In [39]:
'''
nrows : int, default None
    Number of rows to parse.
'''
pd.read_excel('excel文件读写0.xlsx', header=None, sheet_name='第二个excel表', 
              skiprows=3, nrows=4)

              0    1
0           NaN  NaN
1          name  age
2  duanmengmeng    0
3      duanchao   23

In [40]:
data = pd.DataFrame(np.linspace(0, 1, 18).reshape(9, 2),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 0, 0]])
data.name = 'number one'
data.columns = ['min', 'max']

### 同一个excel文件写入多张表

In [41]:
# 第一张表:one
with pd.ExcelWriter('excel文件读写1.xlsx', engine='xlsxwriter', mode='w') as writer: # 此模式下engine必须为xlsxwriter
    # 同一个表中写入多条数据(会删除原有excel文件所有表的数据)
    # 列名为读入DataFrame的列名
    # 通过设置index=None不写入索引
    # 通过设置head=None不写入列名(Series则为不写入name(name属性存在的情况下))
    data.to_excel(writer, sheet_name='one', index=None)
    data.to_excel(writer, sheet_name='one', startrow=14, header=None) # 此模型下数据之间可以重叠

In [42]:
# 第二张表two
with pd.ExcelWriter('excel文件读写1.xlsx', engine='openpyxl', mode='a') as writer: # 此模式下engine必须为openpyxl
    # 在excel文件中重新创建一个新表,并写入数据(不会删除原有excel其他表数据)
    '''
    startrow : int, default 0
        Upper left cell row to dump data frame.

    startcol : int, default 0
        Upper left cell column to dump data frame.
    '''
    data.to_excel(writer, sheet_name='two', startcol=10)
    data.to_excel(writer, sheet_name='two', startcol=2, startrow=1)

In [43]:
# 第三张表three
with pd.ExcelWriter('excel文件读写1.xlsx', engine='openpyxl', mode='a') as writer:
    '''
    header : bool or list of str, default True
        Write out the column names. If a list of string is given it is assumed to be aliases for the column names.
    '''
    data.to_excel(writer, sheet_name='three', startcol=10, header=None)
    data.to_excel(writer, sheet_name='three', startcol=3, startrow=1) # 此模型下数据之间不能重叠