## concat(沿轴向连接)

In [22]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=list('abc'),
                   columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=list('ac'),
                   columns=['two', 'four'])

In [23]:
df1

   one  two
a    0    1
b    2    3
c    4    5

In [24]:
df2

   two  four
a    5     6
c    7     8

In [25]:
pd.concat([df1, df2], axis=0, keys=['leval1', 'leval2'], join='inner')  # 拼接列名相同的列

          two
leval1 a    1
       b    3
       c    5
leval2 a    5
       c    7

In [26]:
pd.concat([df1, df2], axis=0, keys=['leval1', 'leval2'], join='outer')

          one  two  four
leval1 a  0.0    1   NaN
       b  2.0    3   NaN
       c  4.0    5   NaN
leval2 a  NaN    5   6.0
       c  NaN    7   8.0

In [27]:
pd.concat([df1, df2], axis=1, keys=['leval1', 'leval2'], join='outer')

  leval1     leval2
     one two    two four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [28]:
pd.concat({'leval1': df1, 'leval2': df2}, axis=1)  # 与上等价

  leval1     leval2
     one two    two four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [29]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'],
          names=['upper', 'lower'])  # 多层索引的层级名称

upper level1     level2
lower    one two    two four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

In [30]:
df3 = pd.DataFrame(np.random.randn(3, 4), columns=list('abcd'))
df4 = pd.DataFrame(np.random.randn(2, 3), columns=list('bda'))

print(df3, '\n\n', df4)

          a         b         c         d
0  1.766380  0.543603  0.050759  1.034511
1 -0.566929 -0.514262  1.029149 -1.182581
2  0.883038  0.017797  0.857243 -0.411512

           b         d         a
0 -1.820950  1.729538  0.120559
1 -0.318706  0.351735 -0.511039

In [31]:
# 默认ignore_index=False
pd.concat([df3, df4])

          a         b         c         d
0  1.766380  0.543603  0.050759  1.034511
1 -0.566929 -0.514262  1.029149 -1.182581
2  0.883038  0.017797  0.857243 -0.411512
0  0.120559 -1.820950       NaN  1.729538
1 -0.511039 -0.318706       NaN  0.351735

In [32]:
pd.concat([df3, df4], ignore_index=True)  # 产生一段新的索引

          a         b         c         d
0  1.766380  0.543603  0.050759  1.034511
1 -0.566929 -0.514262  1.029149 -1.182581
2  0.883038  0.017797  0.857243 -0.411512
3  0.120559 -1.820950       NaN  1.729538
4 -0.511039 -0.318706       NaN  0.351735