## concat(沿轴向连接)

In [31]:
import pandas as pd

In [32]:
'''
Concatenate pandas objects along a particular axis with optional set logic along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis, which may be useful if 
the labels are the same (or overlapping) on the passed axis number.

objs : a sequence or mapping of Series, DataFrame, or Panel objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised

axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along

join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis(es)

ignore_index : boolean, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level

names : list, default None
    Names for the levels in the resulting hierarchical index
'''

s1 = pd.Series([0, 1, 'a'], index=['a', 'b', 'c'], name='s1')
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'], name='s2')
s3 = pd.Series([5, 6], index=['f', 'g'], name='s3')

print(s1, '\n\n', s2, '\n\n', s3)

a    0
b    1
c    a
Name: s1, dtype: object

 c    2
d    3
e    4
Name: s2, dtype: int64

 f    5
g    6
Name: s3, dtype: int64

In [33]:
pd.merge(s1, s2, left_index=True, right_index=True, how='outer')

    s1   s2
a    0  NaN
b    1  NaN
c    a  2.0
d  NaN  3.0
e  NaN  4.0

In [34]:
# 与上等价
pd.concat([s1, s2], axis=1)  # 默认axis=0;join='outer'

    s1   s2
a    0  NaN
b    1  NaN
c    a  2.0
d  NaN  3.0
e  NaN  4.0

In [35]:
pd.concat([s1, s2, s3])

a    0
b    1
c    a
c    2
d    3
e    4
f    5
g    6
dtype: object

In [36]:
pd.concat([s1, s2, s3], axis=1)

    s1   s2   s3
a    0  NaN  NaN
b    1  NaN  NaN
c    a  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [37]:
s4 = pd.concat([s1, s3])
s4.name = "s4"
s4

a    0
b    1
c    a
f    5
g    6
Name: s4, dtype: object

In [38]:
pd.concat([s1, s4], axis=1)

    s1 s4
a    0  0
b    1  1
c    a  a
f  NaN  5
g  NaN  6

In [39]:
pd.concat([s1, s4], axis=1, join='inner')

  s1 s4
a  0  0
b  1  1
c  a  a

In [40]:
result = pd.concat([s1, s2, s3], keys=['one', 'two', 'three'])  # 连接轴上创建分层索引
result

one    a    0
       b    1
       c    a
two    c    2
       d    3
       e    4
three  f    5
       g    6
dtype: object

In [41]:
# axis=1连接Series的时候,keys则成为DataFrame的列名
pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three'])

   one  two  three
a    0  NaN    NaN
b    1  NaN    NaN
c    a  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0