## join(按照索引合并)

In [21]:
import pandas as pd

'''
Join columns of another DataFrame.

Join columns with other DataFrame either on index or on a key column. Efficiently join multiple 
DataFrame objects by index at once by passing a list.

Parameters
----------
other : DataFrame, Series, or list of DataFrame
    Index should be similar to one of the columns in this one. If a
    Series is passed, its name attribute must be set, and that will be
    used as the column name in the resulting joined DataFrame.

on : str, list of str, or array-like, optional
    Column or index level name(s) in the caller to join on the index
    in `other`, otherwise joins index-on-index. If multiple
    values given, the `other` DataFrame must have a MultiIndex. Can
    pass an array as the join key if it is not already contained in
    the calling DataFrame. Like an Excel VLOOKUP operation.

how : {'left', 'right', 'outer', 'inner'}, default 'left'
    How to handle the operation of the two objects.

    * left: use calling frame's index (or column if on is specified)
    * right: use `other`'s index.
    * outer: form union of calling frame's index (or column if on is
      specified) with `other`'s index, and sort it.
      lexicographically.
    * inner: form intersection of calling frame's index (or column if
      on is specified) with `other`'s index, preserving the order
      of the calling's one.

lsuffix : str, default ''
    Suffix to use from left frame's overlapping columns.

rsuffix : str, default ''
    Suffix to use from right frame's overlapping columns.
'''
left = pd.DataFrame([[1, 2], [3, 4], [5, 6]], index=['a', 'b', 'c'],
                    columns=['ohio', 'nevada'])

right = pd.DataFrame([[7, 8], [9, 10], [11, 12], [13, 14]],
                     index=['b', 'c', 'd', 'e'],
                     columns=['missouri', 'alabama'])

print(left, '\n\n', right)

   ohio  nevada
a     1       2
b     3       4
c     5       6

    missouri  alabama
b         7        8
c         9       10
d        11       12
e        13       14

In [22]:
left.join(right)  # 按照索引进行合并(默认:how='left')

   ohio  nevada  missouri  alabama
a     1       2       NaN      NaN
b     3       4       7.0      8.0
c     5       6       9.0     10.0

In [23]:
left.join(right, how='outer')

   ohio  nevada  missouri  alabama
a   1.0     2.0       NaN      NaN
b   3.0     4.0       7.0      8.0
c   5.0     6.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   NaN     NaN      13.0     14.0

In [24]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})

right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
print(left1, '\n\n', right1)

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

    group_val
a        3.5
b        7.0

In [25]:
left1.join(right1, on='key')  # left DataFrame的某一列连接right DataFrame的索引

  key  value  group_val
0   a      0        3.5
1   b      1        7.0
2   a      2        3.5
3   a      3        3.5
4   b      4        7.0
5   c      5        NaN

In [26]:
left2 = pd.DataFrame([[1, 2], [3, 4], [5, 6]], index=['a', 'b', 'c'],
                     columns=['ohio', 'nevada'])

right2 = pd.DataFrame([[7, 8], [9, 10], [11, 12], [13, 14]],
                      index=['b', 'c', 'd', 'e'],
                      columns=['missouri', 'alabama'])
another = pd.DataFrame([[7, 8], [9, 10], [11, 12], [16, 17]],
                       index=['a', 'c', 'e', 'f'],
                       columns=['new york', 'orgon'])
print(left2, '\n\n', right2, '\n\n', another)

   ohio  nevada
a     1       2
b     3       4
c     5       6

    missouri  alabama
b         7        8
c         9       10
d        11       12
e        13       14

    new york  orgon
a         7      8
c         9     10
e        11     12
f        16     17

In [27]:
left2.join([right2, another])

   ohio  nevada  missouri  alabama  new york  orgon
a   1.0     2.0       NaN      NaN       7.0    8.0
b   3.0     4.0       7.0      8.0       NaN    NaN
c   5.0     6.0       9.0     10.0       9.0   10.0

In [28]:
left2.join([right2, another], how='outer')

   ohio  nevada  missouri  alabama  new york  orgon
a   1.0     2.0       NaN      NaN       7.0    8.0
b   3.0     4.0       7.0      8.0       NaN    NaN
c   5.0     6.0       9.0     10.0       9.0   10.0
d   NaN     NaN      11.0     12.0       NaN    NaN
e   NaN     NaN      13.0     14.0      11.0   12.0
f   NaN     NaN       NaN      NaN      16.0   17.0

In [29]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})
print(df)
print(other)

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5
  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [30]:
# 指定left DataFrame重名列的后缀为_left
# 指定right DataFrame重名列的后缀为_right
df.join(other, lsuffix='_left', rsuffix='_right')

  key_left   A key_right    B
0       K0  A0        K0   B0
1       K1  A1        K1   B1
2       K2  A2        K2   B2
3       K3  A3       NaN  NaN
4       K4  A4       NaN  NaN
5       K5  A5       NaN  NaN