In [ ]:
import pandas as pd
import  numpy as np

In [60]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     index=pd.date_range('1/1/2000', periods=2,
                                         freq='W-WED'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.054302  0.122337 -1.186423  1.366850
2000-01-12 -0.555084 -1.484977  0.476049 -0.249538

In [61]:
'''
Resampler.asfreq(fill_value=None)
	Return the values at the new freq
'''
frame.resample('D').asfreq()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.054302  0.122337 -1.186423  1.366850
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.555084 -1.484977  0.476049 -0.249538

In [62]:
frame.resample('D').ffill() # finna和reindex方法中可用的填充或插值方法可用于重采样

            Colorado     Texas  New York      Ohio
2000-01-05 -0.054302  0.122337 -1.186423  1.366850
2000-01-06 -0.054302  0.122337 -1.186423  1.366850
2000-01-07 -0.054302  0.122337 -1.186423  1.366850
2000-01-08 -0.054302  0.122337 -1.186423  1.366850
2000-01-09 -0.054302  0.122337 -1.186423  1.366850
2000-01-10 -0.054302  0.122337 -1.186423  1.366850
2000-01-11 -0.054302  0.122337 -1.186423  1.366850
2000-01-12 -0.555084 -1.484977  0.476049 -0.249538

In [63]:
frame.resample('D').ffill(limit=2) # 选择仅向前填充一定数量的区间

            Colorado     Texas  New York      Ohio
2000-01-05 -0.054302  0.122337 -1.186423  1.366850
2000-01-06 -0.054302  0.122337 -1.186423  1.366850
2000-01-07 -0.054302  0.122337 -1.186423  1.366850
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.555084 -1.484977  0.476049 -0.249538

In [64]:
print(frame.resample('W-THU').asfreq())
print(frame.resample('W-THU').ffill()) # 新的索引日期不需要与旧的索引重叠

            Colorado  Texas  New York  Ohio
2000-01-06       NaN    NaN       NaN   NaN
2000-01-13       NaN    NaN       NaN   NaN
            Colorado     Texas  New York      Ohio
2000-01-06 -0.054302  0.122337 -1.186423  1.366850
2000-01-13 -0.555084 -1.484977  0.476049 -0.249538