In [1]:
import pandas as pd

In [2]:
# empty                 DataFrame是否为空DataFrame
# columns	       		DataFrame的列标签
# dtypes	       		返回DataFrame中元素的数据类型
# shape	       		    返回表示DataFrame维度的元组
# index          		DataFrame的索引(行标签)
# columns.name   		列标签名字
# index.name     		行标签名字
# DataFrame.values	    返回DataFrame的Numpy表示(值)

In [3]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame1 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame1

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [4]:
frame1.shape

(6, 4)

In [5]:
# This returns a Series with the data type of each column
frame1.dtypes

year       int64
state     object
pop      float64
debt      object
dtype: object

In [6]:
frame1.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [7]:
frame1.index

Index(['one', 'two', 'three', 'four', 'five', 'six'], dtype='object')

In [8]:
frame1.index.name = 'year'
frame1.columns.name = 'state'

In [9]:
frame1

state  year   state  pop debt
year
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [10]:
frame1.values  # 数组

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, nan],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, nan],
       [2002, 'Nevada', 2.9, nan],
       [2003, 'Nevada', 3.2, nan]], dtype=object)

In [11]:
for i in range(frame1.shape[0]):
    print(frame1.iloc[i].name)  # Series.name等于所在行的行名

one
two
three
four
five
six

In [12]:
for i in range(frame1.shape[1]):
    print(frame1.iloc[:, i].name)  # Series.name等于所在列的列名

year
state
pop
debt