In [23]:
import numpy as np
import pandas as pd
import copy

In [24]:
data = {'state': ['Ohio', 'Ohio'], 'year': [[2001], 2001]}
# data = [['Ohio', 'Ohio'], [[2001], 2001]]  # 同理
data

[['Ohio', 'Ohio'], [[2001], 2001]]

In [25]:
frame1 = pd.DataFrame(data)
frame1

        0     1
0    Ohio  Ohio
1  [2001]  2001

In [26]:
frame1.iloc[0, 1].append(1)
frame1

           0     1
0       Ohio  Ohio
1  [2001, 1]  2001

In [27]:
# data发生改变
data

[['Ohio', 'Ohio'], [[2001, 1], 2001]]

In [28]:
# 解决方法:进行深拷贝
frame1 = pd.DataFrame(copy.deepcopy(data))
frame1.iloc[0, 1].append(2)

In [29]:
frame1

              0     1
0          Ohio  Ohio
1  [2001, 1, 2]  2001

In [30]:
# data不再发生改变
data

[['Ohio', 'Ohio'], [[2001, 1], 2001]]