## concat(沿轴向连接)

In [1]:
import  pandas as pd
import  numpy as np
import warnings
warnings.filterwarnings('ignore')

df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=list('abc'), 
                   columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=list('ac'), 
                   columns=['two', 'four'])

In [2]:
df1

   one  two
a    0    1
b    2    3
c    4    5

In [3]:
df2

   two  four
a    5     6
c    7     8

In [4]:
pd.concat([df1, df2], axis=0,  keys=['leval1', 'leval2'], join='inner') # 拼接列名相同的列

          two
leval1 a    1
       b    3
       c    5
leval2 a    5
       c    7

In [5]:
pd.concat([df1, df2], axis=0,  keys=['leval1', 'leval2'], join='outer')

          one  two  four
leval1 a  0.0    1   NaN
       b  2.0    3   NaN
       c  4.0    5   NaN
leval2 a  NaN    5   6.0
       c  NaN    7   8.0

In [6]:
pd.concat([df1, df2], axis=1, keys=['leval1', 'leval2'], join='outer')

  leval1     leval2
     one two    two four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [7]:
pd.concat({'leval1': df1, 'leval2': df2}, axis=1) # 与上等价

  leval1     leval2
     one two    two four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [8]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'], 
          names=['upper', 'lower']) # 多层索引的层级名称

upper level1     level2
lower    one two    two four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

In [9]:
df3 = pd.DataFrame(np.random.randn(3, 4), columns=list('abcd'))
df4 = pd.DataFrame(np.random.randn(2, 3), columns=list('bda'))
print(df3, '\n', df4)

          a         b         c         d
0  1.488621  0.581194  0.076640  0.272065
1 -0.243422  1.091873  3.224403  0.907663
2  0.717125  0.699811  0.070437 -0.766045
           b         d         a
0  0.548843 -1.752751 -1.154297
1  0.809574  1.024287 -2.138267

In [10]:
pd.concat([df3, df4], ignore_index=True) # 产生一段新的索引

          a         b         c         d
0  1.488621  0.581194  0.076640  0.272065
1 -0.243422  1.091873  3.224403  0.907663
2  0.717125  0.699811  0.070437 -0.766045
3 -1.154297  0.548843       NaN -1.752751
4 -2.138267  0.809574       NaN  1.024287