## merge(数据库风格的DataFrame连接)

In [1]:
import  pandas as pd
import  numpy as np

left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lva1': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                     'key2': ['one', 'one', 'one', 'two'],
                     'lva1': [4, 5, 6, 7]})

In [2]:
print(left, '\n', right)

  key1 key2  lva1
0  foo  one     1
1  foo  two     2
2  bar  one     3
   key1 key2  lva1
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [3]:
pd.merge(left, right=right, on=['key1', 'key2'], how='outer') # 使用多个键合并时,传入一个列名的列表

  key1 key2  lva1_x  lva1_y
0  foo  one     1.0     4.0
1  foo  one     1.0     5.0
2  foo  two     2.0     NaN
3  bar  one     3.0     6.0
4  bar  two     NaN     7.0

In [4]:
pd.merge(left, right=right, on='key1', how='inner')

  key1 key2_x  lva1_x key2_y  lva1_y
0  foo    one       1    one       4
1  foo    one       1    one       5
2  foo    two       2    one       4
3  foo    two       2    one       5
4  bar    one       3    one       6
5  bar    one       3    two       7

In [5]:
pd.merge(left, right=right, on='key1', how='inner', 
         suffixes=('_left', '_right')) # 用于在左右两边DataFrame对象的重叠列名后指定要添加的字符串

  key1 key2_left  lva1_left key2_right  lva1_right
0  foo       one          1        one           4
1  foo       one          1        one           5
2  foo       two          2        one           4
3  foo       two          2        one           5
4  bar       one          3        one           6
5  bar       one          3        two           7

In [6]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})

right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
print(left1, '\n', right1)

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5
    group_val
a        3.5
b        7.0

In [7]:
pd.merge(left1, right1, left_on='key', right_index=True) # 使用right DataFrame的行索引作为它的连接键

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [8]:
pd.merge(left1, right1, left_on='key', right_index=True, how='outer')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN

In [9]:
lefth = pd.DataFrame({'key1': ['ohio', 'ohio', 'ohio', 'nevada', 'nevada'],
                      'key2': [2000, 2001, 2002, 2001, 2002],
                      'data': np.arange(5.0)})

righth = pd.DataFrame(np.arange(12).reshape((6, 2)),
                      index=[['nevada', 'nevada', 'ohio', 'ohio', 'ohio',
                              'ohio'], 
                             [2001, 2000, 2000, 2000, 2001, 2002]],
                      columns=['event1', 'event2'])
print(lefth, '\n', righth)

     key1  key2  data
0    ohio  2000   0.0
1    ohio  2001   1.0
2    ohio  2002   2.0
3  nevada  2001   3.0
4  nevada  2002   4.0
              event1  event2
nevada 2001       0       1
       2000       2       3
ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

In [10]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True)

     key1  key2  data  event1  event2
0    ohio  2000   0.0       4       5
0    ohio  2000   0.0       6       7
1    ohio  2001   1.0       8       9
2    ohio  2002   2.0      10      11
3  nevada  2001   3.0       0       1

In [11]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True, how='outer') #多层索引数据合并

     key1  key2  data  event1  event2
0    ohio  2000   0.0     4.0     5.0
0    ohio  2000   0.0     6.0     7.0
1    ohio  2001   1.0     8.0     9.0
2    ohio  2002   2.0    10.0    11.0
3  nevada  2001   3.0     0.0     1.0
4  nevada  2002   4.0     NaN     NaN
4  nevada  2000   NaN     2.0     3.0

In [12]:
left1 = pd.DataFrame([[1, 2], [3, 4], [5, 6]], index=['a', 'b', 'c'],
                      columns=['ohio', 'nevada'])

right1 = pd.DataFrame([[7, 8], [9, 10], [11, 12], [13, 14]], 
                       index = ['b', 'c', 'd', 'e'],
                       columns=['missouri', 'alabama'])

print(left1, '\n', right1)

   ohio  nevada
a     1       2
b     3       4
c     5       6
    missouri  alabama
b         7        8
c         9       10
d        11       12
e        13       14

In [13]:
pd.merge(left1, right1, how='outer', left_index=True, right_index=True)

   ohio  nevada  missouri  alabama
a   1.0     2.0       NaN      NaN
b   3.0     4.0       7.0      8.0
c   5.0     6.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   NaN     NaN      13.0     14.0