In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 10, (6, 4)), index=None, columns=list('ABCD'))
df['E'] = pd.Series([1, 1, 1, 1, 1, 1])
df

   A  B  C  D  E
0  8  9  1  9  1
1  9  5  6  6  1
2  7  1  6  5  1
3  8  3  7  3  1
4  7  3  6  3  1
5  6  1  2  5  1

In [2]:
s = pd.Series([1, 1, 1, 1, 1, 1])
df.insert(1, 'X', s, allow_duplicates=True)  # Insert column into DataFrame at specified location.
'''
loc : int
    Insertion index. Must verify 0 <= loc <= len(columns)

column : string, number, or hashable object
    label of the inserted column

value : int, Series, or array-like

allow_duplicates : bool, optional
'''
df

   A  X  B  C  D  E
0  8  1  9  1  9  1
1  9  1  5  6  6  1
2  7  1  1  6  5  1
3  8  1  3  7  3  1
4  7  1  3  6  3  1
5  6  1  1  2  5  1