In [17]:
import pandas as pd

In [18]:
s = pd.Series([0, 1, 2, 3, 4])
print(s)
print(s.replace(0, 5))  # Scalar `to_replace` and `value`
print(s)  # s不变

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    5
1    1
2    2
3    3
4    4
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [19]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

   A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [20]:
df.replace(0, 5)  # Scalar `to_replace` and `value`

   A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [21]:
df.replace([0, 1, 2, 3], 4)  # List-like `to_replace`

   A  B  C
0  4  5  a
1  4  6  b
2  4  7  c
3  4  8  d
4  4  9  e

In [22]:
df.replace([0, 1, 2, 5], ['d', 'u', 'a', 'n'])  # List-like `to_replace`

   A  B  C
0  d  n  a
1  u  6  b
2  a  7  c
3  3  8  d
4  4  9  e

In [23]:
s.replace([1, 3], method='bfill')  # List-like `to_replace`,method='bfill'(向下填充)

0    0
1    2
2    2
3    4
4    4
dtype: int64

In [24]:
s.replace([1, 2], method='ffill')  # List-like `to_replace`,method='ffill'(向上填充)

0    0
1    0
2    0
3    3
4    4
dtype: int64

In [25]:
df.replace({0: 10, 1: 100})  # dict-like `to_replace`

     A  B  C
0   10  5  a
1  100  6  b
2    2  7  c
3    3  8  d
4    4  9  e

In [26]:
# 替换'A'列
df.replace({'A': {0: 100, 4: 400}})  # dict-like `to_replace`

     A  B  C
0  100  5  a
1    1  6  b
2    2  7  c
3    3  8  d
4  400  9  e

In [27]:
# 替换'A'与'B'列
df.replace({'A': [0, 1, 2], 'B': [5, 8]}, 100)  # dict-like `to_replace`

     A    B  C
0  100  100  a
1  100    6  b
2  100    7  c
3    3  100  d
4    4    9  e

In [28]:
df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                   'B': ['abc', 'bar', 'xyz']})
df

      A    B
0   bat  abc
1   foo  bar
2  bait  xyz

In [29]:
df.replace(to_replace=r'^ba.$', value='new',
           regex=True)  # Regular expression `to_replace`(Scalar `to_replace` and `value`)

      A    B
0   new  abc
1   foo  new
2  bait  xyz

In [30]:
df.replace({'A': {r'^ba.$': 'new'}}, regex=True)  # Regular expression `to_replace`(dict-like `to_replace`)

      A    B
0   new  abc
1   foo  bar
2  bait  xyz

In [31]:
df.replace(to_replace=[r'^ba.$', 'foo'], value='new', regex=True,
           inplace=True)  # Regular expression `to_replace`(# List-like `to_replace`)

In [32]:
df

      A    B
0   new  abc
1   new  new
2  bait  xyz