## 缺失值检查
1.  isnull/isna
2.  notnull/notna

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series([5, 6, 'duanchao', None, np.NaN, np.nan])
ser

0           5
1           6
2    duanchao
3        None
4         NaN
5         NaN
dtype: object

In [3]:
ser == np.nan  # 不能判断

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [4]:
ser.isna()

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [5]:
ser.notna()

0     True
1     True
2     True
3    False
4    False
5    False
dtype: bool

In [6]:
df = pd.DataFrame({'age': [5, 6, np.NaN],
                   'born': [pd.NaT, pd.Timestamp('1939-05-27'),
                            pd.Timestamp('1940-04-25')],
                   'name': ['Alfred', 'Batman', ''],
                   'toy': [None, 'Batmobile', 'Joker']})
df

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [7]:
df.isna()

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

In [8]:
df.notna()

     age   born  name    toy
0   True  False  True  False
1   True   True  True   True
2  False   True  True   True