## 缺失值检查
1.  isnull/isna
2.  notnull/notna

In [80]:
import numpy as np
import pandas as pd

In [81]:
ser = pd.Series([5, 6, 'duanchao', None, np.NaN, np.nan, pd.NA])
ser

0           5
1           6
2    duanchao
3        None
4         NaN
5         NaN
6        <NA>
dtype: object

In [82]:
ser == np.nan  # 不能判断

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [83]:
print(ser[4] is np.nan)
print(ser[5] is np.nan)
print(ser[6] is np.nan)

# 都能检测出来(推荐)
# Detect missing values for an array-like object.
print(pd.isna(ser[4]))
print(pd.isna(ser[5]))
print(pd.isna(ser[6]))

print(pd.isna([1, 2, 3, np.nan]))
print(pd.isna(np.array([1, 2, 3, np.nan])))
print(pd.isna(pd.Series([1, 2, 3, np.nan])))
print(pd.isna(pd.DataFrame([1, 2, 3, np.nan])))

True
True
False
True
True
True
[False False False  True]
[False False False  True]
0    False
1    False
2    False
3     True
dtype: bool
       0
0  False
1  False
2  False
3   True

In [84]:
ser.isna()

0    False
1    False
2    False
3     True
4     True
5     True
6     True
dtype: bool

In [85]:
ser.notna()

0     True
1     True
2     True
3    False
4    False
5    False
6    False
dtype: bool

In [86]:
df = pd.DataFrame({'age': [5, 6, np.NaN],
                   'born': [pd.NaT, pd.Timestamp('1939-05-27'),
                            pd.Timestamp('1940-04-25')],
                   'name': ['Alfred', 'Batman', ''],
                   'toy': [None, 'Batmobile', 'Joker']})
df

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [87]:
df.isna()

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

In [88]:
df.notna()

     age   born  name    toy
0   True  False  True  False
1   True   True  True   True
2  False   True  True   True