In [10]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [11]:
# 通过函数
df_str = df.rename(index=str, columns=str.lower)  # 默认inplace=False
print(df_str)
print(df_str.index)  # 字符型

   a  b
0  1  4
1  2  5
2  3  6
Index(['0', '1', '2'], dtype='object')

In [12]:
df.rename(columns=lambda x: x + 'S')

   AS  BS
0   1   4
1   2   5
2   3   6

In [13]:
def to_number(one_char):
    return float(one_char)


df_num = df.rename(index=to_number)
print(df_num)
print(df_num.index)  # 数值型

     A  B
0.0  1  4
1.0  2  5
2.0  3  6
Float64Index([0.0, 1.0, 2.0], dtype='float64')

In [14]:
# 通过字典进行映射
df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6

In [15]:
# 等价于df.rename(columns=str.lower)
df.rename(str.lower, axis='columns')

   a  b
0  1  4
1  2  5
2  3  6

In [16]:
df.rename({1: 2, 2: 4}, axis='index')

   A  B
0  1  4
2  2  5
4  3  6

In [17]:
df.rename(index={1: 12, 2: 14}, columns={"A": "a", "B": "c"})

    a  c
0   1  4
12  2  5
14  3  6

In [18]:
df.rename(columns={"A": "a"}, inplace=True)
print(df)

   a  B
0  1  4
1  2  5
2  3  6