In [14]:
import pandas as pd

In [15]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [16]:
s.add_suffix('_item')

0_item    1
1_item    2
2_item    3
3_item    4
dtype: int64

In [17]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [3, 4, 5, 6]})
df

   A  B
0  1  3
1  2  4
2  3  5
3  4  6

In [18]:
df.add_suffix('_col')

   A_col  B_col
0      1      3
1      2      4
2      3      5
3      4      6