In [10]:
import  numpy as np
import  pandas as  pd

In [11]:
# 方法一:等长度列表或Numpy数组的字典
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': np.array([1.5, 1.7, 3.6, 2.4, 2.9, 3.2])}
frame1 = pd.DataFrame(data)
frame1

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [12]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])
# 如果指定列的顺序,DataFrame的列将会按照指定顺序排列

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [13]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2
# 如果columns含有字典不包含的key,将会在结果中出现缺失值(不适用于index)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [14]:
# 方法二:包含字典的嵌套字典(字典的健作为列,内部字典的健作为行索引)
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop, dtype=np.float64)
print(frame3)
print(frame3.dtypes)

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
Nevada    float64
Ohio      float64
dtype: object

In [15]:
# 方法三:numpy ndarray构造DataFrame(或多维列表)
frame4 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                    columns=['a', 'b', 'c'], dtype=np.int32)
print(frame4)
print(frame4.dtypes)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
a    int32
b    int32
c    int32
dtype: object

In [16]:
# 方法四:Series构造的字典
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
frame5 = pd.DataFrame(d)
frame5

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0