In [ ]:
import pandas as pd

In [2]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
           ['Capitve', 'Wild', 'Capitve', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df1 = pd.DataFrame({'Max Speed' : [390., 350., 30., 20.]},
                    index=index)
df1

                Max Speed
Animal Type
Falcon Capitve      390.0
       Wild         350.0
Parrot Capitve       30.0
       Wild          20.0

In [3]:
df1.groupby(level=0).mean() # 使用level参数对不同级别的层次索引进行分组

        Max Speed
Animal
Falcon      370.0
Parrot       25.0

In [4]:
df1.groupby(level=1).mean()

         Max Speed
Type
Capitve      210.0
Wild         185.0