In [ ]:
import pandas as pd
import  numpy as np

people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values

In [5]:
people

               a         b         c         d         e
Joe    -1.540104  0.119772  0.155778  0.149201  1.013837
Steve   0.460286 -0.022494  0.341994  0.412243  1.287179
Wes    -0.174209       NaN       NaN  0.968750 -1.352073
Jim     0.926480 -1.043118 -0.194518  0.699804  0.375059
Travis -0.407680  1.089735 -1.260231  0.072403 -1.636857

In [6]:
people.groupby(len).sum() #  If by is a function, it’s called on each value of the object’s index

          a         b         c         d         e
3 -0.787833 -0.923346 -0.038739  1.817754  0.036823
5  0.460286 -0.022494  0.341994  0.412243  1.287179
6 -0.407680  1.089735 -1.260231  0.072403 -1.636857

In [7]:
ser = pd.Series(people.index)
ser.index = ser.values
ser

Joe          Joe
Steve      Steve
Wes          Wes
Jim          Jim
Travis    Travis
dtype: object

In [8]:
def newlen(x):
    
    return len(x)
people.groupby(ser.apply(newlen)).sum() # 与上等价

          a         b         c         d         e
3 -0.787833 -0.923346 -0.038739  1.817754  0.036823
5  0.460286 -0.022494  0.341994  0.412243  1.287179
6 -0.407680  1.089735 -1.260231  0.072403 -1.636857

In [9]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -1.540104  0.119772  0.155778  0.149201 -1.352073
  two  0.926480 -1.043118 -0.194518  0.699804  0.375059
5 one  0.460286 -0.022494  0.341994  0.412243  1.287179
6 two -0.407680  1.089735 -1.260231  0.072403 -1.636857