In [ ]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df

In [3]:
df.rename(index=str, columns={"A": "a", "B": "c"}) # Alter axes labels.

   a  c
0  1  4
1  2  5
2  3  6

In [4]:
df.rename(index=str, columns={"A": "a"})

   a  B
0  1  4
1  2  5
2  3  6

In [5]:
df.rename(str.lower, axis='columns') # 等价于df.columns.str.lower()

   a  b
0  1  4
1  2  5
2  3  6

In [6]:
df.rename({1: 2, 2: 4}, axis='index')

   A  B
0  1  4
2  2  5
4  3  6

In [7]:
df.rename(index={1: 12, 2: 14}, columns={"A": "a", "B": "c"})

    a  c
0   1  4
12  2  5
14  3  6

In [9]:
df.rename(index=str, columns={"A": "a"}, inplace=True)
print(df)
print(df.index) # index数据类型为字符串

   a  B
0  1  4
1  2  5
2  3  6
Index(['0', '1', '2'], dtype='object')