In [ ]:
import  pandas as pd

'''
subset : column label or sequence of labels, optional
    Only consider certain columns for identifying duplicates, by
    default use all of the columns

keep : {'first', 'last', False}, default 'first'
    - 'first' : Mark duplicates as ``True`` except for the first
      occurrence.
    - 'last' : Mark duplicates as ``True`` except for the last
      occurrence.
    - ``False`` : Mark all duplicates as ``True``.
'''
animals = pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama'])
animals

In [14]:
animals.duplicated() # 默认keep='first'

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [15]:
animals.duplicated(keep='last')

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [16]:
animals.duplicated(keep=False) # 所有重复项都为True

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [17]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [18]:
'''
subset : column label or sequence of labels, optional
    Only consider certain columns for identifying duplicates, by
    default use all of the columns
    
keep : {'first', 'last', False}, default 'first'
    - ``first`` : Drop duplicates except for the first occurrence.
    - ``last`` : Drop duplicates except for the last occurrence.
    - False : Drop all duplicates.
    
inplace : boolean, default False
    Whether to drop duplicates in place or to return a copy
'''
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [19]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [23]:
data['v1'] = range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [21]:
data.drop_duplicates(subset=['k1']) # 默认keep='frist',删除第一次出现的重复项

    k1  k2  v1
0  one   1   0
1  two   1   1

In [26]:
data.duplicated(subset=['k1', 'k2'], keep='last')

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [28]:
data.drop_duplicates(subset=['k1', 'k2'], keep='last') # 删除重复项,除了最后一次出现

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6