## 缺失值检查
1.  isnull/isna
2.  notnull/notna

In [ ]:
import numpy as np
import  pandas as pd

ser = pd.Series([5, 6, np.NaN])
ser

In [11]:
ser.isna()

0    False
1    False
2     True
dtype: bool

In [13]:
ser.notna()

0     True
1     True
2    False
dtype: bool

In [12]:
df = pd.DataFrame({'age': [5, 6, np.NaN],
                    'born': [pd.NaT, pd.Timestamp('1939-05-27'),
                             pd.Timestamp('1940-04-25')],
                    'name': ['Alfred', 'Batman', ''],
                    'toy': [None, 'Batmobile', 'Joker']})
df

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [5]:
df.isnull()

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

In [9]:
df.notnull()

     age   born  name    toy
0   True  False  True  False
1   True   True  True   True
2  False   True  True   True