In [1]:
import  pandas as pd

s = pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama', 'hippo'], name='animal')
'''
def isin(self, values):

    Check whether `values` are contained in Series.
'''
s.isin(['cow', 'lama'])

0     True
1     True
2     True
3    False
4     True
5    False
Name: animal, dtype: bool

In [2]:
s.isin(['lama'])

0     True
1    False
2     True
3    False
4     True
5    False
Name: animal, dtype: bool

In [3]:
df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                   index=['falcon', 'dog'])
df

        num_legs  num_wings
falcon         2          2
dog            4          0

In [4]:
'''
def isin(self, values):

    Whether each element in the DataFrame is contained in values.
'''
df.isin([0, 2])

        num_legs  num_wings
falcon      True       True
dog        False       True

In [6]:
df.isin({'num_legs': [2, 3]}) # If`values` is a dict, the keys must be the column names,which must match.

        num_legs  num_wings
falcon      True      False
dog        False      False

In [7]:
other = pd.DataFrame({'num_legs': [8, 2],'num_wings': [0, 2]},
                      index=['spider', 'falcon'])
other

        num_legs  num_wings
spider         8          0
falcon         2          2

In [8]:
s = other.iloc[:, 1] #  If `values` is a Series, that's the index. 
s

spider    0
falcon    2
Name: num_wings, dtype: int64

In [9]:
df.isin(s)

        num_legs  num_wings
falcon      True       True
dog        False      False

In [10]:
df.isin(other) # If `values` is a DataFrame,then both the index and column labels must match.

        num_legs  num_wings
falcon      True       True
dog        False      False