In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(1000, 4),
                   index=pd.date_range('1/1/2000', periods=1000),
                   columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
df

                    A          B          C          D
2000-01-01   0.599661   1.955920   0.902330  -0.464754
2000-01-02   2.191576   1.889285   0.429161  -1.735085
2000-01-03   2.109386   1.409622  -1.009975  -1.484571
2000-01-04   3.671248   1.447874  -0.604315  -0.618862
2000-01-05   2.643638  -0.005747  -0.246538  -0.937903
...               ...        ...        ...        ...
2002-09-22  14.173756  33.636322  34.610573  37.165176
2002-09-23  13.881934  33.713171  34.949423  38.673282
2002-09-24  15.343079  33.848993  35.879691  38.484594
2002-09-25  12.928506  34.213690  36.409062  36.897276
2002-09-26  13.307155  34.413964  35.492193  36.856935

[1000 rows x 4 columns]

In [3]:
df2 = df.iloc[:20]
df2

                   A         B         C         D
2000-01-01  0.599661  1.955920  0.902330 -0.464754
2000-01-02  2.191576  1.889285  0.429161 -1.735085
2000-01-03  2.109386  1.409622 -1.009975 -1.484571
2000-01-04  3.671248  1.447874 -0.604315 -0.618862
2000-01-05  2.643638 -0.005747 -0.246538 -0.937903
2000-01-06  2.099462 -0.722937  3.673270 -0.147521
2000-01-07  1.288865 -0.594614  2.593199 -1.496812
2000-01-08  0.908267 -0.556250  1.934506 -3.510854
2000-01-09 -1.161760 -1.767196  1.111445 -2.623212
2000-01-10  0.010924 -2.130556  0.903252 -3.494533
2000-01-11  0.525155 -3.419245  0.926649 -4.939135
2000-01-12  0.043734 -3.487827  2.166198 -4.287290
2000-01-13  1.492647 -5.021771  0.518284 -3.956368
2000-01-14  0.961215 -6.134818  0.878571 -4.498288
2000-01-15 -0.541940 -6.066056  2.368872 -4.606789
2000-01-16 -0.439704 -5.852342  2.652357 -3.506632
2000-01-17 -0.247483 -7.105736  3.114309 -3.338202
2000-01-18 -0.459164 -6.222750  3.051629 -3.490874
2000-01-19 -2.054006 -6.448128  2.873152 -4.221284
2000-01-20 -2.142233 -5.401916  3.229647 -5.155165

In [4]:
# 第一个数据的计算:pd.Series([df['A'][0], df['A'][1], df['A'][2]]).corr(pd.Series([df['B'][0], df['B'][1], df['B'][2]]))
# 第二个数据的计算:pd.Series([df['A'][1], df['A'][2], df['A'][3]]).corr(pd.Series([df['B'][1], df['B'][2], df['B'][3]]))
# 第三个数据的计算:pd.Series([df['A'][2], df['A'][3], df['A'][4]]).corr(pd.Series([df['B'][2], df['B'][3], df['B'][4]]))
# ......
df2['A'].rolling(window=3).corr(df2['B'])

2000-01-01         NaN
2000-01-02         NaN
2000-01-03   -0.556160
2000-01-04   -0.394036
2000-01-05    0.202078
2000-01-06    0.999844
2000-01-07    0.692955
2000-01-08   -0.995339
2000-01-09    0.985129
2000-01-10    0.680412
2000-01-11   -0.860564
2000-01-12   -0.510487
2000-01-13   -0.932278
2000-01-14   -0.694539
2000-01-15    0.661630
2000-01-16   -0.642892
2000-01-17   -0.873230
2000-01-18   -0.930511
2000-01-19   -0.373531
2000-01-20   -0.356081
Freq: D, dtype: float64

In [5]:
close_px_all = pd.read_csv('stock_px_2.csv',
                           parse_dates=True, index_col=0)

In [6]:
close_px_all.head()

            AAPL   MSFT    XOM     SPX
2003-01-02  7.40  21.11  29.22  909.03
2003-01-03  7.45  21.14  29.24  908.59
2003-01-06  7.45  21.52  29.96  929.01
2003-01-07  7.43  21.93  28.95  922.93
2003-01-08  7.28  21.31  28.83  909.93

In [7]:
spx_px = close_px_all['SPX']

In [8]:
spx_rets = spx_px.pct_change() # 前元素和先前元素之间的百分比变化
spx_rets.head()

2003-01-02         NaN
2003-01-03   -0.000484
2003-01-06    0.022474
2003-01-07   -0.006545
2003-01-08   -0.014086
Name: SPX, dtype: float64

In [9]:
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
returns = close_px.pct_change()
returns.head()

                AAPL      MSFT       XOM
2003-01-02       NaN       NaN       NaN
2003-01-03  0.006757  0.001421  0.000684
2003-01-06  0.000000  0.017975  0.024624
2003-01-07 -0.002685  0.019052 -0.033712
2003-01-08 -0.020188 -0.028272 -0.004145

In [ ]:
# 计算滚动相关性
relate = returns.AAPL.rolling(125, min_periods=100).corr(spx_rets)
relate.plot()

In [ ]:
# 一次计算多个滚动相关性
relate1 = returns.rolling(125, min_periods=100).corr(spx_rets)
relate1.plot()