In [39]:
import pandas as pd
import numpy as np

people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan  # Add a few NA values
people

               a         b         c         d         e
Joe    -1.090577 -0.069222 -0.498907 -0.154092  0.673856
Steve   0.086184 -1.726535 -0.869632 -0.192265  1.147788
Wes    -1.610391       NaN       NaN  2.318417  0.378051
Jim     0.038999 -0.111999 -0.922771  0.632313  0.832629
Travis -0.556759  0.403296 -0.424165 -0.156359 -1.294784

In [40]:
#  If by is a function, it’s called on each value of the object’s index
people.groupby(len).sum()

          a         b         c         d         e
3 -2.661969 -0.181221 -1.421678  2.796639  1.884537
5  0.086184 -1.726535 -0.869632 -0.192265  1.147788
6 -0.556759  0.403296 -0.424165 -0.156359 -1.294784

In [41]:
ser = pd.Series(people.index)
ser.index = ser.values
ser

Joe          Joe
Steve      Steve
Wes          Wes
Jim          Jim
Travis    Travis
dtype: object

In [42]:
def newlen(x):
    return len(x)


ser.apply(newlen)

Joe       3
Steve     5
Wes       3
Jim       3
Travis    6
dtype: int64

In [43]:
people.groupby(newlen).sum()  # 与上等价

          a         b         c         d         e
3 -2.661969 -0.181221 -1.421678  2.796639  1.884537
5  0.086184 -1.726535 -0.869632 -0.192265  1.147788
6 -0.556759  0.403296 -0.424165 -0.156359 -1.294784

In [44]:
people.groupby(ser.apply(newlen)).sum()  # 与上等价

          a         b         c         d         e
3 -2.661969 -0.181221 -1.421678  2.796639  1.884537
5  0.086184 -1.726535 -0.869632 -0.192265  1.147788
6 -0.556759  0.403296 -0.424165 -0.156359 -1.294784

In [45]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -1.610391 -0.069222 -0.498907 -0.154092  0.378051
  two  0.038999 -0.111999 -0.922771  0.632313  0.832629
5 one  0.086184 -1.726535 -0.869632 -0.192265  1.147788
6 two -0.556759  0.403296 -0.424165 -0.156359 -1.294784