In [83]:
import numpy as np
import  pandas as pd

In [84]:
df = pd.DataFrame({'key1' : ['a', np.nan, 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.116973  0.057135
1  NaN  two  1.318829  0.303400
2    b  one  0.279174 -0.790594
3    b  two -0.462544  1.375454
4    a  one  1.035100 -0.333029

In [85]:
grouped = df['data1'].groupby(df['key1'])

In [86]:
grouped # SeriesGroupBy对象

In [87]:
for group in grouped:
    print(group) # 分组中任何缺失值将被排除在结果之外

('a', 0   -0.116973
4    1.035100
Name: data1, dtype: float64)
('b', 2    0.279174
3   -0.462544
Name: data1, dtype: float64)

In [88]:
grouped.mean() # 计算每一个分组下的均值

key1
a    0.459063
b   -0.091685
Name: data1, dtype: float64

In [89]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean() # 使用多个组分组
means # 返回一个包含唯一键对的多层索引

key1  key2
a     one     0.459063
b     one     0.279174
      two    -0.462544
Name: data1, dtype: float64

In [90]:
means.unstack() # unstack:行索引转为列索引

key2       one       two
key1
a     0.459063       NaN
b     0.279174 -0.462544

In [91]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean() # If an ndarray is passed, the values are used as-is determine the groups.

California  2005    1.318829
            2006    0.279174
Ohio        2005   -0.289758
            2006    1.035100
Name: data1, dtype: float64

In [92]:
df['key1'] = states
df['key2'] = years

In [93]:
df

         key1  key2     data1     data2
0        Ohio  2005 -0.116973  0.057135
1  California  2005  1.318829  0.303400
2  California  2006  0.279174 -0.790594
3        Ohio  2005 -0.462544  1.375454
4        Ohio  2006  1.035100 -0.333029

In [94]:
means = df['data1'].\
    groupby([df['key1'], df['key2']]).mean() # 等同于:df.groupby([df['key1'], df['key2']]).mean()['data1']
means # 与上等价

key1        key2
California  2005    1.318829
            2006    0.279174
Ohio        2005   -0.289758
            2006    1.035100
Name: data1, dtype: float64

In [95]:
type(df.groupby('key1')) # DataFrameGroupBy对象

pandas.core.groupby.generic.DataFrameGroupBy

In [96]:
df.groupby(df['key1']).mean() # 默认情况下,对剩下的所有列进行分组

                   key2     data1     data2
key1
California  2005.500000  0.799002 -0.243597
Ohio        2005.333333  0.151861  0.366520

In [97]:
df.groupby([df['key1'], df['key2']]).mean()

                    data1     data2
key1       key2
California 2005  1.318829  0.303400
           2006  0.279174 -0.790594
Ohio       2005 -0.289758  0.716295
           2006  1.035100 -0.333029

In [98]:
df.groupby([df['key1'], df['key2']]).size() # size方法返回一个包含组大小信息的Series

key1        key2
California  2005    1
            2006    1
Ohio        2005    2
            2006    1
dtype: int64

In [99]:
df.groupby([df['key1'], df['key2']], as_index=True).mean() # 默认as_index=True

                    data1     data2
key1       key2
California 2005  1.318829  0.303400
           2006  0.279174 -0.790594
Ohio       2005 -0.289758  0.716295
           2006  1.035100 -0.333029

In [100]:
# 通过groupby传递as_index=False来禁用分组健作为索引的行为
df.groupby([df['key1'], df['key2']], as_index=False).mean()

         key1  key2     data1     data2
0  California  2005  1.318829  0.303400
1  California  2006  0.279174 -0.790594
2        Ohio  2005 -0.289758  0.716295
3        Ohio  2006  1.035100 -0.333029