In [1]:
import numpy as np
import  pandas as pd

In [2]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values

In [3]:
people

               a         b         c         d         e
Joe     0.370474 -0.707567  0.715353 -0.724899  0.393255
Steve   0.052887  0.855273 -0.571003 -0.706867  0.219943
Wes    -0.548363       NaN       NaN  0.197286 -1.197262
Jim     1.589774  0.032303  0.737815  0.417670  1.253697
Travis -0.068376 -1.598937 -1.471771  1.032636  0.621574

In [4]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [14]:
by_column = people.groupby(mapping, axis=1) # 利用字典的映射关系进行分组(对列进行分组)

In [15]:
by_column.sum()

            blue       red
Joe    -0.009546  0.056162
Steve  -1.277871  1.128103
Wes     0.197286 -1.745625
Jim     1.155485  2.875774
Travis -0.439135 -1.045740

In [21]:
mapping1 = {'Joe': 'good', 'Steve': 'just so so', 'Wes': 'just so so',
           'Jim': 'good', 'Travis': 'just so so'}

In [24]:
by_column1 = people.groupby(mapping1, axis=0) # 对行进行分组

In [25]:
by_column1.sum()

                   a         b         c         d         e
good        1.960248 -0.675264  1.453167 -0.307229  1.646952
just so so -0.563852 -0.743664 -2.042774  0.523055 -0.355745

In [ ]:
# Series与字典类似(即也存在映射关系)
map_series = pd.Series(mapping)

In [17]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [18]:
people.groupby(map_series, axis=1).sum() # If a dict or Series is passed, the Series or dict VALUES will be used to determine the groups

            blue       red
Joe    -0.009546  0.056162
Steve  -1.277871  1.128103
Wes     0.197286 -1.745625
Jim     1.155485  2.875774
Travis -0.439135 -1.045740

In [19]:
people.groupby(map_series, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

In [20]:
arr = np.array(['red', 'red', 'blue', 'blue', 'red'])
by_column1 = people.groupby(arr, axis=1)
by_column1.sum()

            blue       red
Joe    -0.009546  0.056162
Steve  -1.277871  1.128103
Wes     0.197286 -1.745625
Jim     1.155485  2.875774
Travis -0.439135 -1.045740