In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                   'key2': ['one', 'two', 'one', 'two', 'one'],
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.086640  0.177041
1    a  two -1.890236 -0.613293
2    b  one -0.341496  0.267180
3    b  two -0.165470  0.209717
4    a  one -1.493599  1.702497

In [3]:
# 通过for循环遍历
for name, group in df.groupby(df['key1']):
    # GroupBy对象支持迭代,返回一个包含组名和数据块的2为元组序列
    print('group:', name)
    print(group)

group: a
  key1 key2     data1     data2
0    a  one -1.086640  0.177041
1    a  two -1.890236 -0.613293
4    a  one -1.493599  1.702497
group: b
  key1 key2     data1     data2
2    b  one -0.341496  0.267180
3    b  two -0.165470  0.209717

In [4]:
for (k1, k2), group in df.groupby([df['key1'], df['key2']]):  # 多个分组健
    print('group:', (k1, k2))
    print(group)

group: ('a', 'one')
  key1 key2     data1     data2
0    a  one -1.086640  0.177041
4    a  one -1.493599  1.702497
group: ('a', 'two')
  key1 key2     data1     data2
1    a  two -1.890236 -0.613293
group: ('b', 'one')
  key1 key2     data1    data2
2    b  one -0.341496  0.26718
group: ('b', 'two')
  key1 key2    data1     data2
3    b  two -0.16547  0.209717

In [5]:
# 通过列表进行遍历
print(list(df.groupby(df['key1'])))  # 2个元组组成的列表

[('a',   key1 key2     data1     data2
0    a  one -1.086640  0.177041
1    a  two -1.890236 -0.613293
4    a  one -1.493599  1.702497), ('b',   key1 key2     data1     data2
2    b  one -0.341496  0.267180
3    b  two -0.165470  0.209717)]

In [6]:
# 通过字典进行遍历
pieces = dict(list(df.groupby(df['key1'])))  # 运用了字典的构造方法
print(pieces)
print(pieces['a'])

{'a':   key1 key2     data1     data2
0    a  one -1.086640  0.177041
1    a  two -1.890236 -0.613293
4    a  one -1.493599  1.702497, 'b':   key1 key2     data1     data2
2    b  one -0.341496  0.267180
3    b  two -0.165470  0.209717}
  key1 key2     data1     data2
0    a  one -1.086640  0.177041
1    a  two -1.890236 -0.613293
4    a  one -1.493599  1.702497