In [ ]:
import  numpy as np
import  pandas as pd

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.423832 -0.483271
1    a  two  0.580287 -0.451399
2    b  one -0.624898 -0.729430
3    b  two  0.237497  0.020941
4    a  one -0.050832 -1.602746

In [3]:
# 通过for循环遍历
for name, group in df.groupby(df['key1']):
	# GroupBy对象支持迭代,返回一个包含组名和数据块的2为元组序列
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.423832 -0.483271
1    a  two  0.580287 -0.451399
4    a  one -0.050832 -1.602746
b
  key1 key2     data1     data2
2    b  one -0.624898 -0.729430
3    b  two  0.237497  0.020941

In [4]:
for (k1, k2), group in df.groupby([df['key1'], df['key2']]): # 多个分组健
    print((k1, k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.423832 -0.483271
4    a  one -0.050832 -1.602746
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.580287 -0.451399
('b', 'one')
  key1 key2     data1    data2
2    b  one -0.624898 -0.72943
('b', 'two')
  key1 key2     data1     data2
3    b  two  0.237497  0.020941

In [5]:
# 通过列表进行遍历
print(list(df.groupby(df['key1']))) # 2个元组组成的列表

[('a',   key1 key2     data1     data2
0    a  one -0.423832 -0.483271
1    a  two  0.580287 -0.451399
4    a  one -0.050832 -1.602746), ('b',   key1 key2     data1     data2
2    b  one -0.624898 -0.729430
3    b  two  0.237497  0.020941)]

In [6]:
# 通过字典进行遍历
pieces = dict(list(df.groupby(df['key1']))) # 运用了字典的构造方法
print(pieces)
print(pieces['a'])

{'a':   key1 key2     data1     data2
0    a  one -0.423832 -0.483271
1    a  two  0.580287 -0.451399
4    a  one -0.050832 -1.602746, 'b':   key1 key2     data1     data2
2    b  one -0.624898 -0.729430
3    b  two  0.237497  0.020941}
  key1 key2     data1     data2
0    a  one -0.423832 -0.483271
1    a  two  0.580287 -0.451399
4    a  one -0.050832 -1.602746

In [7]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [8]:
grouped = df.groupby(df.dtypes, axis=1) # 默认axis=0

In [9]:
for dtype, group in grouped:
	print(dtype)
	print(group)

float64
      data1     data2
0 -0.423832 -0.483271
1  0.580287 -0.451399
2 -0.624898 -0.729430
3  0.237497  0.020941
4 -0.050832 -1.602746
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

In [10]:
grouped.size()

float64    2
object     2
dtype: int64