In [5]:
import pandas as pd

df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                   index=['falcon', 'dog'])
df

        num_legs  num_wings
falcon         2          2
dog            4          0

In [6]:
# Iterate over DataFrame rows as (index, Series) pairs.
df.iterrows() # 生成器

In [7]:
# index
# index该行的索引
next(df.iterrows()) # 数据类型为元组

('falcon',
 num_legs     2
 num_wings    2
 Name: falcon, dtype: int64)

In [8]:
for i, j in df.iterrows():
    print(i, '\n', j)

falcon
 num_legs     2
num_wings    2
Name: falcon, dtype: int64
dog
 num_legs     4
num_wings    0
Name: dog, dtype: int64