In [7]:
import pandas as pd

In [8]:
d1 = {'col1': [1, 2], 'col2': [3, 4]}
df1 = pd.DataFrame(data=d1)
df1

   col1  col2
0     1     3
1     2     4

In [9]:
df1_transposed = df1.T # or df1.transpose()
df1_transposed

      0  1
col1  1  2
col2  3  4

In [10]:
d2 = {'name': ['Alice', 'Bob'],
      'score': [9.5, 8],
      'employed': [False, True],
      'kids': [0, 0]}
df2 = pd.DataFrame(data=d2)
df2

    name  score  employed  kids
0  Alice    9.5     False     0
1    Bob    8.0      True     0

In [11]:
df2_transposed = df2.T # or df2.transpose()
df2_transposed

              0     1
name      Alice   Bob
score       9.5   8.0
employed  False  True
kids          0     0

In [12]:
print(df2.dtypes)
# When the DataFrame has mixed dtypes, we get a transposed DataFrame with the object dtype:
print(df2_transposed.dtypes)

name         object
score       float64
employed       bool
kids          int64
dtype: object
0    object
1    object
dtype: object