In [35]:
import numpy as np
import pandas as pd

ser = pd.Series([1, 2], dtype='int32')
ser

0    1
1    2
dtype: int32

In [36]:
ser_str = ser.astype('str')
ser_str

0    1
1    2
dtype: object

In [37]:
ser  # ser不变

0    1
1    2
dtype: int32

In [38]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                  columns=['a', 'b', 'c'], dtype=np.int32)
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [39]:
df_float = df.astype(np.float64)
df_float

     a    b    c
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0

In [40]:
df  # df不变

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9