In [23]:
import numpy as np
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
df = pd.DataFrame([[1.4, np.nan],
                   [7.1, -4.5],
                   [np.nan, np.nan],
                   [0.75, -1.3],
                   [3.1, 3.2],
                   [1, 3],
                   [2, 5]],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
e  3.10  3.2
f  1.00  3.0
g  2.00  5.0

In [24]:
s.head(n=4)  # 显示前n行(默认n=5)

0    1
1    2
2    3
3    4
dtype: int64

In [25]:
df.head()

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
e  3.10  3.2

In [26]:
df.tail(2)  # 显示后n行(默认n=5)

   one  two
f  1.0  3.0
g  2.0  5.0

In [27]:
s.describe()  # 生成描述性统计数据

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [28]:
df.describe()

            one       two
count  6.000000  5.000000
mean   2.558333  1.080000
std    2.377902  3.884199
min    0.750000 -4.500000
25%    1.100000 -1.300000
50%    1.700000  3.000000
75%    2.825000  3.200000
max    7.100000  5.000000

In [29]:
# Print a concise summary of a DataFrame.
df.info()  # 第一列非空数为6;第二列非空数为5

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, a to g
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     6 non-null      float64
 1   two     5 non-null      float64
dtypes: float64(2)
memory usage: 168.0+ bytes