In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3})
df

   a      b    c
0  1   True  1.0
1  2  False  2.0
2  1   True  1.0
3  2  False  2.0
4  1   True  1.0
5  2  False  2.0

In [3]:
# Return a subset of the DataFrame’s columns based on the column dtypes.
df.select_dtypes(include='bool')  # 选择数据类型为bool类型的列

       b
0   True
1  False
2   True
3  False
4   True
5  False

In [4]:
df.select_dtypes(include=['float64'])

     c
0  1.0
1  2.0
2  1.0
3  2.0
4  1.0
5  2.0

In [5]:
df.select_dtypes(exclude=['int64'])  # 选择数据类型不是int64的列

       b    c
0   True  1.0
1  False  2.0
2   True  1.0
3  False  2.0
4   True  1.0
5  False  2.0