In [ ]:
import  numpy as np
import  pandas as pd

idx = pd.MultiIndex.from_arrays([
     ['warm', 'warm', 'cold', 'cold'],
     ['dog', 'falcon', 'fish', 'spider']],
     names=['blooded', 'animal'])
s = pd.Series([4, 2, np.nan, 8], name='legs', index=idx)
s

In [14]:
pd.Series([]).prod() # By default, the product of an empty or all-NA Series is 1

1.0

In [12]:
s.prod()

64.0

In [13]:
s.prod(level='blooded') # 等价于:s.prod(level=0)

blooded
warm    8.0
cold    8.0
Name: legs, dtype: float64

In [19]:
df = pd.DataFrame([(np.nan, .3), (.0, .6), (.6, .0), (.2, .1)],
                   columns=['dogs', 'cats'])
df

   dogs  cats
0   NaN   0.3
1   0.0   0.6
2   0.6   0.0
3   0.2   0.1

In [20]:
df.prod()

dogs    0.0
cats    0.0
dtype: float64

In [21]:
df.prod(axis=1) # 默认axis=0

0    0.30
1    0.00
2    0.00
3    0.02
dtype: float64

In [22]:
'''
skipna : bool, default True
    Exclude NA/null values when computing the result.
'''
df.prod(skipna=False)

dogs    NaN
cats    0.0
dtype: float64