In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 1, 2, 3, 5, 8])
s

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int64

In [3]:
s.diff()

0    NaN
1    0.0
2    1.0
3    1.0
4    2.0
5    3.0
dtype: float64

In [4]:
# 2.0 - 1.0 = 1.0
# 3.0 - 1.0 = 2.0
# 5.0 - 2.0 = 3.0
# 8.0 - 3.0 = 5.0
s.diff(periods=2)

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    5.0
dtype: float64

In [5]:
# 5.0 - 8.0 = -3.0
# 3.0 - 5.0 = -2.0
# 2.0 - 3.0 = -1.0
# 1.0 - 2.0 = -1.0
# 1.0 - 1.0 = 0.0
s.diff(periods=-1)

0    0.0
1   -1.0
2   -1.0
3   -2.0
4   -3.0
5    NaN
dtype: float64

In [10]:
s1 = pd.Series((pd.date_range(start='2012-04-01', periods=20)))
s1

0    2012-04-01
1    2012-04-02
2    2012-04-03
3    2012-04-04
4    2012-04-05
5    2012-04-06
6    2012-04-07
7    2012-04-08
8    2012-04-09
9    2012-04-10
10   2012-04-11
11   2012-04-12
12   2012-04-13
13   2012-04-14
14   2012-04-15
15   2012-04-16
16   2012-04-17
17   2012-04-18
18   2012-04-19
19   2012-04-20
dtype: datetime64[ns]

In [11]:
s1.diff()  # 日期时间的离差

0       NaT
1    1 days
2    1 days
3    1 days
4    1 days
5    1 days
6    1 days
7    1 days
8    1 days
9    1 days
10   1 days
11   1 days
12   1 days
13   1 days
14   1 days
15   1 days
16   1 days
17   1 days
18   1 days
19   1 days
dtype: timedelta64[ns]

In [6]:
df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
                   'b': [1, 1, 2, 3, 5, 8],
                   'c': [1, 4, 9, 16, 25, 36]})
df

   a  b   c
0  1  1   1
1  2  1   4
2  3  2   9
3  4  3  16
4  5  5  25
5  6  8  36

In [7]:
# 默认axis=0, periods=1
df.diff(axis=1, periods=2)

    a   b   c
0 NaN NaN   0
1 NaN NaN   2
2 NaN NaN   6
3 NaN NaN  12
4 NaN NaN  20
5 NaN NaN  30