In [ ]:
import numpy as np
import  pandas as pd

In [186]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     index=pd.period_range('1-2000', '12-2001',
                                           freq='M'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

         Colorado     Texas  New York      Ohio
2000-01 -0.855046  3.226601  3.763385 -0.698061
2000-02  0.716699 -1.770759 -0.872069 -2.515107
2000-03  3.066675 -1.130784 -0.049076  0.960968
2000-04  0.124231 -1.230777 -0.977024 -0.575223
2000-05 -1.443546  1.860692  0.877173 -1.284495
2000-06 -0.590515 -1.172447 -0.040788 -0.918575
2000-07  1.316777  0.882647  0.538420  1.220044
2000-08  1.187872 -0.405577 -0.108791 -0.407870
2000-09 -0.646122 -0.157097  0.795008 -1.565750
2000-10 -0.786831  0.210943  2.244340 -0.743482
2000-11  1.054484 -0.197884  0.024197 -2.145225
2000-12 -0.825941  1.595743  0.786787 -0.397698
2001-01 -0.473390 -1.288555  1.680527  1.608320
2001-02  0.313959  0.741128  1.190632 -0.485854
2001-03  1.184149  0.651143  0.428644 -1.728999
2001-04  0.477723 -0.481437  0.471939  0.765780
2001-05 -0.178624 -0.193594 -1.213438 -0.153241
2001-06  0.861826  0.568004 -0.704831 -0.059040
2001-07  0.630198 -0.444908  0.404763 -1.535275
2001-08  2.137351  1.071406 -0.480460  1.124208
2001-09  1.131400  0.040553 -0.630843 -1.819887
2001-10 -0.531410  0.063691  0.183831  0.323864
2001-11 -0.955395 -0.442989 -0.582136  0.345659
2001-12 -0.026140  0.964114  0.886085 -0.747395

In [187]:
annual_frame = frame.resample('A-DEC').mean() # 向下采样

In [188]:
print(annual_frame)
print(annual_frame.index.freq)

      Colorado     Texas  New York      Ohio
2000  0.193228  0.142608  0.581797 -0.755873
2001  0.380971  0.104046  0.136226 -0.196822
<YearEnd: month=12>

In [189]:
# 注意:在时间跨度的重新采样中,.asfreq(),.ffill()方法只能用于向上采样
print(annual_frame.resample('Q-DEC').asfreq()) # 向上采样
print(annual_frame.resample('Q-DEC').ffill())

        Colorado     Texas  New York      Ohio
2000Q1  0.193228  0.142608  0.581797 -0.755873
2000Q2       NaN       NaN       NaN       NaN
2000Q3       NaN       NaN       NaN       NaN
2000Q4       NaN       NaN       NaN       NaN
2001Q1  0.380971  0.104046  0.136226 -0.196822
2001Q2       NaN       NaN       NaN       NaN
2001Q3       NaN       NaN       NaN       NaN
2001Q4       NaN       NaN       NaN       NaN
        Colorado     Texas  New York      Ohio
2000Q1  0.193228  0.142608  0.581797 -0.755873
2000Q2  0.193228  0.142608  0.581797 -0.755873
2000Q3  0.193228  0.142608  0.581797 -0.755873
2000Q4  0.193228  0.142608  0.581797 -0.755873
2001Q1  0.380971  0.104046  0.136226 -0.196822
2001Q2  0.380971  0.104046  0.136226 -0.196822
2001Q3  0.380971  0.104046  0.136226 -0.196822
2001Q4  0.380971  0.104046  0.136226 -0.196822